.AccessoriesContainer {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.Accessories {

  &__Title {
    opacity: 0.5;
  }

  &__noGoods {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__Img {
    width: 300px;
    margin: 0 auto;
    opacity: 0.5;
  }
}
