.swiper {
  overflow: hidden;
  min-width: 0;
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical {
  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide-visible,
  .swiper-slide-fully-visible {
    height: auto !important;
  }
}

.swiper-autoheight {
  .swiper-wrapper {
    align-items: flex-start;
  }
}

.swiper-initialized {
  .swiper-slide {
    flex-shrink: 0;

    // transition-property: transform;
  }
}

.swiper-android {

  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0, 0, 0);
  }
}

.swiper-button-lock {
  display: none !important;
}

.swiper-slide-thumb-active {
  border: rem(1) solid var(--primary-color) !important;
}