@import '../../../../../../../../../../App.scss';

.third-part {
  height: 40px;
  display: flex;
  gap: 8px;
  @include shop-buttons;

  path {
    transition: fill $default-trans-dur;
  }

  .is-liked path {
    fill: $red-color;
  }
}

