@import '../../utils/core.scss';

.Dropdown-control {
  background-color: $color-surf-2;
  border: 1px solid $color-surf-2;
  width: 136px;
  height: 40px;
  color: $color-white;
  cursor: pointer;

  &:active {
    border: 1px solid black;
  }

  @include onTablet {
    width: 187px;
  }

  @include onDesktop {
    width: 176px;
  }
}

.Dropdown-menu {
  background-color: $color-surf-2;
  border: 1px solid $color-surf-2;
  width: 136px;
  color: $color-white;

  &:active {
    border: 1px solid black;
  }

  @include onTablet {
    width: 187px;
  }

  @include onDesktop {
    width: 176px;
  }
}

.Dropdown-option {
  color: $color-white;
}

.Dropdown-option.is-selected {
  background-color: $color-surf-2;
  color: $color-white;
}
