@use '../../utils/variables.scss' as *;
@use '../../utils/mixins.scss' as *;

.select_container {
  position: relative;
  z-index: 1;
  width: 136px;
  height: 40px;
}

.dropdown_button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 136px;
  height: 40px;
  border: 1px solid $button-border-disabled;
  font-family: Mont-Regular, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: $main-background-white;
  color: $main-dark-gray;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $main-light-gray;
  }

  &:active {
    border: 1px solid $main-dark-gray;
  }
}



.dropdown_arrow {
  width: 16px;
  height: 16px;
  transition: all .5s ease-in-out;
  color: $button-border-default;
}

.rotate_180 {
  transform: rotate(180deg);
}

.main_option_container {
  width: 136px;
  height: fit-content;
  background-color: $main-background-white;
  border: 1px solid $button-border-disabled;
  box-sizing: border-box;
}

.dropdown_list {
  line-height: 32px;
  padding-left: 12px;
}

.dropdown_item {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Mont-Regular, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $main-light-gray;
  margin: 6px 0;

  &:hover {
    color: $main-dark-gray;
  }
}

.dropdown_button_first {
  @include on-tablet {
    width: 188px;
  }
  @include on-tablet {
    width: 176px;
  }
}