@import '../../styles/utils';

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100% !important;
  min-width: 0 !important;
  max-width: 100% !important;
}

.label {
  font-size: 12px;
  font-weight: 700;
  color: $color-secondary;
  margin-left: 2px;
}

.dropdownWrapper {
  position: relative;
  width: 100% !important;
  height: 40px;
}

.trigger {
  width: 100% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;
  padding: 0 10px;

  @include on-tablet {
    padding: 0 16px;
  }

  background-color: $color-white;
  border: 1px solid #b4bdc3;
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: $color-primary;
  cursor: pointer;
  transition: border-color 0.3s;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    border-color: $color-primary;
  }

  &.active {
    border-color: $color-primary;
  }
}

.trigger > *:not(.arrow) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.arrow {
  width: 16px;
  height: 16px;
  background-image: url('/img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
  flex-shrink: 0;
  flex-grow: 0;

  &.up {
    transform: rotate(180deg);
  }
}

/* Rozwijane menu */
.menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;

  width: 100% !important;
  min-width: 100%;

  background-color: $color-white;
  border: 1px solid $color-elements-bg;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 50;
  overflow: hidden;
}

.option {
  padding: 10px 12px;
  font-size: 14px;
  color: $color-secondary;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: #fafbfc;
    color: $color-primary;
  }

  &.selected {
    color: $color-primary;
    font-weight: 700;
    background-color: #fff;
  }
}
