@import '/src/components/colors.scss';

.shop_card {
  display: flex;
  align-items: center;
  margin-top: 25px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (max-width: 639px) {
    flex-direction: column;
    gap: 30px;
  }

  &_img {
    object-fit: contain;
    height: 368px;
    margin-right: 16px;

    @media screen and (max-width: 1199px) {
      max-width: 95%;
      max-height: 200px;
      min-height: 187px;
    }

    @media screen and (max-width: 639px) {
      max-height: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.02);
      transition: 1s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  &_text {
    text-decoration: none;
    color: $HOVER_BUTTON_COLOR;
  }

  &_second_font {
    color: $BUTTOM_TEXT_COLOR;
    font-size: 14px;
  }

  &_phone {
    background-color: $PHONE_CARD_COLOR;
  }

  &_tablet {
    background-color: $TABLET_CARD_COLOR;
  }

  &_accessories {
    background-color: $ACCESSORIES_CARD_COLOR;
  }
}