@import '../../../../styles/main';

.TechSpecs {
  color: $white-color;

  &>h3 {
    margin-bottom: 16px;

    @extend %h3;
  }

  @include on-tablet {
    grid-column: 1 / 3;
  }

  @include on-desctop {
    grid-column: 2 / 3;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 25px;
    border-top: 1px solid $elements-color;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @extend %text-body;

    &>p:first-child {
      color: $secondary-color;
    }
  }
}
