@import '../../../styles/vars.scss';

.square-link {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid var(--c-elements);
  border-width: 0 0 0 1px;

  transition: $transition-time;

  &:hover {
    border: 1px solid var(--c-primary);
  }
}