@use "../../utils/mixins" as *;

.card {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;

  @include grid;

  &__title {
    font-size: 22px;
    font-weight: 800;
    color: var(--primary-color);
    width: 288px;
    margin-bottom: 32px;

    @include for-tablet {
      grid-row: 4 / 5;
      grid-column: 1 / 10;
      width: fit-content;
      margin-bottom: 42px;
    }

    @include for-desktop {
      grid-column: 1 / 25;
    }
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 40px;

    @include for-tablet {
      flex-direction: row;
      grid-row: 5 / 11;
      grid-column: 1 / 5;
    }

    @include for-desktop {
      grid-column: 1 / 10;
    }

    &__container {
      height: 288px;
      width: 288px;
      margin: 0 auto 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: 'transform 0.5s ease-in-out';
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include for-tablet {
        order: 1;
        width: 100%;
        margin: 0 auto;
      }

      &__img {
        max-height: 100%;
        padding-top: 5px;
        object-position: center;
        object-fit: contain;
      }
    }

    &__picker {
      display: flex;
      z-index: 2;
      background-color: white;

      @include for-tablet {
        flex-direction: column;
        padding: 2px;
        grid-column: 1 / 2;
        grid-row: 5 / 10;
      }

      &__item {
        width: 50px;
        height: 50px;
        margin-right: 8px;
        border: 1px solid #C4C4C4;
        object-position: center;
        object-fit: contain;

        &:hover {
          scale: 115%;
        }

        @include for-tablet {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__colors {
    @include for-tablet {
      grid-column: 5 / 13;
      grid-row: 5 / 7;
    }

    @include for-desktop {
      grid-column: 10 / 25;
    }

    &__container {
      display: flex;

      &__item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        box-shadow: inset 0 0 0 2px #FFF;
        padding: 2px;
        margin-right: 8px;
        margin-bottom: 24px;
      }
    }

    &__paragraphs {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      width: 288px;

      @include for-tablet {
        width: 100%;
      }

      &__item {
        width: fit-content;
        font-weight: 700;
        font-size: 12px;
        color: var(--icons);
      }
    }

    &__separator {
      width: 288px;
      height: 1px;
      border: 1px solid var(--border-color);
      margin-bottom: 24px;

      @include for-tablet {
        width: 100%;
      }
    }
  }

  &__capacity {
    @include for-tablet {
      grid-column: 5 / 13;
      grid-row: 7 / 9;
    }

    @include for-desktop {
      grid-column: 10 / 25;
    }

    &__paragraph {
      font-size: 12px;
      font-weight: 600;
      color: var(--secondary-color);
      margin-bottom: 8px;
    }

    &__container {
      display: flex;
      width: 288px;
      margin-bottom: 24px;

      &__item {
        border: 1px solid var(--icons);
        font-size: 14px;
        line-height: 32px;
        font-weight: 500;
        text-align: center;
        margin-right: 8px;
        height: 32px;
        width: 64px;
        border-radius: 14px;

        &__active {
          color: #FFF;
          background-color: var(--primary-color);
        }
      }
    }

    &__separator {
      width: 288px;
      height: 1px;
      border: 1px solid var(--border-color);
      margin-bottom: 24px;

      @include for-tablet {
        width: 100%;
      }
    }
  }

  &__price {
    @include for-tablet {
      grid-column: 5 / 13;
      grid-row: 9 / 12;
    }

    @include for-desktop {
      grid-column: 10 / 25;
    }

    &__container {
      margin-bottom: 16px;
      display: flex;
      width: 288px;

      @include for-tablet {
        width: 100%;
      }
    }

    &__discount {
      height: 41px;
      min-width: 75px;
      line-height: 41px;
      text-align: center;
      font-weight: 800;
      font-size: 32px;
    }

    &__full {
      height: 41px;
      min-width: 80px;
      line-height: 41px;
      text-align: center;
      font-weight: 500;
      font-size: 22px;
      text-decoration: line-through;
    }

    &__add {
      line-height: 48px;
      margin-right: 8px;
      width: 231px;
      text-align: center;
      background-color: var(--primary-color);
      color: #FFF;
      font-size: 14px;
      font-weight: 700;
      border-radius: 14px;

      &:hover {
        box-shadow:
          3px 3px 3px var(--secondary-color),
          6px 6px 3px var(--border-color);
      }

      &::before {
        content: 'Add to cart';
        display: block;
      }

      &__added {
        color: #27AE60;
        background-color: #fff;
        border: 1px solid var(--border-color);

        &::before {
          content: 'Added to cart';
          display: block;
        }
      }
    }

    &__fav {
      background-image: url(../../../public/img/svg/fav_icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      width: 48px;
      height: 48px;
      border: 1px solid var(--icons);
      border-radius: 50%;

      &:hover {
        box-shadow:
          3px 3px 3px var(--secondary-color),
          6px 6px 3px var(--border-color);
      }

      &__selected {
        background-image: url(../../../public/img/svg/fav_icon_red.svg);
      }
    }
  }

  &__info {
    width: 288px;
    margin-bottom: 56px;

    @include for-tablet {
      width: 100%;
      grid-row: 12 / 13;
      grid-column: 5 / 13;
    }

    @include for-desktop {
      grid-column: 10 / 25;
    }

    &__paragraph {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      &__name {
        line-height: 15px;
        height: 15px;
        font-size: 12px;
        font-weight: 600;
        color: var(--secondary-color);
      }

      &__value {
        color: var(--primary-color);
        font-weight: 600;
        font-size: 12px;
        height: 15px;
        line-height: 15px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;

    @include for-tablet {
      width: 100%;
      grid-row: 13 / 14;
      grid-column: 1 / 13;
    }

    @include for-desktop {
      grid-column: 1 / 25;
    }

    &__title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      min-height: 20px;

      @include for-tablet {
        font-size: 22px;
      }
    }

    &__separator {
      width: 288px;
      height: 1px;
      border: 1px solid var(--border-color);
      margin-bottom: 24px;

      @include for-tablet {
        width: 100%;
      }
    }

    &__article {
      margin-bottom: 16px;
      color: var(--secondary-color);
      font-weight: 600;
      font-size: 14px;
      height: fit-content;
      line-height: 21px;
    }
  }

  &__tech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    margin-bottom: 56px;

    @include for-tablet {
      width: 100%;
      grid-row: 14 / 15;
      grid-column: 1 / 13;
    }

    @include for-desktop {
      grid-column: 1 / 25;
    }

    &__title {
      color: var(--primary-color);
      font-weight: 700;
      line-height: 25px;
      height: 25px;
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__separator {
      width: 288px;
      height: 1px;
      border: 1px solid var(--border-color);
      margin-bottom: 24px;

      @include for-tablet {
        width: 100%;
      }
    }

    &__paragraph {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        min-height: 20px;
      }

      &__value {
        color: var(--primary-color);
        font-weight: 600;
        font-size: 12px;
        height: 15px;
        line-height: 15px;
      }
    }


  }

  &__list {
    width: 288px;

    @include for-tablet {
      width: 100%;
      grid-row: 15 / 16;
      grid-column: 1 / 13;
    }

    @include for-desktop {
      grid-column: 1 / 25;
    }
  }
}