@import '../../helpers/utils';

.page {
  max-width: $container-width;
  padding-top: 25px;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    @extend %mont-bold-style;
    
    margin-bottom: 8px;
  }

  &__go-back {
    margin-bottom: 16px;
  }
}
