@import '../../../shared/utils-scss/mixins';

.container {
  padding-top: 25px;
  padding: 24px 16px 0;

  margin: 0 auto 64px;


  @include onTablet {
    padding: 24px 24px 0;
  }

  @include onDesktop {
    width: 1136px;
    margin: 0 auto 24px
  }
}