@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;

.card {
  width: 100%;
  height: 100%;
  background-color: $cardColor;
  font-family: Mont-Regular, sans-serif;
  color: $gray-white;
}

.card_content {
  padding: 32px;
}

.card_image {
  width: 100%;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 8px;
  transition: transform 0.6s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.card__title {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  margin-top: 8px;
  height: 42px;
}

.card__prices {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  letter-spacing: 0;
}

.card__price {
  font-family: Mont-Bold, sans-serif;
  line-height: 31px;
}

.card__fullPrice {
  line-height: 100%;
  text-decoration: line-through;
  color: $gray-secondary;
}

.divide_line {
  width: 100%;
  height: 1px;
  background-color: $gray-secondary;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card__specs dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-size: 12px;
  letter-spacing: 0;
  gap: 8px 20px;
}

.card__specs dt {
  color: $gray-secondary;
}

.card__specs dd {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

.card__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__addBtn {
  width: 100%;
  height: 40px;
  background-color: $purple;
  color: $gray-white;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  transition: transform 0.6s ease;

  &:not(:disabled):hover {
    background-color: $light-purple;
  }
}

.card__btn__disabled {
  background-color: $gray-surface;
}

.card__favBtn {
  height: 40px;
  width: 40px;
  background-color: $gray-surface;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.6s ease;

  &:hover {
    background-color: $light-gray;
  }

  &--active {
    background-color: $background;
    box-shadow: 0 0 0 1px $gray-elements inset;
  }
}

.card__favBtn__img {
  width: 16px;
  height: 16px;
}

.card_link {
  color: inherit;
  text-decoration: none;
}
