@import "../../styles/utils";

.pagination {
  margin-top: 24px;

  &__list {
    display: flex;
    justify-content: center;

    list-style: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }

  &__btn {
    width: 32px;
    height: 32px;

    background: $white;

    border: 1px solid #e2e6e9;

    cursor: pointer;

    &--left {
      @include bg-image_center_norepeat("../../assets/arrow-active.svg");

      transform: rotate(-180deg);

      &--disabled {
        background-image: url("../../assets/arrow-gr.svg");
      }
    }

    &--right {
      @include bg-image_center_norepeat("../../assets/arrow-active.svg");

      &--disabled {
        background-image: url("../../assets/arrow-gr.svg");
      }
    }

    &:hover {
      border: 1px solid $primary;
    }

    &--active {
      color: $white;
      background: $primary;
    }
  }
}
