@import '../../styles/main';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__btn {
    @include button-common;

    width: 32px;
    height: 32px;
    background-color: $white;
    color: $primary-gray;
    border: 1px solid $icons-placeholders-gray;

    &:hover {
      border-color: $primary-gray;
    }

    &:not(.pagination__btn--disabled):active {
      transform: scale(0.9);
    }

    &--disabled {
      color: $icons-placeholders-gray;
      border-color: $icons-placeholders-gray;
      cursor: not-allowed;

      &:hover {
        border-color: $icons-placeholders-gray;
      }
    }

    &--active {
      background-color: $primary-gray;
      color: $white;
    }
  }
}
