@import "../../style-ultis/style-ultis";

.pagination {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__button {
    @include squarebutton(32px);

    @include onphone {
      display: none;
    }
  }

  &__pages {
    display: flex;
    gap: 8px;
  }

  &__page {
    @include squarebutton(32px);

    &--active {
      @include squarebuttonselected;
    }
  }

  &__dots {
    display: flex;
    align-items: flex-end;
  }
}
