@import "../../styles/vars";
@import "../../styles/extends";

.pagination {
  padding: $padding-size 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;

  &__button {
    @extend %buttons;
    padding: 14px 7px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    &--active {
      color: #fff;
      background-color: $color-primary;
    }
  }
}
