@import '../../helpers/utils/variables.scss';

.Cart-Order {
  margin-bottom: 87px;
}

.Order {
  padding: 24px;

  border: $border;
  width: 368px;
  height: 206px;

  &-Container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  &-Price {
    align-self: center;
    font-size: 32px;
    font-weight: 700;
  }

  &-Description {
    align-self: center;
    font-size: 14px;
    color: $font-color;
    margin-bottom: 48px;
  }

  &-Button::before {
    display: flex;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: $white-color;
    top: 80px;
  }

  &-Button {
    height: 48px;
    background-color: $active-link-color;
    color: #fff;
    cursor: pointer;
  }

  &-Button:hover {
    box-shadow: 0px 3px 13px 0px #17203142;
  }

  &-Warning {
    margin-top: 20px;
    align-self: center;
    color: #EB5757;
  }
}

.asfd {
  background-color: #333333;
}