@import '../../../styles/services/mixin';

.breadcrumps{
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @include on-tablet{
    margin-bottom: 40px;
  }

  &__home{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../../../../public/img/icons/home.svg');
  }

  & :not(:last-child) {
    padding-right: 24px;
    margin-right: 8px;
    position: relative;
    &::after{
      content: url('../../../../public/img/icons/arrow-breadcrump.svg');
      position: absolute;
      right: 0;
    }
  }

  & :last-child {
    color: #75767F;
    cursor: auto;
  }
}
