// colors
$bg-color: #fafbfc;
$white: #fff;
$accent-color: #313237;
$secondary-accent-color: #476df4;
$main-text-color: #313237;
$secondary-text-color: #89939a;
$elements-border-color: #e2e6e9;
$btns-border-color: #b4bdc3;

// sizes
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$large-screen-min-width: 1440px;

// fonts
$font-family-regular: 'Mont-Regular';
$font-family-semibold: 'Mont-SemiBold';
$font-family-bold: 'Mont-Bold';
