@import '../../styles/utils/utils';

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;

  &__bigFont {
    font-size: 32px;
  }

  &__line {
    font-size: 22px;
    color: var(--grey-secondary);
    position: relative;

    &::after {
      position: absolute;
      height: 5%;
      width: 100%;
      bottom: 50%;
      content: '';
      display: block;
      text-align: center;
      mix-blend-mode: color-dodge;
      backdrop-filter: invert(74%);

      background-color: var(--grey-secondary);
    }

    &__darkTheme::after {
      mix-blend-mode: difference;
      background-color: var(--grey-secondary);
    }
  }
}
