$theme-light-items: (
  primary-bg-color: #FAFBFC,
  primary-light-bg: #ffffff,
  primary-text-color: #0F0F11,

  light-grey: #E2E6E9,
  light-grey-text: #89939A,
  mid-grey: #B4BDC3,
  category-bg-grey: #E2E6E9,

  primary-blue: #4219D0,
  light-blue: #8370c9,
  primary-pink: #973D5F,
  primary-light-pink: #f55190,

  button-primary-color: #4219D0,
  button-yellow-color: #F4BA47,
  category-bg-violet: #6D6474,
  notif-bg-color: rgba(66, 25, 208, 0.8),
  box-shadow: #0000001A,
  )