@import "../../helpers/utils/mixins";
@import "../../helpers/utils/variables";

.category-column {
  display: flex;
  flex-direction: column;

  &__link {
    display: inline-block;
    width: 368px;
    height: 368px;
    overflow: hidden;
    margin: 0 0 24px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition(transform);

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 4px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__count {
    color: $secondary-color;
  }
}
