.ProductDetailsPage {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #313237;
    font-family: "MontBold", Helvetica, sans-serif;
    font-size: 32px;
    line-height: normal;
    letter-spacing: -0.32px;

    margin-top: 16px;
  }

  &__main {
    margin-top: 40px;
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 25px;
  }

  &__photo {
    width: 78px;
    height: 78px;
    border: 1px solid #c4c4c4;
    object-fit: cover;

    cursor: pointer;

    .active {
      border-color: #313237;
    }

    &-img {
      height: 100%;
      width: 100%;
    }
  }

  &__current {
    width: 442px;
    height: 442px;
    margin-right: 75px;

    &-img {
      height: 100%;
      width: 100%;
    }
  }

  &__characteristics {
    width: 320px;
    margin-right: 130px;
  }

  &__capacities {
    margin-top: 24px;
  }

  &__price {
    margin-top: 32px;
  }

  &__buttons {
    margin-top: 16px;
  }

  &__details {
    margin-top: 32px;
  }

  &__id {
    color: #b4bdc3;
    font-family: "MontSemiBold", Helvetica, sans-serif;
    font-size: 12px;
  }

  &__info {
    margin-top: 80px;
    display: flex;
    gap: 65px;
  }
}

.colors {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 24px;

  &__text {
    color: #89939a;
    font-family: "MontSemiBold", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  }

  &__list {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }

  &__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e2e6e9;
    display: flex;
    justify-content: center;
    align-items: center;

    &-active {
      border-color: #313237;
    }

    &-color {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      cursor: pointer;
    }

    &-color--1 {
      background-color: #fcdbc1;
    }
    &-color--2 {
      background-color: #5f7170;
    }
    &-color--3 {
      background-color: #4c4c4c;
    }
    &-color--4 {
      background-color: #f0f0f0;
    }
  }
}

.capacities {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-bottom: 24px;
  border-bottom: 1px solid #c4c4c4;

  &__text {
    color: #89939a;
    font-family: "MontSemiBold", Helvetica, sans-serif;
    font-size: 12px;
    line-height: normal;
  }

  &__list {
    display: flex;
    gap: 8px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 32px;
    cursor: pointer;

    color: #313237;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    border: 1px solid #b4bdc3;

    &-active {
      color: #fff;
      background-color: #313237;
    }
  }
}

.price {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 41px;

  &__normal {
    color: #313237;
    font-family: "MontBold", Helvetica, sans-serif;

    font-size: 32px;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  &__without-discount {
    color: #89939a;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
  }
}

.buttons {
  display: flex;
  gap: 8px;

  &__add {
    width: 263px;
    height: 48px;
    background-color: #313237;
    color: #fff;
    font-family: "MontSemiBold", Helvetica, sans-serif;

    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
  }

  &__fav {
    width: 48px;
    height: 48px;
    border: 1px solid #b4bdc3;
    background: none;

    cursor: pointer;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: flex;
    justify-content: space-between;
    font-family: "MontSemiBold", Helvetica, sans-serif;
    font-size: 12px;

    &--tech {
      font-size: 14px;
      font-family: "MontRegular", Helvetica, sans-serif;
      font-weight: 500;
      line-height: 21px;
    }
  }

  &__name {
    color: #89939a;
  }

  &__value {
    color: #313237;
  }
}

.about {
  width: 560px;

  &__title {
    font-family: "MontBold", Helvetica, sans-serif;
    color: #313237;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;

    font-size: 22px;
    line-height: 140%;
  }

  &__description {
    margin-top: 32px;
    color: #89939a;
    font-family: "MontRegular", Helvetica, sans-serif;

    font-size: 14px;
    line-height: 21px;
  }
}

.tech {
  width: 512px;

  &__title {
    font-family: "MontBold", Helvetica, sans-serif;
    color: #313237;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;

    font-size: 22px;
    line-height: 140%;
  }

  &__details {
    margin-top: 25px;
  }
}
