$hover-bg: #fafbfc;
$elements: #e2e6e9;
$icons: #b4bdc3;
$secondary: #89939a;
$primary: #0f0f11;
$accent: #4219d0;
$gray-element-border: 1px solid $elements;
$gray-icon-border: 1px solid $icons;
$hover-transition: 0.3s ease;
$border-hover-transition: border $hover-transition;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$mobile-top-container-height: 48px;
$desktop-top-container-height: 64px;
$page-btn-width: 32px;
$pagination-gap: 8px;
