.home-swiper {
  width: 100%;
  max-width: 1136px;
  height: fit-content;
  max-height: 435px;

  .swiper-button-next {
    top: 22px;
    width: 32px;
    height: 189px;
    background-image: url(public/icons/chevron-arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #b4bdc3;
    @include desktop {
      height: 400px;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    top: 22px;
    width: 32px;
    height: 188px;
    background-image: url(public/icons/chevron-arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #b4bdc3;
    @include desktop {
      height: 400px;
    }

    &::after {
      display: none;
    }
  }

  .swiper-pagination {
    height: 24px;
    bottom: 0;
  }
  .swiper-pagination-bullet {
    border-radius: unset;
    background-color: $gray-primary;
    width: 14px;
    height: 4px;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 189px;
    height: 100%;
    padding-bottom: 32px;
    box-sizing: content-box;

    @include desktop {
      max-height: 400px;
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: auto;
      max-width: 1040px;
      max-height: 400px;
    }
  }
}
