@import '../../../../App';

.menu-control {
  min-width: 48px;
  border-left: $light-border-value;
  border-bottom: $light-border-value;

  @include flex-center-center;

  &:hover,
  &:active {
    path {
      fill: $red-color;
    }
  }
}
