@use '../../../styles/block/utils/_variables.scss' as *;
@import '../../../styles/block/utils/_mixins.scss';
.nav {
  &__list {
    display: flex;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-inline-end: 64px;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    color: $text-nav-color;
    &:hover {
      color: $text-color;
      @extend %transitionPage;
    }

    &:after {
      background-color: $text-color;
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      top: 37px;
      left: 0;
      color: $text-color;
      @include initialAnimation();
    }
  }
}

.nav__link.nav__activeLink {
  color: $text-color;
}

.nav__activeLink.nav__link::after {
  @include activeAnimation();
}
