@import "../../styles/utils/variables";

.Loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__content {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 50px auto;
    border: 5px solid $color-light-blue;
    border-left-color: $color-dark-grey;
    animation: load8 1.2s infinite linear;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
