
.nav__favorite--span {
  position: absolute;
  top: 16px;
  font-weight: 600;
  font-size: 9px;
  line-height: 14px;
  color: rgb(255, 255, 255);
  background: rgb(235, 87, 87);
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
