@use '../../../styles/variables.scss' as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.arrow,
.pagination__item{
  height: 32px;
   width: 32px;
 border: 1px solid $color-icons;
  border-radius: 50%;
}

.arrow:disabled {
       opacity: 0.3;
}

.pagination__item:hover {
  border-color: $color-primary;
}

.pagination__item--active {
  background-color: $color-primary;
  color: $color-white;
}
