@use '/src/utils' as *;

.BackTo {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 4px;

  &__iconBlock {
    display: flex;
    align-items: center;
  }

  &__text {
    @extend %small-text;
  }
}
