@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.techSpecsBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include on-tablet {
    gap: 25px;
  }
}

.titleBlock {
  height: 42px;

  border-bottom: 1px solid var(--color-elements);
}

.specsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techSpecName {
  @include body-text;

  color: var(--color-secondary);
}

.techSpecValue {
  @include body-text;

  max-width: 50%;

  color: var(--color-primary);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
