.carousel {
  &__title-block {
    @include padding-content-inline;

    margin-bottom: 24px;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
    grid-column: span 1;
  }

  &__slider-control {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: right;
    grid-column: span 1;
  }

  &__imgs-container {
    height: 439.5px;

    position: relative;
    overflow: hidden;

    @include on-tablet {
      height: 512px;
    }

    @include on-desctop {
      height: 506px;
    }
  }

  &__loader {
    height: 100%;

    display: flex;
    align-items: center;
  }

  &__imgs {
    display: flex;

    position: absolute;
  }
}
