@import '../../styles/variables';

.page {
  display: grid;
  row-gap: 80px;
  background-color: $color-black;
  padding-block: 56px;
  color: $color-white;
  justify-items: center;
}

.pageContent {
  display: grid;
  grid-template-columns: repeat(24, 32px);
  gap: 16px;
  background-color: $color-black;
}

.pageTitle {
  grid-column: 1/-1;
  font-family: $font-bold;
  line-height: 56px;
  font-size: 48px;
  letter-spacing: -1%;
  margin: 0;
  margin-bottom: 40px;
}

.sectionTitle {
  grid-column: 1/-1;
  font-family: $font-bold;
  line-height: 41px;
  font-size: 32px;
  letter-spacing: -1%;
  margin: 0;
  padding-bottom: 8px;
}

.categoryCards {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.categoryImg {
  width: 100%;
  object-fit: cover;
}

.categoryLink {
  text-decoration: none;
}

.categoryTitle {
  font-family: $font-semibold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: $color-white;
  margin: 24px 0 4px;
}

.categoryCounter {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: $color-secondary;
}
