.homeWrapper {
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  margin: 0 auto;
}

.appBody {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 34px;
  scroll-behavior: smooth;
  flex: 1;
}

.mainTitles {
  margin-top: 56px;
  color: #0F0F11;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  width: 100%; /* Змінено ширину на 100% */
  max-width: 1136px; /* Змінено на максимальну ширину контейнера */
}

.loaderContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Змінено ширину на 100% */
  max-width: 1200px; /* Змінено на максимальну ширину контейнера */
}

@media (min-width:320px) and (max-width: 639px) {
  .mainTitles {
    display: flex;
    text-wrap: wrap;
    color: #0F0F11;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
  }

  .appBody {
    margin-inline: 0;
    max-width: 1200px;
    padding-inline: 34px;
    scroll-behavior: smooth;
    flex: 1;
  }
}

// @media (min-width: 640px) {
//   .appBody {
//     margin-inline: 24px; /* Встановлено відступи 24px для ширини від 640px до 1999px */
//   }
// }

// @media (min-width: 1200px) {
//   .appBody {
//     max-width: 1400px; /* Збільшено максимальну ширину контейнера на ширину 1400px для ширини від 1200px і більше */
//     margin-inline: 152px; /* Встановлено відступи 152px для ширини від 1200px і більше */
//   }
// }

// @media (max-width: 639px) {
//   .appBody {
//     margin-inline: 16px; /* Встановлено відступи 16px для ширини від 320px до 639px */
//   }
// }
