@import '../ColorThemes/ColorThemes.scss';
@import '../../utils/mixins';

.buy {
  margin-bottom: 17px;
}

.buy__item {
  background-color: #161827;
  display: block;
  gap: 24px;
  align-items: center;
  border: #161827 1px solid;
  padding: 16px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }

  @include onTablet{
    display: block;
  }

  @include onDesktop{
    display: flex;
  }
}


.buy__firstwrapper{
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 16px;

  @include onDesktop{
    padding-bottom: 0;
  }
}

.buy__secondwrapper{
  display: flex;
  align-items: center;
  gap: 24px;

  @include onMobile{
    gap: 60px;
  }
}

.buy__deleteIcon {
  height: 16px;
  width: 16px;
  margin-left: 24px;
  cursor: pointer;
}

.buy__image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.buy__title{
  font-family: Mont, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.buy__price{
  font-family: Mont, sans-serif;
  font-weight: 800;
  font-size: 22px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.buy__number{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.buy__button{
  display: flex;
}
