.productpage {
  &__title {
    @include h1;
    margin-bottom: 40px;

  }

  &__container {
    display: grid;
    grid-template-columns: 560px 512px;
    column-gap: 64px;
    grid-template-rows: repeat(2, fit-content);
    row-gap: 80px;
    margin-bottom: 80px;
  }
}

.gallery {
  &__img-container {
    display: grid;
    grid-template-columns: 78px 442px;
    column-gap: 28px;
  }

  &__img-list {

  }

  &__img-item {
    width: 80px;
    height: 80px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    margin-bottom: 16px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__main-img {
    padding: 10px;

  }
}

.about {
  &__title {
    display: block;
    @include h2;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__article {
    padding-top: 30px;
    @include body-text;
  }
}

.tech-specs {
  &__title {
    @include h2;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  &__item-title {
    display: block;
    @include body-text;
    color: #89939a;
  }

  &__value {
    display: block;
    max-width: 50%;
    @include body-text;
    text-align: end;
  }
}

.details {
  &-container {
    display: grid;
    grid-template-columns: 320px 192px;
  }

  &__capacity-title,
  &__colors-title {
    display: block;
    @include small-text;
    color: $c-extra-text;
    margin-bottom: 8px;
  }

  &__colors {
    border-bottom: 1px solid #e2e6e9;
    margin-bottom: 24px;
  }

  &__colors-list {
    margin-bottom: 24px;
    display: flex;
  }

  &__color-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border-radius: 50%;
  }

  &__color {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    z-index: 10;
  }

  &__capacity {
    border-bottom: 1px solid #e2e6e9;
    &-list {
      display: flex;
      margin-bottom: 20px;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      background-color: $bg-c-btn-primary;
      border: 1px solid #b4bdc4;
      box-sizing: border-box;
    }

    &-span {
      padding: 0 8px;
      @include body-text;
      color: #fff;
    }
  }

  &__price-container {
    margin: 32px 0 16px;
  }

  &__price {
    @include h1;
    margin-right: 8px;
  }

  &__price--prev {
    text-decoration: line-through;
    color: $c-extra-text;
  }

  &__feature {
    @include small-text;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
      color: $c-extra-text;
    }

    &-value {
      color: #313237;
    }
  }

  &__btn-container {
    margin: 8px 0 32px;
    display: flex;
    justify-content: space-between;
  }

  &__product-id {
    display: flex;
    justify-content: flex-end;
    &--current {
      @include small-text;
      color: #b4bdc4;
    }
  }
}
