@import '../../variables';
@import '../../mixins';

.product-page {
  grid-column: 1/-1;
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;


  @include mobile {
  .product-card {
    width: 212px;
    height: 100%;
  }
  }

  @include tablet {
  .product-card {
    width: 237px;
  }
  }


  .brand-new-models {
    margin-bottom: 80px;

    @include mobile {
      margin-top: 56px;
      margin-bottom: 56px;
    }

    @include tablet {
      margin-bottom: 64px;
      margin-top: 64px;
    }
  }

  .product-title {
    margin-bottom: 40px;
    font-size: map-get($h2-styles, font-size);
    font-weight: map-get($h2-styles, font-weight);
    line-height: map-get($h2-styles, line-height);

    @include mobile {
      font-size: map-get($h2-styles-mobile, font-size);
    }
  }

  .product-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; // Чіткий розподіл на 2 колонки
    gap: 64px;
    align-items: start;

    @include mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;


    .left-side, .right-side {
      display: contents;
    }

    .product-gallery {
      order: 1;
    }

    .product-info-card {
      order: 2;
    }

    .about-section {
      order: 3;
    }

    .tech-specs-section {
      order: 4;
    }
  }

  @include tablet {
    gap: 30px;
    // Ми НЕ використовуємо flex на планшеті, залишаємо grid,
    // щоб мати можливість розтягувати елементи на всю ширину

    .left-side, .right-side {
      display: contents; // "Вивільняємо" елементи з колонок для гріда
    }

    // Перший ряд: Фото зліва, Картка справа
    .product-gallery {
      grid-column: 1;
      grid-row: 1;
    }

    .product-info-card {
      grid-column: 2;
      grid-row: 1;
    }

    // Другий ряд: About на всю ширину (від 1 до останньої лінії)
    .about-section {
      grid-column: 1 / -1;
      grid-row: 2;
      margin-top: 40px;
    }

    // Третій ряд: Характеристики на всю ширину
    .tech-specs-section {
      grid-column: 1 / -1;
      grid-row: 3;
    }
  }
  }

  // ЛІВА СТОРОНА
  .left-side {
    display: flex;
    flex-direction: column;
    gap: 80px;
    min-width: 0;

    @include mobile {
      gap: 56px;
    }
  }

  // ПРАВА СТОРОНА
  .right-side {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    align-items: normal;
  }
}

/* ГАЛЕРЕЯ */
.product-gallery {
  display: flex;
  gap: 16px;

  @include mobile {
    flex-direction: column-reverse;
    width: 100%;
  }

  .gallery-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mobile {
      flex-direction: row;
      overflow-x: auto;
      justify-content: flex-start;
      gap: 8px;
    }

     @include tablet {
      gap: 8px;
    }

    .thumbnail {
      width: 80px;
      height: 80px;
      border: 1px solid $color-elements;
      padding: 7px;
      cursor: pointer;
      background-color: $color-white;
      transition: border-color 0.2s;


      @include mobile {
        width: 50px;
        height: 50px;
      }

      @include tablet {
        width: 35px;
        height: 35px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &--active {
        border-color: $color-primary;
      }
    }
  }

  .gallery-main {
    flex: 1;
    height: 464px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
    max-height: 288px;
    }

    @include tablet {
    max-height: 288px;
    }


    .product-main-image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

/* ІНФО ТА ЦІНА */
.product-info-card {
  width: 100%;

  .divider {
    margin-top: 24px;
    border: 1px solid $color-elements;
  }

  @include desktop {
    .divider {
    max-width: 320px;
    margin-top: 24px;
    border: 1px solid $color-elements;
  }
}


  .label {
    font-size: 12px;
    font-weight: 600;
    color: $color-secondary;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .top-container {
    display: flex;
    justify-content: space-between; // Розштовхує контент по краях
    align-items: center;
    width: 100%; // Контейнер має розтягнутися на всю ширину правої колонки
    margin-bottom: 8px;
  }

  .product-id {
    font-size: 12px;
    color: $color-icons;
    text-align: right; // Додаткова страховка
    white-space: nowrap; // Щоб ID не переносився


   @include mobile {
    width: 150px;
    overflow: hidden;       // Приховуємо все, що виходить за межі 150px
    text-overflow: ellipsis; // Додаємо три крапки в кінці
    display: block;          // Переконуємось, що елемент поводиться як блок (для span це важливо)
  }

    @include tablet {
    width: 150px;
    overflow: hidden;       // Приховуємо все, що виходить за межі 150px
    text-overflow: ellipsis; // Додаємо три крапки в кінці
    display: block;          // Переконуємось, що елемент поводиться як блок (для span це важливо)
  }
  }

 .color-dots {
  display: flex;
  gap: 14px;
  margin-top: 8px;

  .color-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: 2px solid $color-elements;
    outline-offset: 2px;

    transition: outline-color 0.2s ease;

    &:hover {
      outline-color: $color-primary;
    }

    &--active {
      outline-color: $color-primary;
      outline-width: 2px;
    }
  }
}

  .product-capacity {
    margin-top: 24px;
  }


  .capacity-buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    flex-wrap: wrap;


    .capacity-item {
      padding: 10px 12px;
      border: 1px solid $color-elements;
      background: $color-white;
      cursor: pointer;
      flex-shrink: 0;
      font-family: $font-main;

      &--active {
        background: $color-primary;
        color: $color-white;
        border-color: $color-primary;
      }
    }
  }

  .product-pricing {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px 0 16px;
    max-width: 320px;

    .current-price {
      font-size: 32px;
      font-weight: 700;
    }

    .original-price {
      font-size: 22px;
      color: $color-secondary;
      text-decoration: line-through;
    }
  }

  .product-actions {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
    width: 100%;

    @include desktop {
      max-width: 320px;
    }
  }

    .action-button {
      flex: 1;
      height: 48px;
      background: $color-primary;
      color: $color-white;
      border: none;
      font-weight: 500;
      font-family: $font-main;
      cursor: pointer;

      &--added-to-cart {
        background: $color-white;
        color: $color-green;
        border: 1px solid $color-elements;
      }
    }

    .favorite-button {
      width: 48px;
      height: 48px;
      background: $color-white;
      border: 1px solid $color-elements;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.liked {
        border-color: $color-primary;
      }
    }
  }

/* СЕКЦІЇ ТЕКСТУ ТА ХАРАКТЕРИСТИК */
.about-section, .tech-specs-section {
  width: 100%;

  .about-title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .divider {
    border: none;
    border-top: 1px solid $color-elements;
    margin-bottom: 32px;
  }

  .section-title {
    font-size: 20px;
    margin: 32px 0 16px;
    color: $color-primary;
  }

  .paragraph {
    color: $color-secondary;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
  }
}

.spec-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  width: 100%;
  min-width: 0;

  .spec-name {
    font-size: 14px;
    font-weight: 500;
    flex-shrink: 0;
    color: $color-secondary;
    margin-right: 16px;
  }

  .spec-value {
    font-size: 14px;
    font-weight: 500;
    color: $color-primary;
    text-align: right;

   @include mobile {
      // 1. Змушуємо блок зайняти все вільне місце справа
      flex: 1;

      // 2. Цей марджин гарантує, що значення не наїде на назву
      margin-left: auto;

      // 3. Змінюємо тип відображення на block або flex
      display: inline-block;
      width: 100%;

      /* Переноси */
      white-space: normal;
      word-break: break-word;
      overflow-wrap: break-word;

      // 4. Додаткове вирівнювання для коротких слів
      float: right;
    }
  }
}

.product-specs-short {
  margin-top: 32px;
  width: 100%;
  font-weight: 600;

    @include desktop {
      max-width: 320px;
    }


  .spec-name {
    font-weight: 600;
  }

  .spec-value {
    font-weight: 600;
  }
}

.product-specs-full {
  .spec-row {
    margin-bottom: 12px;
  }
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  color: $color-secondary;
  font-size: 12px;

  &:hover {
    color: $color-primary;
  }
}



