.notFoundImage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
width: 100%;
height: 600px;
  background-image: url('/img/page-not-found.png');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;

}

