.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 41px;
  color: #313237;
}

.count {
  margin-bottom: 32px;
  font-weight: 600;
  color: #89939A;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.noProducts {
  margin-top: 60px;
  text-align: center;
  color: #89939A;
}
