.shopcategory {
  width: 1136px;
  margin: auto;
  margin-bottom: 80px;

  &__title {
    font-family: "Mont-Bold", sans-serif;
    margin-bottom: 32px;
  }

  &__box-content {
    display: flex;
  }

  &__box-category {
    margin-right: 16px;
  }

  &__iconbutton {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 368px;
    height: 368px;
    background-image: url(../../../images/category/phones.jpg);
    background-position: center;
    background-repeat: no-repeat;

    &--tablets {
      background-image: url(../../../images/category/tablets.jpg);
    }

    &--accessories {
      background-image: url(../../../images/category/accessories.jpg);
    }
  }

  &__subtitle {
    font-family: "Mont-Bold", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 24px;
    color: #313237;
  }

  &__counter {
    font-family: "Mont-Bold", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 4px;
    color: #89939a;
  }
}
