@import '../../Scss-variables/Variables';

.catalog {
  display: grid;
  grid-template-columns: repeat(4, (272px + 64px));
  gap: 40px 16px;
  justify-items: center;

  	&__product {
		display: block;
        align-self: center;
        width: 272px;
        height: 508px;
        padding: 32px;
        background-color: #161827;
        
        &__image {
            position: relative;
            width: 206px;
            height: 196px;
            top: 32px;
            left: 32px;
            margin-bottom: 48px;
            background-color: #161827;
        }

        &__name {
            font-family: $mont-regular-font;
            color: $active-link-color;
            background-color: #161827;
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 10px;
			height: 58px;
            padding: 0 32px;
        }

        &__price {
            font-family: $mont-bold-font;
            color: $active-link-color;
            background-color: #161827;
            font-weight: 800;
            font-size: 22px;
            line-height: 140%;
            margin-bottom: 8px;
            padding: 0 32px;
            
        }

				&--line {
					border: 1px solid #3B3E4A;
					width: 208px;
					height: 0;
					margin-bottom: 16px;
                    margin-left: 32px;
				}

        &__description {
            background-color: #161827;
            padding: 0 32px;

            display: flex;
            justify-content: space-between;
            color: $active-link-color;
            padding-bottom: 8px;

            &__screen,
            &__capacity,
            &__ram {
                color: #75767F;
                background-color: #161827;
                font-weight: 700;
                font-size: 12px;

            }

            &__screen--number,
            &__capacity--number,
            &__ram--number {
                background-color: #161827;
                color: $active-link-color;
                font-weight: 700;
                font-size: 12px;


            }

            &__ram {
                margin-bottom: 16px;

            }

        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #161827;


            &__button__add {
                color: $active-link-color;
                width: 160px;
                height: 40px;
                background-color: #905BFF;
                border: none;
                margin-right: 8px;
                    
                &:hover {
                    background-color: #A378FF;
                }
            }

            &__button__favourites {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #323542;
                border: none;

                &--heart {
                    background-color: #323542;
                    width: 15.34px;
                    height: 13.55px;
                    background-image: url(/img/logo/Heart.svg);
                    background-repeat: no-repeat;
                    border: none;
                }
            }
        }

    }
}
