.AppTest {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 40px;

    max-width: 1200px;
    height: 100%;
    margin-inline: auto;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 8px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;

    &--last {
      flex-shrink: 1;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
