@font-face {
  font-family: Mont;
  src: url('../../../public/fonts/Mont-Regular.otf');
}

@font-face {
  font-family: Mont-bold;
  src: url('../../../public/fonts/Mont-Bold.otf');
}

@import '../../utils/mixins';

.productoffer {
  @include page-grid;

  margin-right: 0;


  overflow: hidden;
  &__breadcrumbs {
    display: flex;
    align-items: flex-start;
    margin: 16px 0 0 16px;
    grid-column: 1 / 5;

    @include on-tablet {
      grid-column: 1 / 13;
    }
    &--home {
      background-image: url('../../img/Home.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 16px;
    }
    &--text {
      font-family: Mont,sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 15.34px;
text-align: left;
grid-column: 3 / 5;

&-active {
  font-family: Mont-bold, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

    }
    &--arrow {
      background-image: url('../../img/Chevron\ \(Arrow\ Right\).svg');
      background-repeat: no-repeat;

      height: 16px;
      width: 16px;
    }
    &--back-arrow {
      background-image: url('../../img/Chevron\ \(Arrow\ Right\).svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 16px;
      width: 16px;
      transform: rotate(0.5turn);
    }
    &--back-button {
      width: 61px;
      font-family: Mont, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.34px;
      text-align: left;
      text-decoration: none;
      color: #89939A;
      display: flex;
      margin: 16px 0 0 16px;
    }
  }
  &__line {
    grid-column: 1 / 5;
    margin: 40px auto 0;
      height: 0;
      width: 228px;
      border: 1px solid #d3d5d7;
  }
  &__title {
    grid-column: 1 / 5;

    @include on-tablet {
      grid-column: 1 / 13;
    }

    margin: 32px 25px 0 16px;
font-family: Mont-bold, sans-serif;
font-size: 22px;
font-weight: 800;
line-height: 30.8px;
text-align: left;

  }

  &__images {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      grid-column: 1 / 8;
      width: auto;
    }
  }
  &__image {
    margin-top: 45px;
    grid-column: 1 / 5;
    object-fit: contain;
    width: 288px;
      height: 288px;
  }

  &__dot-image {
    grid-column: 1 / 5;
    object-fit: contain;
    background-color: transparent;
    margin-top: 62px;

    @include on-tablet {
      grid-column: 3 / 9;
      width: 288px;
      height: 288px;
      margin: 0;
    }
  }
  &__sliderimage {
    margin-top: 70px;
    width: 288px;
    height: 288px;
    object-fit: contain;
  }
  &__phoneslider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include on-tablet {
      grid-column: 1 / 9;
      flex-direction: row-reverse;
      width: auto;
      div {
        width: 228px;
      }
    }
  }

  &__panel {
    grid-column: 1 / 5;

    @include on-tablet {
      grid-column: 8 / 13;
    }

    margin: 32px 0 0 8px;
    &--title {
      color: #89939A;
font-family: Mont, sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 15.34px;
text-align: left;

    }
    &--color-selection {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 3px solid white;
      outline: 2px solid #89939A;
      &--selected {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 3px solid white;
        outline: 3px solid black;
      }
    }
    &--colors {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    &--id-and-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--id-number {
      color: #B4BDC3;
font-family: Mont, sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 15.34px;
margin-right: 12px;

    }
    &--capacity {
      &-title {
margin-top: 20px;
font-family: Mont, sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 15.34px;
text-align: left;
color: #89939A;
      }
      &-option {
        margin-top: 20px;
        width: 63px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #89939A;
        background-color: white;
        font-family: Mont, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        &:hover {
          background-color: #B4BDC3;
        }
        &-selected {
          color: white;
          background-color: black;
          &:hover {
            background-color: black;
          }
        }
      }
    }
    &--prices {
      margin-top: 32px;
      display: flex;

    }
    &--price {
      font-family: Mont-bold, sans-serif;
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.01em;
      text-align: left;
      margin-right: 5px;
        &-discount {
          font-family: Mont, sans-serif;
          font-size: 22px;
          font-weight: 800;
          line-height: 41px;
          letter-spacing: -0.01em;
          text-align: left;
          color: #89939A;
        }
    }
    &--buttons {
      height: 100px;
      display: flex;
      gap: 8px;
      justify-content: center;
    }
    &--adding-button {
      width: 231px;
      height: 48px;
      border-radius: 8px;
      background-color: #216CFF;
      color: white;
      border: 0;
font-family: Mont, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 21px;
text-align: center;
cursor: pointer;
&:hover {
  border: 2px solid blue;
  background-color: white;
  color: blue;
}

    }
    &--heart-button {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: 1px solid #B4BDC3;
      background-image: url('../../img/Favourites\ \(Heart\ Like\).svg');
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center;
      background-color: white;
      cursor: pointer;
      &:hover {
        background-image: url('../../img/Add\ to\ favorites-hover.svg');
        background-size: 50px 50px;
      }
          &--is-active {
      width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #E2E6E9;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 48px 48px;
      background-image: url('../../img/Add\ to\ fovourites\ -\ Added.svg');
    }
    }
    &--basicspec {
      display: flex;
      flex-direction: column;
      gap: 10px;
      grid-column: 1 / 5;
      margin: 32px 1px 0;
      &-data {
        display: flex;
        justify-content: space-between;
      }
      &-title {
        font-family: Mont,sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 15.34px;
        text-align: left;
        color: #89939A;
      }
      &-text {
        font-family: Mont-bold,sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15.34px;
        text-align: right;
        color: black;
        margin-right: 24px;
      }

    }
  }
  &__description {
    grid-column: 1 / 5;

    @include on-tablet {
      grid-column: 1 / 7;
    }
    &--header {
      margin-top: 64px;
      font-family: Mont-bold, sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 20.45px;
      text-align: left;
      color:black;
    }
    &--title {
      margin: 32px 24px 0 8px;
      font-family: Mont-bold, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 20.45px;
      text-align: left;
      color:black;
      grid-column: 1 / 5;
      margin-left: 8px;
    }
    &--text {
      grid-column: 1 / 5;
      margin: 32px 24px 0 8px;
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-align: left;
      color:#89939A;
    }
  }
  &__techspecs {
    grid-column: 1 / 5;

    @include on-tablet {
      margin-top: 100px;
      grid-column: 7 / 13;
    }

    margin-top: 32px;
    &--data {
      display: flex;
      justify-content: space-between;
      margin: 10px 5px 0 1px;
    }
    &--title {
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color:#89939A;
      margin-left: 8px;
    }
    &--text {
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-align: right;
      color: black;
      &:last-child {
        margin-right: 24px;
      }
    }
  }
  &__slider {
    margin-top: 64px;
    grid-column: 1 / 5;
    width: 212px;
    div {
      width: 260px;
    }
    &--header {
      font-family: Mont-bold, sans-serif;
      font-size: 22px;
      font-weight: 800;
      line-height: 30.8px;
      text-align: left;
    }
  }
  .productcard {
    height: 460px;
    width: 228px;
  }
  .productcard__name {
    height: 26px;
  }
  .productcard__line {
    width: 150px;
    margin: 0 auto;
  }
  .productcard__screen--title {
      margin-left: 20px;
      width: 40px;
  }
  .productcard__screen--value {
    width: 100px;
    margin-right: 59px;
  }
  .productcard__capacity--title {
    margin-left: 20px;
}
.productcard__capacity--value {
  width: 59px;
  margin-right: 59px;
}
.productcard__ram--title {
  margin-left: 20px;
}
.productcard__ram--value {
  width: 59px;
  margin-right: 59px;
}

  .productcard__buttons {
    margin-bottom: 10px;
    width: auto;
  }
  .productcard__image {
    margin-left: 35px;
  }

  .slick-dots {
    grid-column: 1 / 5;
    margin: 10px 8px;

    @include on-tablet {
      flex-direction: column;
      gap: 50px;
      margin-top: 60px;

      li {
        height: 76px;
      }
    }
  }
  .slick-track {
    margin-top: 32px;
    height: 430px;
    width: 212px;
  }
  .slick-prev {
    bottom: 38px;
  }
  .slick-next {
    bottom: 543px;

  }

  :not(div) .slick-active {
    border: 1px solid black;
    border-radius: 6px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-bottom: 60px;

    @include on-tablet {
      padding: 0;
    }

  }

   li {
     width: 55px;
     display: flex;
     align-items: center;
   }
}

:nth-child(4) .slick-list {
  width: 302px;
  overflow: hidden;
}

