.section {
  overflow: hidden;
  margin-top: 56px;

  &_item {
    width: 212px;
    height: 439px;
    border: 1px solid #e2e6e9;
    list-style: none;
    padding: 32px;
  }

  &_list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  &_img {
    width: 148px;
    height: 129px;
    object-fit: contain;
  }

  &_name {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &_price {
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e6e9;
  }

  &_favorite {
    display: block;
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    background-image: url(/img/littleImages/Favourites-header.svg);
    background-size: cover;
  }
}
