.digest {
  color: var(--color-black);
  margin-bottom: 80px;

  @include tablet-above {
    margin-bottom: 128px;
  }

  @include desktop-above {
    margin-bottom: 200px;
  }

  &__container {
    @include grid-template;
  }

  &__title {
    grid-column: 1/-1;
    margin-bottom: 20px;

    @include desktop-above {
      grid-column: 1/7;
      margin-bottom: 50px;
    }
  }

  &__text {
    grid-column: 1/-1;
    margin-bottom: 30px;

    @include tablet-above {
      grid-column: 1/5;
      margin-bottom: 50px;
    }

    @include desktop-above {
      grid-column: 7/-1;
      margin-bottom: 0;
    }
  }

  &__form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-column: 1/-1;

    @include desktop-above {
      grid-column: 1/7;
      gap: 40px;
    }
  }

  &__input {
    grid-column: 1/-1;

    @include tablet-above {
      grid-column: 1/4;
    }

    @include desktop-above {
      grid-column: 1/6;
    }
  }

  &__button {
    grid-column: 1/-1;

    @include tablet-above {
      grid-column: 1/4;
    }
  }

  &__error {
    background-color: rgb(186, 218, 6);
    padding: 1px 5px;
    color: rgb(162, 8, 8);
    font-weight: 700;
    position: absolute;
    top:30px;
    pointer-events: none;
    opacity: 0;
  }
}
