.aside-route {
  margin: 24px 0 40px;
  display: flex;
  gap: 8px;
}

.aside-route * {
  color: var(--gray-secondary, $gray-secondary);
  font-family: Mont;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover {
    color: var(--gray-primary, $dark-gray);
  }
}
