.categories {
  &__list {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__image {
    width: 100%;
    padding-bottom: 100%;
    background: red;
    position: relative;
  }

  &__card {
    width: 100%;
    text-decoration: none;

    &:nth-of-type(1) > .categories__image {
      background-color: #fcdbc1;
    }

    &:nth-of-type(2) > .categories__image {
      background-color: #8d8d92;
    }

    &:nth-of-type(3) > .categories__image {
      background-color: #973d5f;
    }
  }

  &__photo {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    margin-top: 24px;
  }

  &__quantity {
    margin-top: 4px;
  }
}
