.dropdown {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid $color-icons;
    background-color: inherit;
    color: $color-primary;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      border-color: $color-secondary;
    }

    &:focus {
      border-color: $color-primary;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../../helpers/icons/button-right.svg") no-repeat center;
      transform: rotate(90deg);
    }

    &--is-active {
      &::after {
        content: "";
        background: url("../../helpers/icons/button-right.svg") no-repeat center;
        transform: rotate(-90deg);
      }
    }
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 2;
    background-color: $color-white;
    height: 0;
    overflow: hidden;
    transition: all $transitDuration;

    &--is-active {
      padding: 8px 0;
      border: 1px solid $color-elements;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
      height: max-content;
    }
  }

  &__item {
    height: 32px;
    padding: 5px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-secondary;
  }

  &__link {
    display: block;

    &:hover {
      color: $color-primary;
    }
  }
}
