.flex-products-container {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;

  @include on640 {
    width: 580px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 16px;
    justify-content: flex-start;
  }

  @include on1000 {
    width: 870px;
  }

  @include on1280 {
    width: 1160px;
  }

  &--favourites {
    margin-bottom: 80px;
  }
}
