.grid-cover {
  @include on-640 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }

  @include on-1280 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    column-gap: 16px;
  }
}
