.hot-prices {
  &__title-arrows-container {
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
    width: 580px;

    @include on1280 {
      width: 870px;
    }

    @include on1440 {
      width: 1160px;
    }
  }

  &__title {
    margin: 0;
    font-size: 32px;
    letter-spacing: -0.32px;
  }
}
