
.nav {
  display: flex;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 64px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondaryColor;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;

    &--active {
      color: $primaryColor;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 0;
        height: 3px;
        background-color: $primaryColor;
      }
    }
  }
}
