.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    gap: 64px;
    height: $header-height;
  }

  &__item {
    display: flex;
    height: 100%;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $c-secondary;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $c-primary;
      transition: all 0.3s ease-in-out;
      transform: scale(0);
    }

    &--active {
      color: $c-primary;

      &::after {
        content: '';
        transform: scale(1);
      }
    }

    &:hover {
      color: $c-primary;
    }
  }
}
