.not-found-page {
  padding: 40px;

  &__message {
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
    @extend %uppercase;
    color: $secondary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}
