
.card {
  width: 100%;
  height: 320px;

  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.mySwiper {
  max-width: 1040px;
  margin-inline: auto;
}
.custom-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.custom-buttons button {
  padding: 10px 20px;
  cursor: pointer;
}

