@import '../../utils/mixins';

.products {
  &-phones {
    position: relative;
    display: flex;
    gap: 24px;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    will-change: transform;

    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__bottom {
    position: relative;
    bottom: 0;
  }

  &-container {
    padding-top: 32px;
    padding-inline: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100%;
  }

  &-phone {
    cursor: pointer;
    flex: 0 0 calc((100% - 48px) / 3);

    color: #F1F2F9;
    text-decoration: none;

    @include on-desktop {
      flex: 0 0 calc((100% - 72px) / 4);
    }

    background-color: #161827;
    border: 1px solid #161827;
    align-items: center;
    justify-content: center;

    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid #323542;
      transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    margin-bottom: 16px;
  }

  &-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 8px;

    font-family: 'Mont Regular', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 180px;
  }

  &-price {
    display: flex;

    align-items: center;

    font-family: 'Mont SemiBold', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    gap: 8px;

    &-span {
      font-weight: 600;
      font-size: 22px;
      line-height: 100%;
      text-decoration: line-through;
      color: #89939A;
    }
  }

  &-string {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #3B3E4A;
  }

  &-text {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #75767F;
    font-family: 'Mont Regular', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;

    &__first {
      margin-top: 16px;
    }
  }

  &-info {
    margin-bottom: 16px;
  }

  &-span {
    color: #F1F2F9;
  }

  &-buttons {
    display: flex;
    gap: 8px;

    padding-bottom: 32px;
  }

  &__link {
    display: flex;

    align-items: center;
    justify-content: center;

    text-decoration: none;

    width: 100%;
    height: 100%;
  }

  &-fav {
    cursor: pointer;
    display: flex;
    height: 40px;
    width: 54px;

    background-color: #323542;
    border: 1px solid #3B3E4A;

    justify-content: center;

    text-decoration: none;
    align-items: center;

    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
                border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #4A4D58;
      border-color: #525761;
      transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
                  border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-active {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    &__img {
      height: 16px;
    }

    &__button {
      border: none;

      background-color: inherit;
      cursor: pointer;
    }
  }

  &-cart {
    border: none;
    height: 40px;
    width: 100%;
    background-color: #905BFF;

    cursor: pointer;

    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #A378FF;
      transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__text {
      margin: 0;
      font-family: Mont, sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #F1F2F9;
    }

    &-active {
      background-color: #323542;

      &:hover {
        background-color: #323542;
      }
    }

    &__link {
      display: flex;

      align-items: center;
      justify-content: center;

      text-decoration: none;

      width: 100%;
      height: 40px;
    }
  }

  &-arr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-arrows {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-arrow {
    cursor: pointer;
    border: 0;
    height: 32px;
    width: 32px;
    background-color: #323542;
  }
}
