@import '../../styles/utils';

.product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 64px;

  @include padding-inline;

  &__title {
    @include tablet {
      font-size: 48px;
    }
  }

  &__text {
    color: #89939A;
    font-size: 14px;
    font-weight: 600;
  }

  &__select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 24px;

    @include tablet {
      grid-template-columns: 187px 136px;
    }

    @include desktop {
      grid-template-columns: 176px 128px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
