@import "/src/style/main.scss";

.phones {
  &__list {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 272px);
    row-gap: 20px;

    justify-content: center;

    @include onTablet {
      grid-template-columns: repeat(2, 272px);
      gap: 16px;
    }

    @include onDesktop {
      grid-template-columns: repeat(4, 272px);
      width: 1136px;
    }

    &--card {
      margin-bottom: 40px;

      &:nth-child(4n) {
        gap: 0;
      }
    }
  }
}

.dropdowns {
  display: flex;
  gap: 16px;
  margin-top: 40px;

  &__sort {
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    color: $gray-primary;
    margin-top: 4px;
    width: 176px;
    height: 40px;
    border: 1px solid $gray-icons-placeholders;
  }
}

.title {
  &_p {
    color: $gray-secondary;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}
