.byCategories {
  &__top {
    margin-bottom: 24px;
  }

  &__categories {
    display: flex;
    justify-content: space-between;
  }

  &__photoLink {
    display: flex;
    margin-bottom: 24px;
  }

  &__img {
    width: 368px;
    height: 368px;
  }

  &__title {
    font-family: "Mont SemiBold", sans-serif;
    font-size: 20px;
    color: $gray-primary;
  }

  &__countModels {
    font-family: "Mont Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;

    color: $gray-secondary;
  }
}
