.container {
  padding: 48px 0;
}

.img {
  width: 100%;
  max-width: 700px;
}

.goHome {
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 11px;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #313237;
}
