@use '@styles/utils/vars' as *;
@use '@styles/utils/mixins' as *;

.header {
  padding-left: 16px;
  height: $header-height-p;
  box-shadow: 0 1px 0 0 var(--elements-color);

  display: flex;
  justify-content: space-between;

  @include on-desktop {
    height: 64px;
    padding-left: 24px;
  }

  &__left {
    gap: 32px;
    display: flex;

    @include on-desktop {
      gap: 48px;
    }
  }

  &__right {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &__menu {
    @include on-tablet {
      display: none;
    }
  }
}
