.button-back {
  padding: 0;
  border: none;
  display: flex;
  gap: 4px;
  background-color: white;
  font-family: Mont, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &::after {
    content: "Back";
    height: 16px;
    color: #89939a;
  }

  &:hover::after {
    transition: 0.3s;
    color: #313237;
  }
}