@import '../../../../utils/style/main';

.productsSlider {
  margin-bottom: 80px;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #f1f2f9;
    margin-bottom: 24px;
    margin-top: 80px;
  }

  &__navigation {
    display: flex;
    gap: 16px;
  }

  &__navButton {
    width: 32px;
    height: 32px;
    border: 1px solid #75767f;
    background: #3b3e4a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: #75767f;
      background: #323542;
    }

    &_hidden {
      opacity: 0;
      visibility: hidden;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__container {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 32px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__track {
    display: flex;
    gap: 16px;
    padding: 4px;
    width: max-content;
  }

  &__slide {
    min-width: 272px;
    flex-shrink: 0;
    height: 506px;
  }
}
