@property --skele-pos {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --hundred-vw {
  syntax: "<length>";
  initial-value: 0;
  inherits: false;
}

:root {
  /* global skeleton vars */

  /* ↓ style */

  --skele-color-light: hsl(228deg 15% 86% / 100%);
  --skele-color-dark: hsl(228deg 15% 16% / 100%);
  --skele-shine-light: hsl(228deg 25% 95% / 80%);
  --skele-shine-dark: hsl(228deg 18% 22% / 80%);
  --skele-radius: 0.5rem;

  /* ↓ effect */

  /* time to travel a given distance */
  --skele-distance: 400;

  /* travel this many PIXELS */
  --skele-time: 1;

  /* over this many SECONDS */
  --skele-scaler: 0.7;

  /* scale the speed up as the screen size increases (0-1), 0.7 feels good to me. */

  /* gradient */
  --skele-size: clamp(100px, 50vw, 500px);

  /* size of the gradient that moves */
  --skele-leading-edge-blur: clamp(10px, 5vw, 50px);

  /* set to 0px for a sharp edge */
  --skele-angle: 96deg;

  /* gradient's angle */

  /* animation */
  --skele-ease: cubic-bezier(0.45, 0.3, 0.7, 0.55);

  /* ↓ stuff to calc, don't edit */

  --skele-pos: 0;

  /* the value we will animate to make the gradient move */

  /* interesting hack to get viewport as an Integer; 
     https://dev.to/janeori/css-type-casting-to-numeric-tanatan2-scalars-582j */
  --hundred-vw: 100vw;
  --int-width: calc(10000 * tan(atan2(var(--hundred-vw), 10000px)));

  /* scale the animation speed so it gets faster as the screen gets larger */
  --scaled-time: calc((1 - (var(--int-width) / 400) * var(--skele-scaler) / 5));

  /* get the animation time as a fraction of our desired distance/time */
  --anim-time: calc(
    ((var(--int-width) / var(--skele-distance)) * (var(--skele-time) * 1.33)) * var(--scaled-time)
  );

  /* we have the animation waiting for 1/3 of the time before starting each loop,
     so we multiple total time by 1.33 to account for it */

  /* demo setup, not strictly part of the skeleton css */

  color-scheme: light dark;

  --bg-light: hsl(220deg 16% 94%);
  --bg-light2: hsl(212deg 50% 92%);
  --bg-dark: hsl(222deg 15% 22%);
  --bg-dark2: hsl(222deg 25% 20%);
  --fg-light: hsl(212deg 22% 26%);
  --fg-dark: hsl(222deg 39% 95%);
  --bg: light-dark(var(--bg-light), var(--bg-dark));
  --bg2: light-dark(var(--bg-light2), var(--bg-dark2));
  --fg: light-dark(var(--fg-light), var(--fg-dark));
  --link: light-dark(hsl(222deg 95% 60%), hsl(222deg 95% 70%));
  --linkh: light-dark(hsl(150deg 90% 50%), hsl(150deg 95% 70%));
  --input-bg-light: hsl(from var(--bg-light) h 15% 100%);
  --input-bg-dark: hsl(from var(--bg-dark) h 15% 10%);
  --input-border-light: hsl(from var(--bg-light) h 15% 85%);
  --input-border-dark: hsl(from var(--bg-light) h 15% 35%);
  --labels-light: hsl(from var(--fg-light) h 20% 55%);
  --labels-dark: hsl(from var(--fg-dark) h 20% 55%);
  --labels: light-dark(var(--labels-light), var(--labels-dark));
  --b: light-dark(var(--input-bg-light), var(--input-bg-dark));
  --bor: light-dark(var(--input-border-light), var(--input-border-dark));
  
  animation: skeleton calc(1000ms * var(--anim-time)) var(--skele-ease)
  
  infinite;
}

@keyframes skeleton {
  0% {
    --skele-pos: 0;
  }

  66%,
  100% {
    --skele-pos: 1;
  }

  /* 66% means we wait for ~1/3 of the time after playing the animation */
}

.skeleton {
  --skele-color: light-dark(
    var(--skele-color-light),
    var(--skele-color-dark)
  );
  --skele-shine-color: light-dark(
    var(--skele-shine-light),
    var(--skele-shine-dark)
  );

  color: transparent;
  background-color: var(--skele-color);
  border-radius: var(--skele-radius);
  margin-top: 5%;
  
  --anim-pos: calc(
    var(--skele-pos) * (100vw + var(--skele-size) * 2) - var(--skele-size)
  );
  
  background-image: linear-gradient(
    var(--skele-angle, 90deg),
    hsl(from var(--skele-shine-color) h s l / 0) calc(var(--anim-pos)),
    hsl(from var(--skele-shine-color) h s l / 1)
      calc(var(--anim-pos) + var(--skele-size)),
    hsl(from var(--skele-shine-color) h s l / 0)
      calc(
        var(--anim-pos) + var(--skele-size) + var(--skele-leading-edge-blur)
      )
  );
  background-attachment: fixed;
}

.skeleton.multi-line {
  display: inline;
  box-decoration-break: clone;
  line-height: 1.4;
}

.skeleton.circle {
  aspect-ratio: 1;
  border-radius: 100vw;
}

.skeleton.square {
  aspect-ratio: 1;
}

.skeleton.rectangle {
  aspect-ratio: 1.62;
}

.app,
.info {
  display: grid;
  width: clamp(360px, 50vw, 800px);
  gap: 1em;
  grid-template-columns: min-content 1fr 0.3fr 0.2fr;
}

.app h2,
.info h2 {
  margin: 1em 0 0;
  text-wrap: pretty;
}

.app h3,
.info h3 {
  font-size: 2em;
  margin: 0;
  max-width: 400px;
}

.app img,
.info img {
  height: 64px;
}

.app p,
.info p {
  margin: 0;
  grid-column: 2 / -1;
  max-width: 400px;
}

.app .full,
.info .full {
  grid-column: 1 / -1;
}

.app .box.big,
.info .box.big {
  grid-column: 1 / 3;
}

.app .faded,
.info .faded {
  opacity: 0.5;
}

.info {
  margin-bottom: 5em;
}