@import "../../styles/utils/typography";

.Favorites {
  &__content {
    padding: 24px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include on-tablet {
      gap: 40px;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @extend %text-title;
  }

  &__models-count {
    @extend %text-body;
    color: $gray-second;
  }
}
