.actions {
  display: flex;
  margin-left: auto;
  height: 100%;
}

.actionItem {
  @include flex-center;
  position: relative;

  border-left: solid 1px var(--color-elements);
  width: 64px;
  transition: color 0.3s ease;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--color-primary);

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }

  &Active {
    &::after {
      transform: scaleX(1);
    }
  }

  &Icon {
    width: 16px;
    height: 16px;
  }

  &Count {
    position: absolute;
    top: 18px;
    right: 16px;

    width: 14px;
    height: 14px;

    @include flex-center;
    padding-top: 1px;

    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    border-radius: 50%;

    border: 1px solid var(--color-white);
  }

  &Menu {
    display: none;

    justify-content: center;
    align-items: center;

    width: 48px;
    height: 100%;

    border-left: 1px solid var(--color-elements);
  }
}


@include on-tablet {
  .actionItem {
    width: 48px;

    &Count {
      top: 10px;
      right: 8px;
    }
  }
}

@include on-mobile {
  .actionItem {
    display: none;

    &Menu {
      display: flex;
    }
  }
}
