@import "../../styles/utils";

.product-list {
  &__top-row {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__count {
    margin-bottom: 40px;
    color: $c-secondary;
  }

  &__dropdowns {
    display: grid;
    grid-template-columns: 176px 128px;
    column-gap: 16px;
    margin-bottom: 24px;
  }

  &__content {
    margin-bottom: 40px;
  }

  &__pagination {
    margin-bottom: 84px;
  }
}
