.addButton {
  width: 160px;
  height: 40px;
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: #111;
  cursor: pointer;
}

.addButton:hover {
  background-color: #272727;
}

.addFavourites {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../assets/img/favourites.png');
}
