@import "../../styles/utils/mixins";
@import "../../styles/utils/vars";

.Small__Btn {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  background-color: #fff;
  border: solid 1px $colorIcons;
  cursor: pointer;
}

.prev {
  @include iconInButton(url(../../img/Icons/left.svg));
}

.next {
  @include iconInButton(url(../../img/Icons/right.svg));
}

.disabled {
  @extend .Small__Btn;
  background-color: #fff;
  cursor: auto;
  border: solid 1px $colorElement;

  &__next {
    @include iconInButton(url(../../img/Icons/disabled-right.svg));
  }

  &__prev {
    @include iconInButton(url(../../img/Icons/disabled-left.svg));
  }
}
