@mixin text($size, $width, $color) {
  font-size: $size;
  font-weight: $width;
  color: $color;
  font-family: "Mont", sans-serif;
}

@mixin onTab {
  @media (min-width: 568px) and (max-width: 1023px) {
    @content;
  }
}
@mixin onPhone {
  @media (min-width: 320px) and (max-width: 568px) {
    @content;
  }
}
