@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.productPage {
  margin: 16px 24px;
  padding: 0;

  > * + * {
    margin-top: 24px;
  }

  &__overlook {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 32px;
    font-weight: $super-bold;
    line-height: 41px;
    color: $white;

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: $regular;
    line-height: 21px;
    color: $secondary-color;
  }

  .retryButton {
    background-color: $accent-color;
    border: none;
    font-size: 14px;
    font-weight: $semi-bold;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    transition: all 0.3s ease;

    &:hover {
      background-color: #A378FF;
    }
  }
}
