.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding-top: 24px;
  padding-inline: 16px;

  @media (min-width: 640px) {
    padding-inline: 24px;
  }

  @media (min-width: 1200px) {
    padding-inline: 32px;
  }

  @media (min-width: 1268px) {
    padding-inline: 152px;
  }
}

.content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 287px;

  @media (min-width: 640px) {
    max-width: 590px;
  }

  @media (min-width: 768px) {
    max-width: 719px;
  }

  @media (min-width: 1200px) {
    max-width: 1136px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 16px;
  margin-bottom: 24px;

  img:first-of-type {
    width: 13.33px;
    height: 14.67px;
  }

  .arrowIcon {
    width: 5.33px;
    height: 9.33px;
    transform: rotate(180deg);

    filter: invert(85%) sepia(9%) saturate(160%) hue-rotate(162deg) brightness(88%) contrast(87%);
  }

  span {

    color: #89939A;
    padding-top: 2px;
  }
}

.title {

  color: #0F0F11;
  margin: 0 0 8px;
}

.modelsCount {

  color: #89939A;
  margin-bottom: 32px;
}

// 5. Сітка товарів (ProductList)
.productList {
  display: grid !important;
  column-gap: 16px;
  row-gap: 40px;
  width: 100%;

  grid-template-columns: repeat(1, minmax(0, 287px));

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 287px));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 229px));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}