@import "../../styles/mixins";
@import "../../styles/variables";

.favorites {
  padding-top: $headerHeight;

  &__amount-models {
    margin-top: 8px;
    color: var(--icons);
    line-height: 21px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @include on-desktop {
    padding-top: $headerHeightDesktop;
  }

  &__text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 22px;
  }

  &__empty {
    background-image: url("../../../public/img/product-not-found.png");
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 640px) {
      width: 350px;
      height: 350px;
    }
  }
}