.top {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  &--full-screen {
    height: 100vh;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    height: 48px;
    border-bottom: 1px solid $gray-elements;
    box-sizing: content-box;
    height: 48px;
  }

  @include desktop {
    height: 64px;
  }

  .mobile-header {
    width: 100%;
    max-width: 100%;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-elements;
    overflow: hidden;

    @include tablet {
      max-width: 96px;
      min-height: auto;
      border: none;
    }

    .logo {
      width: 96px;
      height: auto;
      background-image: url(../../../../public/icons/logo.svg);
      background-size: 64px 22px;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }

      @include desktop {
        width: 128px;
        background-size: 80px 26px;
      }
    }

    .burger {
      width: 100%;
      max-width: 48px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $gray-elements;

      .burger-icon {
        width: 16px;
        height: 16px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.3);
        }
      }

      @include tablet {
        display: none;
      }
    }
  }

  .menu {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    display: none;
    transition: transform 0.3s linear;

    &--active {
      opacity: 1;
      display: flex;
    }

    &--transform {
      transform: translateX(0);
    }

    @include tablet {
      transition: none;
      opacity: 1;
      display: flex;
      transform: translateX(0);
      flex-direction: row;
      height: 48px;
    }

    @include desktop {
      height: 64px;
    }

    .nav {
      width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      padding: 24px 16px;
      &__item {
        @include category-name;
      }

      @include tablet {
        flex-direction: row;
        gap: 32px;
      }
    }

    .choice {
      width: 100%;
      height: 64px;
      border-top: 1px solid $gray-elements;
      display: flex;

      @include tablet {
        width: 183px;
        height: auto;
        justify-content: flex-end;
      }

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--shopping-cart {
          border-left: 1px solid $gray-elements;
        }

        @include tablet {
          border-left: 1px solid $gray-elements;
          width: 48px;
        }
        @include desktop {
          width: 64px;
        }

        .item {
          width: 16px;
          height: 16px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
