@import '../../utils';

.menu {
  @media (max-width: $mobile) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;

    @media (max-width: $tablet) {
      gap: 32px;
    }
  }

  &__link {
    @include menu-list;
    transition: color 0.3s;

    &:hover {
      padding-bottom: 20px;
      border-bottom: 3px solid $primary;
      color: $primary;
    }
  }

  &__link--active {
    padding-bottom: 20px;
    border-bottom: 3px solid $primary;
    color: $primary;
  }
}
