@import "../../../styles/utils/utils";

.my-button {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  background-color: $color-primary;
  transition: box-shadow ease-in-out $transition-duration;
  cursor: pointer;

  &:disabled {
    opacity: 50%;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 #17203142;
  }
}
