@use './utils/mixins.scss' as *;
@use './utils/vars.scss' as *;
@use './utils/fonts.scss' as *;
@use './utils/typography' as *;

body {
  scroll-behavior: smooth;
  background-color: $bg-color;
  font-family: Mont-Regular, sans-serif;
  font-size: 12px;
  color: $main-text-color;

  min-width:320px;

  margin: 0;
  padding: 0;

  position: relative;
}


:root {
  --bg-color-light: #fafbfc;
  --text-color-light: #0f0f11;
  --accent-color-light: #f86800;

  /* Добавьте остальные переменные для светлой темы */

  --bg-color-dark: #121212;
  --text-color-dark: #f5f5f5;
  --accent-color-dark: #fc0;

  /* Добавьте остальные переменные для темной темы */
}
