@import '../../shared/variables';
@import '../../shared/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);

  &__left {
    display: flex;
    padding-left: 24px;
  }

  &__logo {
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__list {
    @include mobile {
      display: none;
    }

    @include tablet {
      display: flex;
      align-items: center;
    }

  }

  &__select {
    @include tablet {
      margin: 0;
      display: flex;
      list-style: none;
      gap: 10%;
    }

    @include laptop {
      gap: 64px;
    }
  }

  &__link {
    text-decoration: none;
    color: $grey-color;
    font-size: 12px;
    font-weight: 800;
    padding-bottom: 20px;

    &:hover {
      color: var(--hover-color);
      border-bottom: 3px solid var(--hover-color);
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__heart,
  &__cart {
    @include mobile {
      display: none;
    }

    @include tablet {
      display: inline-block;
      position: relative;
      padding: 16px;
      border: 1px solid var(--border-color);
      box-sizing: border-box;

      &:hover {
        border-bottom: 3px solid var(--hover-color);
      }
    }
  }

  &__badge {
    position: absolute;
    top: 5px;
    right: 7px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid white;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    @include mobile {
      display: block;
      padding: 16px;
      border: 1px solid var(--border-color);

      &:hover {
        border-bottom: 3px solid var(--hover-color);
      }
    }

    @include tablet {
      display: none;
    }
  }
}


