@use '/src/styles/globals.scss' as *;

.burger {
  display: none;
  z-index: 1001;

  @media (max-width: $mobile-breakpoint) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    border-left: 1px solid $color-elements;
  }
}

.image {
  @include hover-scale(1.5);
}
