@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin contentPaddingInline {
  @include onDesktop {
    padding-inline: 152px;
    column-gap: 16px;
  }

  @include onTablet() {
    padding-inline: 32px;
    column-gap: 16px;
  }
}
