@use '../../styles/variables/colors/colors' as colors;

.contacts {
  grid-column: 1 / -1;
  width: 100%;
  max-width: none;
  margin: 0;
  padding-top: 24px;

  &__title {
    margin-top: 24px;
    margin-bottom: 8px;

    @media (min-width: 640px) {
      margin-top: 40px;
    }
  }
}
