@import '/src/styles/styles';

.picturesSlider {
  background-color: $hover-bg-color;
  padding-top: 24px;
  padding-bottom: 12px;

  @include tablet {
    padding-top: 32px;
  }

  @include desktop {
    padding-top: 56px;
  }

  &__heading {
    @include headline-1;
    @include container;

    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 32px;
    }

    @include desktop {
      margin-bottom: 56px;
    }
  }

  &__slider {
    @include grid-markup;

    @include tablet {
      padding-inline: 24px;
      max-width: 1136px;
     & {
      margin: 0 auto;
      }
    }
  }

  &__wrapper {
    position: relative;
    grid-column: 1/-1;
    padding-bottom: 100%;
    background-color: black;

    @include tablet {
      grid-column: 2/-2;
      padding-bottom: 39%;
      border-radius: 8px;
    }
  }

  &__contentWrapper {
    position: absolute;
    padding-inline: 23%;
    top: 10%;
    z-index: 2;
    pointer-events: none;

    @include tablet {
      left: 1%;
      top: 2.5%;
      height: 95%;
      width: 46%;
      transform: translateX(0);
      background-color: #222;
      border-radius: 8px;
      padding-inline: 0;
      pointer-events: all;
    }
  }

  &__content {
    @include tablet {
      padding: 10% 13% 10% 10%;
    }
  }

  &__sliderHeading {
    font-size: clamp(1.44rem, -0.01rem + 7.21vw, 2.88rem);
    font-weight: 800;
    letter-spacing: 0.02rem;
    background: linear-gradient(45deg, #7a50f6, #ff74ff);
    background-clip: text;
    color: transparent;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 110%;

    @include tablet {
      text-align: start;
      font-size: clamp(1.44rem, -0.15rem + 3.9vw, 2.63rem);
      user-select: none;
    }

    @include desktop {
      font-size: 50px;
    }

    & img{
      width: 12%;
      display: none;

      @include tablet {
        display: inline;
      }
    }
  }

  &__text {
    display: none;

    @include tablet {
      display: block;
      color: #aeaeae;
      font-size: clamp(0.63rem, 0.29rem + 0.84vw, 0.88rem);
      margin-top: 3%;
      user-select: none;
    }

    @include desktop {
      font-size: 19px;
    }
  }

  &__button {
    display: none;

    @include tablet {
      display: flex;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #aeaeae;
      margin-top: 17%;
      width: 66%;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      font-size: clamp(0.63rem, -0.04rem + 1.67vw, 1.13rem);
      padding-block: 5.5%;
    }

    @include desktop {
      font-size: 18px;
      margin-top: 63px;
    }

    @include hover (background-color, #aeaeae);
    @include hover (color, #000);
  }

  &__slides {
    position: absolute;
    width: 100%;
    height: 100%;

    @include tablet {
      width: 53%;
      right: 0;
      border-radius: 8px;
    }
  }

  &__img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;

    @include tablet {
      height: 100%;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
    margin-top: 16px;
    gap: 10px;
  }

  &__pagination-bullet {
    cursor: pointer;
    width: 14px;
    height: 4px;
    background-color: $elements-color;
  }

  &__pagination-bullet-active {
    background-color: $primary-color;
  }

  &__prevEl,
  &__nextEl {
    display: none;

    @include tablet {
      cursor: pointer;
      height: 100%;
      border-radius: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $icons-color;
      background-repeat: no-repeat;
      background-position: center;

      @include hover (border-color, $primary-color);
    }
  }

  &__prevEl {
    @include tablet {
      grid-area: 1;
      background-image: url('../../images/icons/arrow-left.svg');
    }
  }

  &__nextEl {
    @include tablet {
      grid-column: -2/-1;
      background-image: url('../../images/icons/arrow-right.svg');
    }
  }
}
