@import "../../style/main.scss";

.icon-button {
  @include flex-center;

  width: 32px;
  height: 32px;
  border: 1px solid $elements;
  background-color: $font-white;

  &:hover {
    border-color: $main-font-color;
    @include transition-03s;
  }

  &:disabled {
    border: 1px solid $elements;
  }

  &:active {
    background-color: $main-font-color;
  }

  &--arrow-up {
    background-image: url(../../assets/icons/arrowUpFilled.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:disabled {
      background-image: url(../../assets/icons/arrowUp.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url(../../assets/icons/arrowUpWhite.svg);
    }
  }

  &--arrow-next {
    background-image: url(../../assets/icons/arrowUpFilled.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);

    &:disabled {
      background-image: url(../../assets/icons/arrowUp.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url(../../assets/icons/arrowUpWhite.svg);
    }
  }

  &--arrow-back {
    background-image: url(../../assets/icons/arrowUpFilled.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);

    &:disabled {
      background-image: url(../../assets/icons/arrowUp.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url(../../assets/icons/arrowUpWhite.svg);
    }
  }

  &--plus {
    background-image: url(../../assets/icons/plusFilled.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:disabled {
      background-image: url(../../assets/icons/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url(../../assets/icons/plusWhite.svg);
    }
  }

  &--minus {
    background-image: url(../../assets/icons/minusFilled.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:disabled {
      background-image: url(../../assets/icons/minus.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url(../../assets/icons/minusWhite.svg);
    }
  }
}
