@import '../../shared/index';

.favouriteButton {
  width: 40px;
  height: 40px;
  border: 1px solid $icons-color;
  border-radius: 50%;
  background: center no-repeat url('/img/icons/favourites-icon.svg');
  transition: background-image 0.3s ease;

  &--filled {
    background: center no-repeat url('/img/icons/favourites-filled-icon.svg');
  }

  @include hover(border-color, $primary-color);
}
