@import '../../../styles/global';

.linkNavigate {
  display: block;
  padding-block: 8px;
  width: fit-content;

  @include uppercase;

  @include onTablet {
    padding-block: 18.5px;
  }

  @include onDesktop {
    padding-block: 26.5px;
  }

  &--active {
    color: $primary-color;
    box-shadow: inset 0 -2px 0 0 $primary-color;

    @include onTablet {
      box-shadow: inset 0 -3px 0 0 $primary-color;
    }
  }
}
