@import "../../variabls.scss";

.managment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        color: $primary;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 80px;

        &__button {
            border: 1px solid #B4BDC4;
            width: 32px;
            height: 32px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

.managment {
    &__buttons {
       &__button:hover {
        border: 1px solid $primary;
       }
    }
}

@media screen and (max-width:$md) {
    .managment {
        flex-direction: column;

        &__buttons {
            margin-bottom: 10px;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
}

@media screen and (max-width: $lg) {
    .product {
        max-width: 700px;
    }
}

@media screen and (max-width: $sm) {
    .product {
        max-width: 320px;
    }
}

.product-slider {
    display: flex;
    overflow: hidden;
}