.contactsPage {
  padding-block: 24px 56px;
}

.title {
  margin-bottom: 24px;
}

.content {
  max-width: 640px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 24px;
  padding-left: 20px;
}