.recommendedProductsSection {
  height: 500px;

  .sectionTitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    @media (min-width: 640px) {
      font-size: 32px;
      line-height: 128%;
    }
  }
}
