@import '../../styles/utils';

.categories {
  margin-bottom: 80px;
}

.grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; /* Pozwala kafelkom spadać niżej na małych ekranach */
}

.category {
  flex: 1;
  min-width: 250px; /* Minimalna szerokość, poniżej której kafelek spadnie niżej */
  text-decoration: none;
  transition: transform 0.3s;

  /* Hover na całym kafelku powiększa zdjęcie i zmienia kolor tytułu */
  @include hover {
    .image {
      transform: scale(1.05);
    }
    .categoryTitle {
      color: $color-primary;
    } /* Upewnia się, że jest czarny/aktywny */
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1; /* Kwadrat */
  margin-bottom: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: $color-bg; /* Domyślne tło */
  transition: box-shadow 0.3s;
}

.phonesBg {
  background-color: #fcdbc1; /* Przykładowy kolor, sprawdź z Figmą (Twój: #6D6474 był bardzo ciemny) */
}

.tabletsBg {
  background-color: #8d8d92;
}

.accessoriesBg {
  background-color: #973d5f;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.categoryTitle {
  font-size: 20px;
  font-weight: 700;
  color: $color-primary; /* Zmienna zamiast #313237 */
  margin: 0 0 4px;
  transition: color 0.3s;
}

.count {
  font-size: 14px;
  color: $color-secondary; /* Zmienna zamiast #89939a */
  margin: 0;
  font-weight: 500;
}
