@use '../../styles/variables' as *;
@use '../../styles/mixins.scss' as *;

.section {
  grid-column: 1 / -1;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 16px;

    @include tablet {
      grid-template-columns: repeat(12, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__header {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: space-between;

    height: 41px;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-size: 32px;
    font-weight: 800;
    color: $font;
    letter-spacing: -1%;

    @include mobile {
      font-size: 22px;
    }
  }
}

.category {
  display: flex;
  grid-column: 1 / -1;
  gap: 16px;

  @include mobile {
    flex-direction: column;
    gap: 32px;
  }

  &__image {
    width: 100%;
    margin-bottom: 24px;
    transition: transform 0.3s ease;
  }

  &__item {
    &:hover .category__image {
      transform: scale(1.05);
    }
  }

  &__link {
    text-decoration: none;
  }


  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    margin: 0;

    font-family: Mont, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: $font;
  }

  &__count {
    margin: 0;

    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: $secondary;
  }
}
