@import '/src/styles/variable.scss';

.Checkout {
  background-color: $color-dark;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1111111;
  opacity: 0.5;
}
