.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  padding: 15px 20px;
  border: 1px solid var(--color-elements);

  background-color: var(--color-elements);
}

.title {
  margin: 0 0 25px;
  font-family: Mont-Regular, sans-serif;
}

.open {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  border: 1px solid var(--color-elements);

  color: var(--color-primary);

  background-color: inherit;

  &:hover {
    border-color: var(--color-primary);
  }
}