.favourites-page{
  max-width: 1200px; // Або 1280px, залежно від макету
  margin: 0 auto; // Центрує контент
  padding: 0 16px; // Мінімальні відступи для мобілок, щоб текст не лип до країв


&__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  &__ntf{
    display: flex;
    justify-content: center;
    &__photo{
      width: 400px;
      height: 400px;
      margin-top: 100px;
    }
  }
}
