@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.app {
  &__header {
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: var(--white-color);
  }

  &__body {
    gap: $row-gap-t;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);

    padding-top: 24px;

    @include on-desktop {
      gap: $row-gap-d;
    }

    &--home {
      @include on-tablet {
        padding-top: 32px;
      }

      @include on-desktop {
        padding-top: 56px;
      }
    }
  }

  &__content {
    @include content-padding-inline;
  }
}
