@import "../../../style-utils/_variables.scss";

.spec-picker {
  &__title {
    font-size: 12px;
    font-weight: 600;
    color: $color-gray;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    gap: 8px;
  }
}
