// colors
$primary: #373131;
$secondary: #89939A;
$icons: #B4BDC3;
$elements: #E2E6E9;
$bgAndHover: #FAFBFC;
$white: #FFF;
$green: #27AE60;
$red: #EB5757;
$product-colors: (
  black: #4C4C4C ,
  green: $green,
  yellow: #FFCC03,
  white: $white,
  purple: #B8AFE6,
  red: $red,
  spacegray: #5F7170,
  silver: #F0F0F0,
  gold: #FCDBC1,
  midnightgreen: #004953,
  rosegold: #FDDCD7,
  coral: #FF7F50,
  midnight: #191970,
  spaceblack: #4b4845,
  blue: #003166,
  graphite: #4C4A46,
  sierrablue: #9BB5CE,
  skyblue: #87CEEB,
  starlight: #FAF7F2,
  pink: #F6D9D5,
);

// breakpoints
$tablet-width: 640px;
$desktop-width: 1200px;

// sizes
$max-width: 1200px;
$header-hight-mobile: 48px;
$mobile-inline-padding: 16px;
$title-margin: 24px;
$footer-desktop-height: 98px;
$footer-mobile-height: 292px;

// animations
$transition: 700ms;
