@import '../../../../styles/main';

.category {
  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;
    min-height: 288px;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    @include on-tablet {
      min-height: 187px;
    }

    @include on-desktop {
      min-height: 368px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__amount {
    color: $secondary-color;
  }
}
