@import '../../../styles/utils';
.product-colors {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    & > li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__item {
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.product-info {
  &__capacity {
    list-style: none;
    & > button {
      display: block;
      border: 1px solid #b4bdc3;
      padding: 4px 8px;
      background-color: transparent;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #313237;
        border-color: #b4bdc3;
        color: #fff;
      }
    }
  }
  &__title {
    margin: 0;
    margin-top: 50px;
  }
  &__description-text {
    list-style: none;
    color: #89939a;
    padding: 0;
  }
  &__specs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
  &__spec-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  &__spec-name {
    color: #8d8d92;
  }
  &__spec-value {
    font-weight: 500;
    color: #1e1e1e;
  }
  &__section {
    @media (min-width: 640px) {
      width: 270px;
    }

    @media (min-width: 730px) {
      width: 100%;
    }
  }

  @media (min-width: 640px) {
    &__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}

.product-card {
  &__prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  &__price {
    font-size: 32px;
    font-weight: 800;
    color: #313237;
  }

  &__fullprice {
    text-decoration: line-through;
    color: #b4bdc3;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__add-to-cart {
    background-color: #313237;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      box-shadow: 0px 3px 13px 0px #17203166;
    }
  }
}

.image-gallery {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  .image-gallery-slide-wrapper {
    padding: 10px;
    background: #fff;
  }

  .image-gallery-thumbnail-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .image-gallery-thumbnails-container {
    display: flex;
    gap: 10px;
  }

  .image-gallery-thumbnail {
    border: 1px solid #e2e6e9;
    margin: 0 auto;
    overflow: hidden;
    width: 50px;
    height: 50px;
    object-fit: contain;

    &.active,
    &:hover {
      border: 2px solid #313237;
    }

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  .image-gallery-image {
    object-fit: contain;
    height: 100%;
    max-height: 450px;
  }
}

.product-info__body {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 640px) {
    gap: 60px;
  }
}

.product-info__top {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 640px) {
    flex-direction: row;
    align-items: flex-start;
    // gap: 60px;
  }
}

.product-info__gallery {
  flex: 1;
  max-width: 480px;
  margin: 0 auto;

  .image-gallery {
    width: 100%;
  }
}

.product-info__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
