@import '../../styles/common';

.add-to-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $button-grey-color;
  border: none;
  flex-shrink: 0;

  @include hover(background-color, $icon-grey-color);

  &:focus {
    background-color: transparent;
    border: 1px solid $dark-grey-color;
  }
}

.added-to-fav {
  background-color: transparent;
  border: 1px solid $dark-grey-color;
}
