@use '../../utils/mixins';

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px;
  gap: 8px;
  border: 1px solid #E2E6E9;

  @include mixins.hover(border, 1px solid #89939A);
  
  box-shadow: #313237;

  &__priceWrap {
    display: flex;
    gap: 8px;
  }

  &__salePrice {
    font-weight: 50;
    font-size: 22px;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #89939A;
  }

  &__title {
    margin-top: 16px;
    height: 40px;
    line-height: 21px;
    line-clamp: 2;
    align-self: stretch;
    flex-grow: 0;
    overflow: hidden;
    color: #313237;
    text-decoration: none;

    @include mixins.hover(text-decoration, underline)
  }

  &__img {
    height: 196px;
    width: 100%;
    object-fit: contain;

    @include mixins.hover(transform, scale(1.05));
  }

  &__descriptionContainer {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 8px;

    &--specsText {
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
    }

    &--item {
      display: flex;
      justify-content: space-between;
    }
  }

}
