@import '/src/style/main';

.BurgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;

  border-left: 1px solid #e2e6e9;
  
  @include on-tablet {
  display: none;
  }

  &_darkTheme{
    border-left-color: $c-surface2-dark;
  }
}
