$gray-primary: #313237;
$gray-secondary: #89939a;
$gray-elements: #e2e6e9;
$gray-slider-border: #b4bdc3;
$c-white: #fff;
$c-green: #27ae60;
$c-red: #eb5757;
$header-height: 64px;
$footer-height: 96px;
$nav-gap: 64px;
$mobile-max-width: 576px;
$tablet-max-width: 1024px;
$container-width: 1136px;
$card-width: 272px;
$transition-duration: 0.3s;
$main-height: calc(100vh - #{$header-height} - #{$footer-height});
