@import '../../styles/utils';

.hero {
  &__title {
    padding-block: 24px;

    @include on-tablet {
      padding-block: 32px;
    }

    @include on-desktop {
      padding-block: 56px;
    }
  }
}
