@import "../../helpers/styles/variables.scss";

.button-fav {
  width: 100%;
  height: 100%;

  background-image: url(../../images/Icons/Favourites_Heart-Like.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $grey-icons;
  background-color: #fff;

  transition: all 0.3s;

  &:hover {
    border: 1px solid #313237;
  }

  &--active {
    background-image: url(../../images/Icons/Favourites_Filled.svg);
  }
}
