@import "../../styles/utils/variables";

.category-page {
  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__models-count {
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 21px;
    color: $color-secondary;
  }

  &__dropdowns {
    display: flex;
    margin-bottom: 24px;
    gap: 16px;
  }

  &__product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 272px);
    gap: 40px 16px;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
