@use './../../../scss/main.scss' as *;

.counter {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  height: 100%;

  @include on-tablet {
    display: block;
    width: 48px;
  }

  @include on-desktop {
    display: block;
    width: 64px;
  }

  &_linkActive {
    box-shadow: theme-get('mobile-menu-btn', 'box-shadow');

    @include on-tablet {
      box-shadow: none;
    }

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      content: '';
      border-bottom: $primary-color solid 3px;
    }
  }

  &__number {
    @extend %icons-text;

    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;

    color: $white-color;

    pointer-events: none;
    background-color: $red-color;

    border: 1px solid $body-background-color;
    border-radius: 50%;
    transform: translateY(-100%);
  }
}
