@use '@styles/utils/vars' as *;
@use '@styles/utils/mixins' as *;

.icon {
  width: 48px;
  aspect-ratio: 1;
  box-sizing: border-box;
  box-shadow: -1px 0 0 0 var(--elements-color);

  background-position: center;
  background-repeat: no-repeat;

  @include on-desktop {
    width: 64px;
    background-size: 16px;
  }

  &--wide {
    width: 100%;
    height: 64px;
  }

  &--favorite {
    background-image: url('/images/icons/icon-favorite.svg');
  }

  &--shopping-bag {
    background-image: url('/images/icons/icon-shopping-bag.svg');
  }

  &--menu {
    transition-duration: $animation-duration;
    background-image: url('/images/icons/icon-menu.svg');
  }

  &--close {
    transition-duration: $animation-duration;
    background-image: url('/images/icons/icon-close.svg');
  }

  &--arrow-up {
    width: 32px;
    box-shadow: none;
    border: 1px solid var(--icons-color);
    background-size: 10px 6px;
    background-image: url('/images/icons/icon-arrow-up.svg');
  }
}
