@import "../../styles/utils";

.container {
  margin-inline: auto;
  max-width: 1136px;

  @include onDesktopSmall {
    padding-inline: 115px;
  }

  @include onTablet {
    padding-inline: 100px;
  }

  @include onMobile {
    padding-inline: 30px;
  }
}
