@use '../../styles/utils/mixins.scss' as *;
@import '../../styles/variables/variables.scss';

.cart__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  gap: 32px;

  @include on-desktop {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 2fr 1fr;
  }
}

.cart__order-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__checkout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border: 1px solid $light-gray;
  padding: 24px;
}
