@use '@mixins/typography/uppercase' as *;
@use '@constants/colors' as cl;

.nav-item {
  display: flex;
  height: 100%;

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 100%;

    color: cl.$gray-secondary;

    @include uppercase;

    &--active {
      color: cl.$gray-primary;

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 3px;

        background-color: cl.$gray-primary;
      }
    }
  }
}


