@use '../utils/mixin.module.scss' as mixin;
.buttons{
  cursor: pointer;
margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixin.onTablet{
    justify-content: left;
  }
@include mixin.onDesktop{
  justify-content: left;
}

&__addCart{
  width: 100%;

  height: 48px;
border-radius: 48px;
margin-right: 8px;
background-color: #4219D0;

color: #E2E6E9;
font-family: Mont;
font-weight: 700;
font-size: 14px;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
@include mixin.onTablet{
min-width: 118px;
  }
  @include mixin.onDesktop{
width: 263px;
    &:hover{
    box-shadow: 0px 3px 13px 0px #17203166;

    }
  }
&--small{
  height: 40px;
  line-height: 40px;
}
&--disabled{
  background-color: #FFF;
border: 1px solid #E2E6E9;
  color: #4219D0;
   pointer-events: none;
    cursor: default;
}
}

&__heart{
   &--small{
    height: 40px;
    width: 40px;

  }
  width: 48px;
  height: 48px;
  border:1px solid #B4BDC3;
  border-radius: 48px;

   @include mixin.onDesktop{
    &:hover{
      border-color: #0F0F11;
    }
  }

}
&__favourite{

color:#0F0F11;
  width: 16px;
  height: 16px;

 padding: 16px;
&--small{
  padding: 12px;
}
}}
