@import '../src/styles/variables';

.product__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

  padding-top: 8px;

  &--add {
    padding-inline: 39.5px;
    padding-block: 9.5px;
    font-family: inherit;

    background-color: $purple-accent-color;
    border: none;
    width: 100%;

    color: $text-color;
  }

  &--favourite {
    padding: 12px;
    background-color: $grey-dark-color;
    border: none;

    font-family: inherit;
  }

  &-icon {
    width: 16px;
    height: 16px;
    display: block;
  }
}
