.button {
  width: 176px;
  height: 40px;
  font-size: 14px;
  background-color: $primary-color;
  margin-right: 8px;
  color: white;
  border: 0;
  cursor: pointer;
  @include hover(box-shadow, 0 3px 13px rgba(23, 32, 49, 0.26), 0.3);

  &--lg {
    width: 263px;
    height: 48px;
  }
}
