.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 24px;

  margin: 0;
  padding: 24px 0;

  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
}
