@use '/src/components/utils/mixin.module.scss' as mixin;


.container{
  @include mixin.pageGrid;
  margin-bottom: 40px;

}
.image{
grid-column: span 4;
  margin-bottom: 16px;
height: 288px;

   background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
@include mixin.onTablet{
grid-column: 3/7;
}
}
.carousel{

  &__list{
display: flex;

@include mixin.onTablet{
display: grid;
grid-row: 1/-1;

}
    margin: 0;
    padding: 0;
list-style: none;

    height: 49px;

    gap: 8px;
    @include mixin.onTablet{

    }
  }
  &__items{

    border: 1px solid #C4C4C4;
    border-radius: 4px;
    cursor: pointer;
    &--active{
      border-color: #0F0F11;
    }
  }


 &__image{
   width: 40px;
      height: 40px;
      object-fit: contain;
 }
}
