@use '../../styles/typography' as t;
@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.empty-state {
  margin-block: 24px;
  flex: 1;

  @include m.flex(column, 10px, center, center);

  &__title {
    @include t.heading-1;
  }

  &__link {
    text-decoration: none;
    color: v.$color-primary;
    padding-bottom: 3px;
    border-bottom: 2px solid v.$color-primary;

    text-transform: uppercase;
    
    @include t.heading-3;
  }

  &__image {
    object-fit: contain;
    width: 80%;

    @include m.respond-to(tablet) {
      width: 65%;
    }
  }
}
