$light-theme: (
  'bg': #fff,
  'text': #161616,
);

$dark-theme: (
  'bg': #161616,
  'text': #f4f4f4,
);

@mixin theme-vars($map) {
  --color-bg: #{map-get($map, 'bg')};
  --color-text: #{map-get($map, 'text')};
}

:root {
  --icon-burger: url('/assets/icons/both_theme/burger.svg');
  --icon-close: url('/assets/icons/both_theme/close.svg');
  --icon-favorite: url('/assets/icons/both_theme/favourites-heart-like.svg');
  --icon-cart: url('/assets/icons/both_theme/cart.svg');
  --icon-cart-filled: url('../../images/icons/cart.svg');
  @include theme-vars($light-theme);
}

[data-theme='dark'] {
  @include theme-vars($dark-theme);
}
