@import '../../App';

.PathRoute {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 24px 0;

    @include on-tablet {
      padding-bottom: 40px;
    }

  &__path {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 13px;

    &--shrink {
      flex-shrink: 0;
    }
  }

  &__name {
    padding: 10px 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $colorBlack;

    &-box {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--current {
      color: $colorGray;
    }
  }
}
