@font-face {
  font-family: "Mont-700";
  src: url("../../fonts/Mont-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Mont-500";
  src: url("../../fonts/Mont-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Mont-600";
  src: url("../../fonts/Mont-SemiBold.otf") format("truetype");
}
