@import "../utils/mixins";

.slider {
  &__item {
    min-width: 1040px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onTab {
      min-width: 600px;
      height: 350px;
    }

    @include onPhone {
      min-width: 272px;
      max-width: 272px;
      height: 200px;
    }
  }
}
