@import "./list.scss";
@import "./item.scss";
@import "./range.scss";

.slider {
  display: flex;
  gap: 16px;
  overflow: hidden;

  @include onPhone {
    position: relative;
    left: -50px;
    width: 366px;
  }
}
