$header-height-mobile: 48px;
$text-gray-color: #89939a;
$tablet-min-width: 640px;
$desctop-min-width: 1200px;
$gap-between-columns: 16px;
$padding-inline-for-mobile: 16px;
$padding-inline-for-tablet: 24px;
