@import '../../../utils/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: 16px;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
