.pagination__controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;

  .pagination-button {
    padding: auto;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #89939A;
  width: 32px;
  height: 32px;

    &.active {
      background-color: #313237;
      color: FFFFFF;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not(.active):not(:disabled) {
      background-color: #89939A;
    }
  }
}
