@media screen and (min-width: 0px) and (max-width: 569px) {
	#hidden {
		display: none;
	}

	div.header__burger {
		display: block;
	}
}

@media screen and (min-width: 570px) and (max-width: 859px) {
	#header__navigation-item {
		margin-left: 30px;
	}
}


.header {
	&__block {
		height: 64px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: 1px solid #E2E6E9;
	}

	&__buttons {
		display: flex;
	}

	&-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 66px;
		width: 64px;
		border: 0.5px solid #E2E6E9;
		box-sizing: border-box;

		&__image {
			width: 15px;
			height: 15px;
			margin-left: 6px;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;

		&-list {
			display: flex;
			padding: 0;
			text-transform: uppercase;
			font-family: 'Mont';
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 11px;
			letter-spacing: 0.04em;
		}

		&-item {
			margin-left: 64px;
		}

		&-link {

			// transition: 0.3s;
			&:hover {
				color: #313237;
				// min-width: 100%;
				border-bottom: 3px solid #313237;
				padding-bottom: 24px;
			}
		}
	}

	&__burger {
		display: none;
		// transition: 1s;

		&-list {
			right: 0;
			margin: 0;
			top: 0;
			background-color: white;
			position: fixed;
			padding: 20px 40px 20px 20px;
			padding-top: 20%;
			height: 100%;
			flex-direction: column;
			z-index: 9999;
		}

		&-item {
			padding: 20px;
			text-transform: uppercase;
			font-size: 150%;
		}

		&-link:hover {
			color: #313237;

		}
	}
}

.active__burger-link {
	color: #313237;

}

.active {
	color: #313237;
	// min-width: 100%;
	border-bottom: 3px solid #313237;
	padding-bottom: 24px;
}

.products-search {
	box-sizing: border-box;
	display: flex;
	max-width: 327px;
	padding: 24px;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #E2E6E9;
	margin-top: -1px;
	margin-right: -1px;
	height: 66px;
}

.search-input {
	outline: none;
	border: none;
}

li {
	list-style: none;
}

a {
	color: #89939A;
	text-decoration: none;
}

.cart-amount,
.favourite-amount {
	position: relative;
	/*or absolute*/
	// z-index:100000; /*a number that's more than the modal box*/
	left: -6px;
	font-size: 9px;
	height: 14px;
	width: 14px;
	top: -7px;
	background-color: #EB5757;
	color: #FFFFFF;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}