@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.catalog-item {
  &__top {
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
    margin-inline: auto;

    @include mobile {
      display: block;
      width: auto;
      height: 130px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--title {
    @include body-text;

    height: 42px;
    color: $color-primary;
    margin-bottom: 8px;
    overflow: hidden;
  }

  &--price-row {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid rgb(226, 230, 233);
    margin-bottom: 16px;
    padding-bottom: 7px;
  }

  &--new-price {
    color: $color-primary;

    @include h3;
  }

  &--old-price {
    @include old-price;

    align-self: center;
  }

  &--params {
    margin-bottom: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--buttons {
    display: flex;
  }

  &--cart-btn-empty {
    @include buttons;

    background: $color-primary;
    flex: 1;
    height: 40px;
    margin-right: 8px;
    border: none;
    color: $color-white;
  }

  &--cart-btn {
    @include buttons;

    flex: 1;
    height: 40px;
    margin-right: 8px;
    border: 1px solid $color-icons;
    color: $color-green;
  }

  &--fav-btn {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $color-icons;

    background-image: url('../../../public/images/svg/fav.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;

    &--active {
      background-image: url('../../../public/images/svg/fav-red.svg');
    }

    &:hover {
      border: 1px solid $color-primary;
    }
  }
}

.params-item {
  display: flex;
  justify-content: space-between;

  @include small-text;

  &--title {
    color: $color-secondary;
  }

  &--value {
    color: $color-primary;
  }
}
