@import '../../shared/global/utils/mixins';
@import '../../shared/global/globalStyles/globalStyles.scss';
@import '../../shared/global/utils/vars';
@import '../../shared/global/utils/fonts';

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $elements-border-color;
  background-color: $white;
  box-sizing: border-box;
  padding: 32px;
  gap: 8px;

  &__img {
    display: block;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include on-desktop {
      @include hover(transform, scale(1.03));
    }
  }

  &__name {
    margin: 0;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.3s;
    margin-top: 16px;
    cursor: pointer;

    @include body-text;

    &:hover {
      color: $accent-color;
    }
  }

  &__prices {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__price {
    @include header-3;

    &-discount {
      color: $elements-border-color;
      font-weight: 600;
      text-decoration: line-through;
    }
  }

  &__divider {
    display: block;
    height: 1px;
    background-color: $elements-border-color;
  }

  &__informartion {
    display: flex;
    flex-direction: column;
    padding-block: 8px;

    gap: 8px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__techChar {
    @include small-text;
    color: $secondary-text-color;
  }

  &__techValue {
    @include small-text;
    color: $main-text-color;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
