@font-face {
  font-family: SmallFont;
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}

.characters {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(137, 147, 154, 1);
  font-family: SmallFont;
  margin-bottom: 8px;
}

.iphone14_card {
  width: 212px;
  border-width: 1px;
  padding: 32px;
  border: 1px solid rgba(226, 230, 233, 1);
  height: 439px;
}

.products_photo {
  width: 115px;
  object-fit: contain;
  margin-bottom: 8px;
  height: 129px;
}

.center_for_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styles_for_butt {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.add_to_cart {
  width: 100px;
  height: 40px;
  background-color: rgba(49, 50, 55, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-right: 8px;
  font-family: SmallFont;

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }
}

.love_butt {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(180, 189, 195, 1);

  &:hover {
    border: 1px solid rgba(49, 50, 55, 1)
  }
}

.old_price {
  font-size: 22px;
  line-height: 100%;
  text-decoration: line-through;
  color: rgba(137, 147, 154, 1);
}

.name_styles {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(49, 50, 55, 1);
  text-decoration: none;
}

.name_font_styles {
  font-family: SmallFont;
}

.new_price {
  margin: 8px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
}

.grey_line {
  width: 148px;
  border: 1px solid rgba(226, 230, 233, 1);
  margin-bottom: 16px;
}

.span_caracters {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(49, 50, 55, 1);
  font-family: SmallFont;
}

.favorite_product {
  margin-top: 5px;
}
