@import '../vars.scss';

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 272px);
  column-gap: 16px;
  row-gap: 40px;
}

.page-button {
  width: 32px;
  height: 32px;
  background: transparent;

  border: 1px solid $light-gray;

  &:hover {
    border: 1px solid $dark-gray;
  }
}

.button-is-active {
  color: #fff;
  background-color: $dark-gray;
}

.main-catalog {
  margin-top: 80px;

  .section-catalog {
    &__caption {
      color: $gray-secondary;
      font-family: Mont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
    }

    &__items-displaying {
      display: flex;
      gap: 16px;
      margin-top: 40px;

      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        color: $gray-secondary;
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &--select {
        width: 176px;
        height: 40px;
        padding: 10px;
        color: $dark-gray;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        border: 1px solid $icons-border;

        &:hover {
          border: 1px solid var(--gray-secondary, $gray-secondary);
        }

        &:focus {
          border: 1px solid var(--gray-primary, $dark-gray);
          outline: none;
        }
      }

      &--select option {
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        color: var(--gray-secondary, $gray-secondary);
        height: 50px;

        &:hover {
          color: var(--gray-primary, $dark-gray);
        }
      }
    }

    &__products {
      margin-top: 24px;
    }

    &__pagination {
      margin: 40px auto 0;
      display: flex;
      gap: 16px;
      width: max-content;

      &--wrapper {
        display: flex;
        gap: 8px;
      }
    }
  }
}
