:root {
  --color-primary: #313237;
  --color-secondary: #89939A;
  --color-icons: #B4BDC3;
  --color-elements: #E2E6E9;
  --color-hover-bg: #FAFBFC;
  --color-white: #FFF;
  --color-green: #27AE60;
  --color-red: #EB5757;
}
