%h1 {
  font-size: 32px;
  line-height: 41px;
  font-weight: bold;
  letter-spacing: -0.01em;
}

%h2 {
  font-size: 22px;
  line-height: 31px;
  font-weight: bolder;
}

%h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

%upperCase {
  font-size: 12px;
  line-height: 11px;
  font-weight: bolder;
  letter-spacing: 0.04em;
}

%buttons {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

%text-normal {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

%text-small {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}