@import "../helpers/utils/variables";
@import "../helpers/utils/mixins";

.icon-box {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  background-color: transparent;
  @include transition( border-color);

  &--is-big {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border-color: $primary-color;
  }
}

.icon {
  display: inline-block;
  width: 5.3px;
  height: 9.3px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../helpers/img/icons/Vector-arrow.svg);

  &--left {
    background-image: url(../helpers/img/icons/Vector-arrow-left.svg);
  }

  &--is-disabled {
    background-image: url(../helpers/img/icons/Vector-arrow-right-dis.svg);
  }

  &--left.icon--is-disabled {
    background-image: url(../helpers/img/icons/Vector-arrow-left-dis.svg);
  }

  &--heart {
    width: 15.4px;
    height: 13.6px;
    background-image: url(../helpers/img/icons/Vector-heart.svg);
  }

  &--heart-selected {
    background-image: url(../helpers/img/icons/Vector-heart-red.svg);
  }
}
