.link {
  text-decoration: none;

  &--home-button {
    color: white;
  }
  &--footer {
    color: #c4c0d1;
    padding: 20px;
    transition: all $hover-duration;
    &:hover {
      color: #8281DA;
    }
  }
  &--back-to-catalog {
    font-size: .9em;
    text-transform: uppercase;
    padding: 15px;
    background-color: #3232e2;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #3333CC;
    }
  }
  &--phone-heading {
    margin: 20px 0;
    color: black;
    font-weight: bold;
  }
}