@import './utils';
@import './font';

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  font-family: Mont,sans-serif;
  color: $color-white;
}

a, button, img {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  background-color: $background-color;
}

body.sidebar-open {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
