.productSlider {
  margin: 0 auto 80px;

  width: 1136px;
  height: 515px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: Mont, sans-serif;
  font-style: normal;
  font-weight: 500;

  color: #313237;

  overflow: hidden;

  &__item {
    padding: 24px;
    margin-right: 16px;

    display: flex;
    flex-direction: column;

    width: 272px;
    height: 507px;

    border: 1px solid #e2e6e9;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    }
  }

  &__img {
    margin: 8px auto 24px;

    width: 170px;
    height: 208px;
  }

  &__title {
    margin-bottom: 7px;
    height: 42px;

    font-size: 14px;
    line-height: 21px;
  }

  &__discount {
    padding-bottom: 7px;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 22px;
    line-height: 140%;

    border-bottom: 1px solid #e2e6e9;
  }

  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;

    color: #89939a;
  }

  &__description {
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
  }

  &__info {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    color: #89939a;
  }

  &__characteristics {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    color: #313237;
  }

  &__btn {
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
  }

  &__btn--cart {
    margin-right: 8px;
    width: 176px;
    height: 40px;

    font-size: 14px;
    line-height: 21px;

    color: #fff;
    background-color: #313237;
    border: none;
    outline: none;

    cursor: pointer;

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.9;
    }
  }

  &__btn--favs {
    padding-top: 4px;
    width: 40px;
    height: 40px;

    background-color: #fff;
    border: 1px solid #b4bdc4;
    outline: none;

    cursor: pointer;

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.9;
    }
  }
}
