.title {
  margin: 0 0 24px;

  width: 1136px;

  font-family: Mont, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  color: #313237;
}
