// кольори
$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover_bg-color: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;
$shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

// шрифти
$font-primary: 'Mont', sans-serif;

// брейкпоінти
$breakpoint-mobile: 639px;
$breakpoint-tablet: 1199px;
$breakpoint-desktop: 1200px;

// шрифти
@font-face {
  font-family: Mont;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Mont-Bold.otf') format('opentype');
}
