@import './reset.scss';
@import './Aside.scss';
@import './typography.scss';
@import './Main.scss';

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Mont;
}

button {
  cursor: pointer;
}

$header-height: 64px;

.container {
  margin-inline: auto;
  max-width: 1136px;
  width: 100%;
}


.shopping-icon {
  width: 16px;
  height: 16px;
}

.header {
  width: 100%;
  padding-left: 24px;
  display: flex;
  box-shadow: 0px 1px 0px 0px #E2E6E9;

  &__wrapper {
    width: 100%;
    padding-left: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  &__nav {
    height: $header-height;
    .nav {
      &__list {
        display: flex;
        gap: 64px;
      }

      &__link {
        color: #313237;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 0.48px;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        height: $header-height;
        position: relative;
      }

      &__link.is-active::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #313237;
        border-radius: 5px;
      }
    }
  }

  &__home-link {
    background-image: url('../assets/icons/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 48px;
    height: $header-height;
  }

  &__header-bar {
    display: flex;
  }

  &__header-bar *:not(.header__search--button) {
    box-shadow: -1px 0px 0px 0px #E2E6E9;
  }

  &__header-bar a {
    width: 64px;
    height: $header-height;

    background-repeat: no-repeat;
    background-position: center;
  }

  &__search {
    display: flex;
    width: 328px;
    justify-content: space-between;

    &--bar {
      width: 100%;
      padding: 24px;
      font-size: 14px;
    }

    &--button {
      background-color: transparent;
      display: block;
      background-image: url('../assets/icons/search.svg');
      background-repeat: no-repeat;
      width: 64px;
      background-position: center center;
    }
  }

  &__favorites {
    background-image: url('../assets/icons/favorites.svg');
  }

  &__shopping-cart {
    background-image: url('../assets/icons/cart.svg');
  }
}

