@import "utils/reset";
@import "utils/vars";
@import "button";
@import "wrapper";
@import "../components/Navbar/header";
@import "link";
@import "../pages/HomePage/home";
@import "../components/Loader/loader";
@import "../components/Footer/footer";
@import "../pages/basket/basket";
@import "../pages/basket/basket-card";
@import "../pages/phones/phones-page";
@import "../pages/NoSuchPhone/no-such-phone";
@import "../pages/phone/phone-page";
@import "../pages/phones/phone-card";
@import "../components/Pagination/pagination";
@import "../pages/Page404/page404";
@import "../pages/rights/rights-page";
@import "media";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkMark {
  width: 16px;
}
