@import "Header";
@import "Home";
@import "Slider";
@import "Title";
@import "SliderButtons";
@import "ProductSlider";
@import "Category";
@import "Footer";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
