.description {
  gap: 16px;

  &__top {
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    gap: 64px;
  }

  &__price {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    gap: 8px;

    font-weight: 700;
    font-size: 32px;
    line-height: 41px;

    padding-bottom: 16px;

    &-regular {
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;

      color: $color-secondary;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;

    gap: 24px;
  }

  &__colors {
    display: flex;
    flex-direction: column;

    gap: 8px;

    padding-bottom: 16px;
    border-bottom: 1px solid $color-secondary-2;

    &-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;

      color: $color-secondary;
    }

    &-list {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    &-item {
      display: flex;

      justify-content: center;
      align-items: center;

      padding: 5px;

      border-radius: 50%;
      border: 1px solid #bbb;
    }
  }

  &__buy {
    padding-top: 32px;
  }

  &__color {
    padding: 3px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
  }

  &__capacity {
    display: flex;
    flex-direction: column;

    padding-bottom: 16px;
    border-bottom: 1px solid $color-secondary-2;

    &-text {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;

      color: $color-secondary;

      padding-bottom: 8px;
    }

    &-list {
      display: flex;
      flex-direction: row;

      gap: 8px;
    }

    &-link {
      padding: 5px;

      color: $color-primary;
      border: 1px solid $gray-icons-placeholders;

      &:hover {
        border: 1px solid $color-primary;
      }
    }
  }

  &__info {
    color: $color-secondary;

    display: flex;
    flex-direction: column;

    gap: 8px;

    padding-top: 16px;

    &-str {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-value {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: right;

        color: $color-primary;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    gap: 8px;

    height: 32px;
  }

  &__content {
    padding-top: 80px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    gap: 64px;
  }
}

.photos {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: start;

    min-height: 442px;

    gap: 16px;
  }

  &__item {
    display: flex;

    cursor: pointer;

    padding: 7px;
    border: 1px solid #c4c4c4;
  }

  &__link {
    width: 80px;
    height: 80px;

    object-fit: contain;
  }

  &__main {
    height: 442px;
    width: 442px;

    object-fit: contain;

    &-container {
      padding: 12px;
    }
  }
}

.section {
  width: 100%;

  display: flex;

  flex-direction: column;
  gap: 16px;

  &__paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #89939a;
    padding-bottom: 32px;

    border: none;
  }
}

.about {
  width: 100%;

  &__title {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-secondary-2;
    margin-bottom: 32px;
  }
}

.tech {
  width: 100%;

  &__title {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-secondary-2;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;

    flex-direction: column;

    gap: 8px;
  }

  &__item {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  &__spec {
    color: $color-secondary;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__value {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: $color-primary;
  }
}

.current {
  color: #fff;

  background-color: $color-primary;

  border: 1px solid $color-primary;
}

.current__color {
  border: 1px solid $color-primary;
}

.gold {
  background-color: #fcdbc1;
}

.midnightgreen {
  background-color: #5f7170;
}

.spacegray {
  background-color: #4c4c4c;
}

.silver {
  background-color: #f0f0f0;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}
