.categories {
  margin-bottom: 80px;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #313237;
    margin-bottom: 24px;
  }
  &__link {
    margin-right: 16px;
    &-container {
      display: flex;
    }
    &-banner {
      width: 368px;
      height: 368px;
      object-fit: contain;
      margin-bottom: 24px;
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #313237;
      margin-bottom: 4px;
    }

    &-quantity {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #89939a;
    }
  }
}
