$color-accent: #4219D0;
$color-secondary-accent: #F4BA47;
$color-primary: #0F0F11;
$color-secondary: #89939A;
$color-icons: #B4BDC3;
$color-elements: #E2E6E9;
$color-background: #FAFBFC;
$color-white: #FFF;
$color-green: #27AE60;
$color-red: #EB5757;
$color-text-hover: #313237;
$color-text-hover-secondary: #6f7073;
$color-btn-shadow: #17203166;
$color-cta-btn-purple: #667BD6;
$color-cta-btn-shadow-purple: #8595de;
$color-cta-btn-shadow-grey: #ccc;
$color-cta-text-blue: #1F82D5;
$color-cta-text-orange: #ED7835;
$color-box-shadow: #0000000D;

// color phone buttons

$color-phones-spaceblack: #403E3D;
$color-phones-gold: #F4E8CE;
$color-phones-gold-shade: #aba290;
$color-phones-graphite: #54524F;
$color-phones-sierrablue: #A7C1D9;
$color-phones-sierrablue-shade: #869aae;
$color-phones-midnight: #222930;
$color-phones-yellow: #F9E479;
$color-phones-yellow-shade: #aea055;
$color-phones-purple: #B8AFE6;
$color-phones-purple-shade: #938cb8;
$color-phones-white: #F6F2EF;
$color-phones-white-shade: #aca9a7;
$color-phones-blue: #023B63;
$color-phones-pink: #ffc7c7;
$color-phones-pink-shade: #b38b8b;
$color-phones-black: #25212B;
$color-phones-red: #D82E2E;
$color-phones-green: #AEE1CD;
$color-phones-green-shade: #7a9e90;
$color-phones-spacegray: #535150;
$color-phones-midnightgreen: #4E5851;
$color-phones-silver: #e2e4e1;
$color-phones-silver-shade: #9ea09e;
$color-phones-coral: #FF6E5A;
$color-phones-rosegold: #fddcd7;
$color-phones-rosegold-shade: #b19a97;

// color tablets buttons

$color-tablets-spacegray: #707070;
$color-tablets-starlight: #dcdcc8;
$color-tablets-starlight-shade: #848478;
$color-tablets-pink: #FFE5EC;
$color-tablets-pink-shade: #b3a0a5;
$color-tablets-rosegold: #fddcd7;
$color-tablets-rosegold-shade: #b19a97;
$color-tablets-silver: #e2e4e1;
$color-tablets-silver-shade: #9ea09e;
$color-tablets-green: #b4cca4;
$color-tablets-green-shade: #7e8f73;
$color-tablets-skyblue: #a7c2d4;
$color-tablets-skyblue-shade: #758894;
$color-tablets-gold: #edd0c2;
$color-tablets-gold-shade: #a69288;

// color accessories buttons

$color-accessories-spacegray: #464349;
$color-accessories-silver: #e6e6e6;
$color-accessories-silver-shade: #a1a1a1;
$color-accessories-gold: #ebd5d1;
$color-accessories-gold-shade: #8d807d;
$color-accessories-blue: #3f4c6e;
$color-accessories-red: #cb4243;

