@import './utils/mixins';

.container {
  width: 100%;

  box-sizing: border-box;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop{
    padding-inline: 152px;
  }
}
