.container {
  max-width: 1136px;
  width: 100%;
  border: 3px solid red;
  margin: 0 auto;
  margin-top: -40px;
  // background-color: pink;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
