.Details_List {
  position: relative;
  /* width: 100%; */
  font-size: 12px;
}

.Details_Li-ul {
  list-style-type: none;
  padding: 0;
}

.add-to-basket_button-details {
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  margin: 10px 350px;
  box-shadow: -2px 2px 5px 2px rgba(0,0,0,.1);
  height: 50px;
}

.add-to-basket_button-details:hover {
  cursor: pointer;
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: -5px 5px 5px 2px rgba(0,0,0,.1);
  font-size: 15px;

}

.add-to-basket_button-details:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: -2px 2px 3px 2px rgba(0,0,0,.1);
  font-size: 14px;
}

.phone-details {

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.phone-details_item {
  width: 150px;
  margin: 5px;
}

.phone-details_description {
  width: 80%;
}
