@import "../utils/mixins";
@import "../utils/variables";

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__message {
    margin-top: 20px;
    text-align: center;
    @include textH2;
    color: $redColor;
  }

  &__link {
    margin-top: 25px;
    height: 45px;
    @include textH3;
    display: flex;
    justify-content: center;
    color: $mainColor;
  }
}
