.phones-filter__area {
  margin: 12px 0;
  display: block;
  width: 200px;
  height: 40px;
  font-size: 18px;
  padding-left: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.phones-filter__area:focus {
  border: 2px solid #66d690;
}

.phones-filter__row {
  position: relative;
}

.invisible {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 45px;
}

.search-post__clear {
  visibility: visible;
  width: 30px;
  height: 34px;
  background: transparent;
  position: absolute;
  bottom: 0;
  right: 45px;
  cursor: pointer;
  border: none;
}
