@font-face {
  font-family: "MontBold";
  src: url(/public/fonts/Mont-Bold.otf);
}

@font-face {
  font-family: "MontRegular";
  src: url(/public/fonts/Mont-Regular.otf);
}

@font-face {
  font-family: "MontSemiBold";
  src: url(/public/fonts/Mont-SemiBold.otf);
}

%font-h1 {
  font-family: 'MontBold', sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

%font-h2 {
  font-family: 'MontBold', sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

%font-h3 {
  font-family: 'MontBold', sans-serif;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

%font-h4 {
  font-family: 'MontSemiBold', sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%font-uppercase {
  font-family: "MontBold", sans-serif;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

%font-buttons {
  font-family: 'MontSemiBold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

%font-body {
  font-family: 'MontRegular', sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

%font-small-text {
  font-family: 'MontSemiBold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

%font-h1-mobile {
  font-family: 'MontBold', sans-serif;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

%font-h2-mobile {
  font-family: 'MontBold', sans-serif;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

%font-h3-mobile {
  font-family: 'MontSemiBold', sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%font-h4-mobile {
  font-family: 'MontSemiBold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}