.footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  box-shadow: 0 -1px 0 $elements-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $container-width;
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__text {
    @extend %small-text;

    color: $secondary-color;
  }

  &__arrow {
    height: 32px;
    margin-left: 16px;

    transform: rotate(90deg);
    transition: all $transition-time linear;

    &:hover {
      border-color: $primary-color;
    }
  }
}
