@use './tokens' as *;
@use './mixins' as *;

@font-face {
  font-family: Mont;
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  color: $text;
  background: $bg;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
