.grid {
  position: relative;
  overflow: visible;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include onDesktopSmall {
    grid-template-columns: repeat(24, 1fr);
    column-gap: 20px;
  }

  &__item--tablet {

    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  &__item--desktop {

    @include onDesktopSmall {
      @for $start from 1 through 24 {
        @for $end from $start through 24 {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  &__item {
    display: block;
    margin: 0 20%;

    @include onTablet {
      margin: 0;
    }
  }
}
