.phones {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 8px;
    @include h1;
  }

  &__paragraph {
    @include bodyText;
    color: $gray-secondary;
    margin-bottom: 40px;
  }
}

.path {
  @include smallText;
  color: $gray-secondary;
  line-height: 16px;
}

.phones-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 16px;
}
