@import "./utils/utils";

.product-details {
  max-width: $desktop-width;
  width: 100%;
  box-sizing: border-box;

  &__top {
    margin-bottom: 16px;
  }

  &__title {
    @include h1;

    color: $c-gray-primary;
    margin-bottom: 40px;
  }

  &__look-container {
    margin-bottom: 80px;
    box-sizing: border-box;
  }

  &__text {
    @include smal-text;

    color: $c-gray-secondary;
    margin-bottom: 8px;
  }

  &__choice {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-bottom: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $c-gray-elements;
    margin-bottom: 24px;

    &-list {
      display: flex;
      gap: 8px;
    }
  }

  &__prices {
    margin-bottom: 20px;
  }

  &__price {
    @include h2;

    &--old {
      margin-left: 8px;
      line-height: 28px;
      text-decoration: line-through;
      color: $c-gray-secondary;
    }
  }

  &__buttons {
    margin-bottom: 32px;
  }

  &__detal {
    &-name {
      margin-bottom: 8px;
      color: $c-gray-secondary;
      text-transform: capitalize;

      @include smal-text;
    }

    &-value {
      text-align: end;
      margin-bottom: 8px;
      text-transform: uppercase;
      color: $c-gray-primary;

      @include smal-text;
    }
  }

  &__character {
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    &-name {
      margin-bottom: 8px;
      color: $c-gray-secondary;
      text-transform: capitalize;

      @include body-text;
    }

    &-value {
      text-align: end;
      margin-bottom: 8px;
      text-transform: uppercase;
      color: $c-gray-primary;

      @include body-text;
    }
  }

  &__descript-container {
    display: flex;
    gap: 64px;
    margin-bottom: 80px;
    max-width: $desktop-width;
    width: 100%;
  }

  &__description,
  &__character-specs {
    width: 100%;
  }

  &__name {
    padding-bottom: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid $c-gray-elements;
    margin-bottom: 32px;
  }

  &__info-title {
    @include h3;

    margin-bottom: 16px;
    color: $c-gray-primary;
  }

  &__info-text {
    @include body-text;

    margin-bottom: 32px;
    color: $c-gray-secondary;
  }

  &__slider {
    width: 100%;
  }
}
