@import "./utils/utils";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  max-width: $desktop-width;
  width: 100%;
  margin-top: 30px;

  @include on-desktop {
    margin: 0;
  }

  &__top {
    width: 100%;
  }

  &__title {
    color: $c-gray-primary;
    width: max-content;
    margin-bottom: 8px;

    @include h1;
  }

  &__count {
    width: max-content;
    margin-bottom: 40px;
    color: #89939a;

    @include body-text;
  }

  &__sort-container {
    display: flex;
    width: max-content;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1, $card-width);
    justify-content: center;
    gap: 40px 16px;
    margin-bottom: 40px;

    @include on-tablet {
      grid-template-columns: repeat(2, $card-width);
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(3, $card-width);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, $card-width);
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
  }

  &__nf {
    position: absolute;
    top: 100%;
    left: calc(50% - 150px);
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;

    &-title {
      @include h3;
    }

    &-back {
      text-decoration: none;
      color: $c-white;
      background-color: $c-gray-primary;
      transition: 0.3s;
      
      @include h3;

      &:hover {
        box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
      }
    }
  }
}
