.productsList {
  &__title {
    @extend %title-text;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 272px);
    column-gap: 16px;
    row-gap: 40px;
    justify-content: center;
    align-content: center;
    margin: 0 auto 40px;
  }

  &__card {
    display: grid;
    place-items: center;
    width: 272px;
    height: auto;
  }

  &__sort {
    display: flex;
    margin-bottom: 24px;
  }

  &__sortBy {
    display: flex;
    gap: 16px;
  }
}
