.slider {
  width: 1137px;
  overflow: hidden;

  @include onPhone {
    width: 280px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__photos {
    display: flex;
    gap: 16px;
    transition: transform 0.5s ease;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    margin-top: 5px;
  }

  &__link {
    text-decoration: none;
  }
}

.button {
  width: $button-slider-size;
  height: $button-slider-size;
  border: 1px solid #b4bdc3;
  background-color: white;
  cursor: pointer;

  @include hover(border, (1px solid #313237));

  &--slider--left {
    rotate: 180deg;
  }
}

.slider-buttons {
  display: flex;
  gap: 16px;
}

.productSlide {
  animation: lide-in-from-right 0.5s ease forwards; /* Ensure animation continues after sliding in */
}

@keyframes slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
