* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
