.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 100%;
  box-shadow: -1px 0px 0px $element;

  @include onTablet {
    width: 180px;
  }

  &__input {
    @extend .body_text;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    color: $primary;
    padding-left: 24px;

    @include onTablet {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      padding-left: 15px;
    }

    &::placeholder {
      font-size: 14px;
      color: #b4bdc3;
      line-height: 18px;

      @include onTablet {
        font-size: 10px;
        line-height: 15px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 64px;
    background-image: url('../images/icons/Search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    border: none;

    @include onTablet {
      width: 50px;
    }
  }

  &__cross {
    align-self: center;
    background-image: url('../images/buttons/Close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    border: none;
    width: 15px;
    height: 15px;
  }
}
