.select {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;

  &__title {
    color: $secondary;
    @extend .small_text;
    margin: 0;
  }
}

.select-box {
  position: relative;
  width: 128px;
  height: 40px;
  border: 1px solid $icons;
  background-color: $white;
  padding: 0;

  &:focus {
    border: 1px solid $primary;
  }

  &__text-item {
    position: absolute;
    @extend .buttons_text;
    left: 12px;
    top: 10px;
    margin: 0;
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-image: url("../images/buttons/down_secondary.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.active-select {
  background-image: url("../images/buttons/up_secondary.svg");
}

.select-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -4px;
  left: -1px;
  width: 127px;
  transform: translateY(100%);
  border: 1px solid $element;
  box-shadow: 0 2px 15px #000d;
  background-color: $white;
  transition: all ease-in-out;
  list-style: none;
  margin: 0;
  padding: 8px 0;

  &__item {
    display: block;
    position: relative;
    height: 32px;
    color: $secondary;
    background-color: $white;
    cursor: unset;

    &:hover {
      color: $primary;
      background-color: $hover_bg;
    }

    &:active {
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.long-box {
  width: 176px;
}
