$primary: rgba(49, 50, 55, 1);
$secondary: rgba(137, 147, 154, 1);
$hover_bg: rgba(226, 230, 233, 1);
$icons: rgba(180, 189, 195, 1);
$element: rgba(226, 230, 233, 1);
$white: rgba(255, 255, 255, 1);
$tablet-max-width: 1199px;
$mobile-max-width: 639px;
