body.light-theme {
  --bg-color: #fff;
  --primary-color: #313237;
  --secondary-color: #89939a;
  --elements-color: #e2e6e9;
  --shadow-color: #e2e6e9;
}

body.dark-theme {
  --bg-color: #0f1121;
  --primary-color: #f1f2f9;
  --secondary-color: #75767f;
  --elements-color: #3b3e4a;
  --shadow-color: #3b3e4a;
}

$header-height-desktop: 64px;
$header-height-tablets: 48px;
$desktop-min-width: 1200px;
$tablet-min-width: 640px;
$scale: 1.05;
$transition-time: 0.2s;
