@import '/src/utils/variables';
@import '/src/utils/mixins';

.swiper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;

  &-wrapper {
    display: flex;
    align-items: stretch;
  }

  &-slide {
    width: auto;
    flex-shrink: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
    color: $gray-primary;
    @include adaptiv-value(font-size, 22, 32, 1);
    @include adaptiv-value(width, 136, 800, 1);
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

}

.button {
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  border: 1px solid $gray-icons-placeholders;
  border-radius: 50%;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;

  &:hover {
    cursor: pointer;
  }

  &-prev {
    background-image: url(../../assets/icons/arrow-right--default.svg);
    transform: rotate(180deg);

    &:hover {
      border-color: $gray-primary;
    }

    &--disabled {
      background-image: url(../../assets/icons/arrow-right--disabled.svg);
      border-color: $gray-elements;
      
      &:hover {
        border-color: $gray-elements;
      }
    }
  }
  
  &-next {
    background-image: url(../../assets/icons/arrow-right--default.svg);
    
    &:hover {
      border-color: $gray-primary;
    }

    &--disabled {
      background-image: url(../../assets/icons/arrow-right--disabled.svg);
      border-color: $gray-elements;
    
      &:hover {
        border-color: $gray-elements;
      }
    }
  }
}
