@font-face {
  font-family: Mont;
  src: url('../../../public/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('../../../public/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('../../../public/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
