@use './mixins' as *;
@use './vars' as *;

%title-basic {
  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 32px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }
}

%specs-information {
  display: flex;
  justify-content: space-between;

  & p {
    color: $secondary;
  }
}

%category-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;

  & img {
    height: 100%;
    position: absolute;
    top: 25%;
    left: 20%;
  }
}

%button-slider {
  background-color: $surface-2;
  border: 1px solid $surface-2;
  height: 32px;
  width: 32px;

  &:disabled {
    background-color: transparent;
  }

  &:hover {
    background-color: $icons;
    cursor: pointer;

  }

  html[data-theme="light"] & {
    background-color: white;
    border: 1px solid $icons;

    &:disabled {
      border: 1px solid $elements;

    }
  }
}

%button-add {
  background-color: $accent;
  border: none;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 0;

  &:hover {
    background-color: #A378FF;
    cursor: pointer;
  }

  &:disabled {
    background-color: $surface-2;
  }

  html[data-theme="light"] & {
    color: $black;
    background-color: $white;
  }
}

%button-like {
  background-color: $surface-2;
  border: none;
  padding: 0;

  &.added {
    background-color: transparent;
    border: 1px solid $elements;
  }

  &:hover {
    background-color: $icons;
    cursor: pointer;
  }

  html[data-theme="light"] & {
    border: 1px solid $icons;
  }

  & img {
    height: 13px;
    width: 15px;
  }
}

%category-quantity {
  color: $secondary;
  font-size: 14px;
  font-weight: 600;
}


