$colorPrimary: #313237;
$colorSecondary: #89939a;
$colorIcons: #b4bdc3;
$colorIconsPlaceholders: #b4bdc4;
$colorElements: #e2e6e9;
$colorHover: #fafbfc;
$colorGreen: #27ae60;
$colorRed: #eb5757;
$colorWhite: #fff;
$boxShadowButon: 0 3px 13px rgba(23, 32, 49, 0.26);
