$font-family: 'Mont', sans-serif;
$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;
$max-width: 1200px;
$c-primary: #313237;
$c-secondary: #89939A;
$c-icons: #B4BDC3;
$c-elements: #E2E6E9;
$c-hover-and-bg: #FAFBFC;
$c-white: #fff;
$c-green: #27AE60;
$c-red: #EB5757;
$transition: 0.3s;