@use "../../shared/utils/variables" as *;

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(60px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 24px 16px;

  &__bread-crumbs {
    display: flex;
    gap: 8px;


    &--text {
      color: $gray-color;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
