@use '@constants/colors.scss' as cl;
@use '@mixins/typography/buttonText' as *;

@mixin active-black {
  &:active {
    color: cl.$white;
    outline: 1px solid cl.$gray-primary;
    background-color: cl.$gray-primary;
    box-shadow: 0 0 1px cl.$elements;

    > svg path {
      fill: cl.$white !important;
    }
  }
}
