.description-text-template {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: rgba(137, 147, 154, 1);
}

.description-value-template {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: rgba(49, 50, 55, 1);
}
