@import '../../utils/mixins';
@import '../../utils/variables';

.catalog {
  &__navigation {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 8px;

    @include on-tablet {
      padding-bottom: 40px;
    }
  }

  &__current-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--color-grey);
    line-height: 15px;
    text-transform: capitalize;
  }

  &__title {
    padding-bottom: 8px;
  }

  &__quantity {
    color: var(--color-grey);
    padding-bottom: 32px;

    @include body-text;

    @include on-tablet {
      padding-bottom: 40px;
    }
  }
  &__list {
    padding-bottom: 24px;

    @include on-tablet {
      padding-bottom: 40px;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__reload {
    background-color: var(--color-accent);
    border: none;
    border-radius: 48px;
    padding: 12px 24px;
    color: white;
    cursor: pointer;

    @include buttons-text;

    &:hover {
      box-shadow: 0 3px 13px 0 #17203166;
    }
  }
}
