@import "../../scss/mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 16px;

  @include onLaptop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }

  @include onMobile {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 25px;
  }

  &__item {
    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--laptop--#{$start}-#{$end} {
          @include onLaptop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--mobile--#{$start}-#{$end} {
          @include onMobile {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
