.new-models-slider {
  background: white;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  grid-column: 1 / -1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  width: 213px;
  height: 439px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 640px) {
    width: 237px;
    height: 512px;
  }
  @media (min-width: 1200px) {
    width: 272px;
    height: 512px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
