@use '../../styles/utils/mixins' as *;


// .home-page {
// }

.home-page__title-wrapper {
  margin-bottom: 24px;
}

@include on-tablet {
  .home-page__title-wrapper {
    margin-bottom: 32px;
  }
}

@include on-desktop {
  .home-page__title-wrapper {
    margin-bottom: 56px;
  }
}

// .home-page__slider {
// }
