.logo {
  display: flex;

  @include on-desktop {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__img {
    width: 64px;
    height: 22px;

    @include on-desktop {
      width: 80px;
      height: 28px;
    }
  }
}

