
.Logo {
  margin-left: 24px;
  height: 100%;
  &__link {
    display: block;
    width: 40px;
    height: 64px;
    background-color: none;
    background-image: url(../../imgs/Icons/LOGO.png);
    background-position: center;
    background-repeat: no-repeat;

  }

}
