@import '../../utils/mixins';

.logo {
  &__navigation {
    background-image: url('../../img/Logo.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 22px;

  @include navigation-on-desktop {
    width: 80px;
    height: 28px;
}
  }
  &__menu {
    background-image: url('../../img/Logo_menu.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 22px;

  @include navigation-on-desktop {
    width: 80px;
    height: 28px;
}
  }
  &__footer {
    background-image: url('../../img/Logo.png');
    background-repeat: no-repeat;
    width: 89px;
    height: 32px;
    margin: 20px 0 0 40px;
  }
}
