.add-to-cart {
  &--added {
    font-size: 12px;
    background-color: var(--c-surface-2);
  }

  @include on-tablet {
    padding: 10px 22px;
  }

  @include on-desktop {
    padding: 10px 40px;
  }
}
