@import '../../styles/mixin';
@import '../../styles/variables';

.Dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DropdownLabel {
  font-size: 12px;
  color: $secondary-color;
  margin-bottom: 4px;
}

.DropdownHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid $elements-color;
  padding: 10px 12px;
  width: 176px;
  font-size: 14px;
}

.Icon {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  transition: transform 0.3s;
}

.Icon.Up {
  background-image: url('../../../images/arrow-left.svg');
  transform: rotate(90deg);
}

.Icon.Down {
  background-image: url('../../../images/arrow-left.svg');
  transform: rotate(-90deg);
}

.DropdownMenu {
  padding: 8px 0;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: #fff;
  border: 1px solid $elements-color;
  box-shadow: 0 2px 15px 0 #0000000D;
  width: 176px;
  z-index: 10;
}

.DropdownOption {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all $transition;

  &:hover,
  &:focus {
    background-color: #f8f9fa;
    color: $primary-color;
  }
}
