@import '../../App.scss';

.acc-toplwrpr {
  max-width: 1136px;
  margin: 24px auto 40px;

  @media (max-width: 1199px) {
    margin-left: 16px;
  }
}

.acc--nav-legend, .acc-homeIcon {
  display: flex;
  align-items: center;
}

.acc-homeIcon svg {
  color: $color-primary-black;
}

.acc--link-legend {
  display: inline;
  @include font-small;
  color: $color-secondary-grey;
  line-height: 16px;
}

.acc-homeIcon {
  &.theme1 svg {
    color: $theme-dark-white;
  }
}
