@import '/src/styles/mixins';

.cart{
  box-sizing: border-box;
  display: grid;
  padding: 32px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(226, 230, 233, 1);
  background-color: white;

  &__img {
    cursor: pointer;
    width: 100%;
    height: 129px;

    @include on-tablet {
      height: 181px;
    }

    @include on-desktop {
      height: 196px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name{
    cursor: pointer;
    font-family: Mont, sans-serif;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgba(15, 15, 17, 1);
    text-decoration: none;
  }

  .box{
    display: flex;
    gap: 8px;

    &__fullPrice{
      color: rgba(137, 147, 154, 1);
      text-decoration: line-through;
    }
  }

  hr{
    margin: 0;
    width: 100%;
    background-color: rgb(226, 230, 233);
    height: 1px;
    border: none;
  }

  &__parameters{
    padding-block: 8px;
    width: 100%;
    display: grid;
    gap: 8px;

    &--field{
      display: flex;
      justify-content: space-between;

      p{
        margin: 0;
        font-family: Mont, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15.34px;
        color: rgba(137, 147, 154, 1);

        &:last-child{
          color: rgba(15, 15, 17, 1);
        }
      }
    }
  }

  &__buttons{
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: space-between;

    .button{
      grid-column: span 3;
      border-radius: 8px;
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      min-width: 100px;
      cursor: pointer;
    }

    .add{
      background: rgba(33, 108, 255, 1);
      border: none;
      color: #fff;

      &:hover{
        border: 1px solid rgba(33, 108, 255, 1);
        color: black;
        background-color: inherit;
        transition-duration: 0.5s;
      }
    }

    .added{
      background-color: white;
      color: rgba(33, 108, 255, 1);
      border: 1px solid rgba(226, 230, 233, 1);
    }

    .favorite{
      grid-column: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      border-radius: 50px;
      border: 1px solid rgba(180, 189, 195, 1);
      background-color: inherit;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      cursor: pointer;

      &:hover{
        border: 1px solid rgba(15, 15, 17, 1);
        transition-duration: 0.5s;
      }
    }
  }
}
