@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;

  @media (max-width: $mobile) {
    gap: 24px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & h1 {
    @include page-title;
  }

  & h4 {
    @include items-count;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media(max-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: $desktop-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: $mobile-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.isEmpty {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 500px;
    height: 500px;
  }
}
