@import '/src/styles/global';

.favourites {
  width: 100%;
  // ! need to change
  min-height: calc(100vh - 167px);

  &__quantity {
    margin-bottom: 40px;
  }

  &__products {
    width: 100%;

    display: grid;
    gap: 16px;
    row-gap: 40px;

    margin-bottom: 40px;

    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1050px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include on-desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
