.main {
  padding-top: 64px;

  @include on-tablet {
    padding-top: 70px;
  }
}

.title {
  margin-bottom: 20px;
}

.wrapper {
  margin-top: 24px;
  grid-column: 1 / -1;
}

.items {
  margin-top: 32px;
  display: grid;
  gap: 40px;

  @include on-tablet {
    grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
    column-gap: 16px;
  }
}

.quantity {
  display: block;
  font-size: 14px;
  color: var(--color-secondary);
  font-weight: 600;
}
