@import "../../../styles/utils";

.banner {
  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &--image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1040px;
    height: 400px;
    display: none;

    &--active {
      display: block;
      animation: animation-appearing $effect-duration ease-in-out forwards;
    }

    &--1 {
      background-image: url("../../../images/banner-1.png");
    }

    &--2 {
      background-image: url("../../../images/banner-2.png");
    }

    &--3 {
      background-image: url("../../../images/banner-3.png");
    }
  }

  &--button {
    background-color: inherit;
    border: 1px solid $color-icons;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-primary;
    }
  }

  &--list {
    display: flex;
    flex-direction: row;
    margin: 18px auto 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    gap: 14px;
  }

  &--item {
    width: 14px;
    height: 4px;
    background-color: $color-elements;

    &--active {
      background-color: $color-primary;
      animation: animation-appearing $effect-duration ease-in-out forwards;
    }
  }
}
