.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 20px 80px;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
};

.menu__top {

};

.top-bar__logo {
 width: 89px;
 height: 32px;
};
