.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px 16px;
  justify-items: center;
}

@media (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
