@import "../../styles/_utils/variables.scss";

.way {
  display: flex;

  &__icon16 {
    height: 16px;
    width: 16px;

    background-position: center;
    background-repeat: no-repeat;
  }

  &__home {
    background-image: url(../../images/icons/Home.svg);
    margin-right: 5px;
  }

  &__arrow-right {
    background-image: url(../../images/icons/Chevron-Arrow-Right.svg);
    margin-right: 5px;
  }

  &__link {
    color: $colorSecondary;
    margin-right: 5px;
    transition: color $timeTransotionGeneral;

    &:hover {
      color: $colorPrimary;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
  }
}
