@import "../../styles/main";

.container {
  padding-inline: 16px;

  @include container;

  padding-top: 24px;
  padding-bottom: 56px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
}

.back {
  @include small-text;

  color: var(--color-white);
}

.title {
  @include h1-mobile;
  
  color: var(--color-white);
  padding-top: 24px;
  padding-bottom: 32px;
}

.info {
  display: grid;
  grid-template-columns: 1;
  gap: 32px;

  @include on-desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.emptyImg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
