@mixin iconInButton ($imageUrl) {
  background-image: $imageUrl;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.2s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

input {
  margin: 0;
  padding: 0;
}

.ButtonFavor {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: solid 1px #b4bdc3;
  @include iconInButton(url(../../img/Icons/heart.svg));
  @include hover(border, 1px solid #313237);

  &__Input {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.ButtonFavor--isInFavorites {
  @extend .ButtonFavor;
  @include iconInButton(url(../../img/Icons/redHeart.svg));
}

.ButtonCart {
  height: 40px;
  width: 176px;
  border: none;
  background: #313237;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  @include hover(box-shadow, 0 3px 13px rgba(23, 32, 49, 0.26));

  &--isInCart {
    color: #27ae60;
    border: solid 1px #e2e6e9;
    background-color: #fff;
  }
}

.ButtonCart--width {
  width: 263px;
}
