@import "../../../../styles/utils/vars";
@import "../../../../styles/utils/mixins";

.shopbar__item-dyn {
  @include flexCenter;
  width: 44px;
  height: 100%;
  box-shadow: -1px 0 0 $elementsColor;
  position: relative;

  @include onTablet {
    width: 66px;
  }

  &::after {
    @include barAnimation;
  }
  
  &.active {
    &::after {
      width: 100%;
    }
  }

  @include onTablet {
    box-shadow: -1px 0 0 $elementsColor;
    border: none;
  }

  &__count {
    @include flexCenter;
    @include square(30px);
    position: relative;

    &__item {
      @include flexCenter;
      @include square(14px);
      font-size: 9px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 50px;
      background-color: $likedColor;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
