$color-icons: #b4bdc4;
$color-primary: #313237;
$color-elements: #e2e6e9;

.Card {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  transition: all 0.8s;
  &__Title {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -0.01em;
    color: $color-primary;
  }

  &__Container {
    margin: 0 auto;
    overflow: hidden;
  }

  &__Item {
    width: 272px;
    list-style-type: none;
  }

  &__Button {
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-icons;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 1rem;
    outline: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      border: 1px solid $color-primary;
      box-sizing: border-box;
    }

    &:disabled {
      border: 1px solid $color-elements;
      box-sizing: border-box;
      cursor: default;

    }

    &--arrow {
      height: 1rem;
      width: 1rem;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &--disabled {
        background-color: $color-elements;
      }
    }

    &--arrow-left {
      mask-image: url(../../images/icons/chevron-arrow-left.svg);
    }

    &--arrow-right {
      mask-image: url(../../images/icons/chevron-arrow-right.svg);


    }

  }

  &__Title {
    &-site {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }
  }
}
