@import '../../../shared/utils-scss/variables';
@import '../../../shared/utils-scss/font';
@import '../../../shared/utils-scss/mixins';

.product {
  margin-bottom: 80px;

  &__title {
    font-size: 32px;
    line-height: 40.9px;

    @extend %mont-700;
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__phone {
    width: 212px;
    height: 439px;

    @include on-tablet {
      width: 237px;
      height: 512px;
    }

    @include on-desktop {
      min-width: 272px;
      height: 506px;
    }
  }

  &__cart {
    display: flex;
    gap: 16px;
    transition: all 0.8s;
  }
}

.region {
  overflow: hidden;
}
