.nav {
  height: 64px;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: $gray-secondary;
    font-family: "Mont", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 26px 0;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &--is-active {
      position: relative;
      color: $gray-primary;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $gray-primary;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        bottom: 0;
        left: 0;
      }
    }

    &:hover {
      color: $gray-primary;
      transition: all 0.3s;
    }
  }

  &__favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $gray-elements;
    fill: red;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    padding: 21px;
    cursor: pointer;

    &-placeholder {
      font-size: 14px;
      width: 306px;
      font-weight: 600;
      line-height: normal;
      color: $gray-icons-placeholders;
      border: none;
      outline: none;
      background-image: url("../../images/search.svg");
      background-repeat: no-repeat;
      background-position: right center;
      cursor: pointer;

      &:focus {
        color: var(--gray-primary, #313237);
        font-size: 14px;
        font-weight: 600;
        background-image: url("../../images/close.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__favorites,
  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border: 1px solid $gray-elements;

    &--is-active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $gray-primary;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        bottom: 0;
        left: 0;
      }
    }

    &:hover {
      border: 1px solid $gray-primary;
      transition: all 0.3s;
    }

  }

}
