@import "../../styles/main";

.navigation {
  display: flex;
  gap: 64px;

  @include for-phones {
    gap: 10px;
  }

  &__link {
    position: relative;
    padding-block: 27px 26px;

    @extend %upper-case;
    @include hover(color, $main-color);

    &-is-active {
      color: $main-color;

      &::after {
        @extend %active-line;
      }
    }
  }
}
