@use '../../styles/variables' as v;
@use '../../styles/mixins' as mix;

.cartEmpty {
  flex-grow: 1;
  background-color: v.$colorSurface2;
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 50px;
  align-items: center;

  @include mix.respond-to(mobile) {
    flex-direction: column;
  }

  &__img {
    display: block;

    @include mix.square(400px);

    object-fit: contain;

    @include mix.respond-to(tablet) {
      @include mix.square(250px);
    }

    @include mix.respond-to(mobile) {
      @include mix.square(180px);
    }

  }
}