$background-color: #FFF;
$color-button: #F86800;
$color-grey: #89939A;
$color-white: #fff;
$color-elements: #E2E6E9;
$hover-button: #B4BDC3;
$red-color: #EB5757;
$hover-button-orange: #F86800;
$color-primary: #0F0F11;
$width-tablet: 640px;
$width-desktop: 1200px;
$width-big-desktop: 1440px;
$padding-inline-mobile: 16px;
$padding-inline-tablet: 24px;
$padding-inline-desktop: 32px;
$padding-inline-big-desktop: 152px;
