@import '../../styles/mixines';

.brand__models {
  padding-block: 56px;
  margin: 0;

  @include pagegrid;

  grid-column: 1 / -1;

  @include ontablet {
    padding-block: 64px;
  }

  @include ondesktop {
    padding-block: 80px;
  }
}
