@use "sass:math";
@import '../vars/global';

@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;

  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;

  @return $result;
}

@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;

  @return $result;
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: rem(16);

  @media (min-width:$mobile) {
    --columns: 12;
  }

  @media (min-width:$tablet) {
    --columns: 24;
  }
}