.noSearchResults {
  width: 100%;
  padding-left: calc((100% - 1136px) / 2);
  font-family: "Mont-Regular", sans-serif;
  color: #313237;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
