.slide {
  min-width: 212px;
}

.products {
  overflow: hidden;
  margin: 0;
  padding-bottom: 56px;

  @media (min-width: 640px) {
    padding-bottom: 64px;
  }

  @media (min-width: 1199px) {
    padding-bottom: 80px;
  }
}

.slider {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: start;

  @media (min-width: 640px) {
    justify-content: space-between;
  }
}
