@import '../variables';
@import '../mixins';

.favourites {
  flex-grow: 1;
  margin-inline: 16px;
  display: flex;
  flex-direction: column;

  @include favourites;

  &__title {
    height: 41px;
    font-weight: 800;
    font-size: 32px;

    @include favourites-title;
  }

  &__quantity-of-favourites {
    margin-top: 8px;
    color: #89939a;
  }
}

.adress {
  margin-block: 24px;

  @include adress;

  &__arrow-right {
    &__image {
      width: 5.33em;
      height: 9.33px;
      object-fit: contain;
    }
  }
}

.block-items {
  margin-top: 32px;
  margin-bottom: 56px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include favourites-block-items;
}
