$transition-time: 0.5s;
$primary-color: #313237;
$secondary-color: #89939a;
$green-color: #27ae60;
$red-color: #eb5757;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$header-height: 64px;
$footer-height: 96px;
