@import '../../styles/variables';

.container {
  max-width: $bp-desktop;
  margin: 0 auto;
  padding: 24px 16px;
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 41px;
  color: $c-primary;
}

.count {
  margin-bottom: 32px;
  font-weight: 600;
  color: $c-secondary;
}
