@import '../../../styles/main.scss';

.breadcrumbs__container {
  height: 16px;
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;

  &__item {
    font-family: 'Mont-SemiBold', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: $color-gray-secondary;
    display: inline-block;
    vertical-align: middle;
  }

  &__link-home,
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: relative;
  }
}

.breadcrumbs__link-home::after,
.breadcrumbs__arrow::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.breadcrumbs__link-home::after {
  content: url('/icons/Home.svg');
}

.breadcrumbs__arrow::after {
  content: url('/icons/Chevron\ \(Arrow\ Right\)\ \ disabled.svg');
}
