@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.controls {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  @include respond-to(420px) {
    flex-direction: column;
    gap: 20px;
  }
}
