@import '../../utils/variables';

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    height: 100%;
    text-decoration: none;

    &__image {
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    &__name {
      font-size: 14px;
      color: var(--color-gray-primary);
    }
  }
