@use '@shared/styles/constants' as c;

body,
a,
ul,
button,
h1,
main,
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: c.$white;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
