@import './common/mixins';

._icon-close::before {
  content: "\e900";
}

._icon-heart::before {
  content: "\e901";
}

._icon-heart_like::before {
  content: "\e902";
  color: #eb5757;
}

._icon-home::before {
  content: "\e903";
}

._icon-lightbulb::before {
  content: "\e904";
}

._icon-minus::before {
  content: "\e905";
}

._icon-plus::before {
  content: "\e906";
}

._icon-search::before {
  content: "\e907";
}

._icon-arrow::before {
  content: "\e908";
}

._icon-cart::before {
  content: "\e909";
}