@import "../../mixins.scss";

.CardsSlider {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__head-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0;

  }

  &__title {
    @include h1;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 559px) {
      font-size: 20px;
    }
  }

  &__button {
    @include pagination-button;

  }

  &__stripe-container {
    overflow: hidden;
    margin: 0;
    width: 1136px;
    @media screen and (max-width: 1135px) {
      width: 848px;
    }
    @media screen and (max-width: 847px) {
      width: 560px;
    }
    @media screen and (max-width: 559px) {
      width: 274px;
    }
  }

  &__stripe {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    transition: 1s;
  }

}
