.home-page {
  padding-top: 40px;
  margin-bottom: 80px;

  &__banner-slider {
    margin-bottom: 104px;
  }

  &__hot-price {
    margin-bottom: 80px;
  }

  &__shop-by-category {
    margin-bottom: 80px;
  }
}
