@use '../../../../styles/mixins';

.sectionInner {
  @include mixins.on-desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  margin-bottom: 24px;

  @include mixins.on-tablet {
    padding-inline: 24px;
  }

  @include mixins.on-desktop {
    padding-inline: 32px;
  }
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
  color: rgba(49, 50, 55, 1);

  @include mixins.on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrowLeft,
.arrowRight {
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(226, 230, 233, 1);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    border: 1px solid rgba(180, 189, 195, 1);
  }
}

.sliderWrapper {
  overflow: hidden;
  margin-right: 0;
  margin-left: 16px;

  @include mixins.on-tablet {
    margin-left: 24px;
  }

  @include mixins.on-desktop {
    margin-inline: 32px;
  }
}