@import 'src/components/ui/utils/style/mixin';
@import 'src/components/ui/utils/style/variables';

.favourite {
  width: 28px;
  height: 28px;


  &__icon {
    width: 28px;
    height: 28px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__counter {
    height: 14px;
    width: 14px;
    font-size: 9px;
    background-color: $Accent;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    outline: 1px solid white;
    font-weight: 9px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
