$color-white: #fff;
$color-black: #000;
$color-header-border: #E2E6E9;
$color-link-navigation: #89939A;
$color-hover-nav: #0F0F11;
$color-hover-menu: #313237;
$color-hover-button: #17203166;
$color-primary-button: #216CFF;
$color-category-phone: #6D6474;
$color-category-accessories: #D53C51;
$color-slider-left: #222;
$color-select: #B4BDC3;
$color-secondary-accent: #F447AF;
$color-select-dropdown: #FAFBFC;
$color-alert-button: #ff5757;
$color-cancel-button: #e0e0e0;
$color-overlay: #00000080;
$color-modal: #0000004d;
$color-spinner: #ccc;
$color-spinner-top: #333;
$color-error: #fff3f3;
$color-error-border: #fcc;
$color-error-message: #c00;
$color-transparent: #0000;
$color-dark-background: rgb(15, 17, 33);
$color-dark-text: #75767F;
$color-dark-text-white: #75767F;
$color-dark-button: #323542;
$color-grey-white-button: #eaeaea;
$color-dark-item: #161827;


