.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
    column-gap: 16px;
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }
  
  &__item {
    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
    
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
