.h1 {
  font-family: Mont-Bold, sans-serif;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  grid-column: 1/-1;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.h2 {
  font-family: Mont-Bold, sans-serif;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.h3 {
  font-family: Mont-Bold, sans-serif;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

.h3-mob {
  font-family: Mont-SemiBold, sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

.h4 {
  font-family: Mont-SemiBold, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.uppercase {
  font-family: Mont-Bold, sans-serif;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buttons-text {
  font-family: Mont-SemiBold, sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.small-text {
  font-family: Mont-SemiBold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

.text-body {
  font-family: Mont-Regular, sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}
