// viewports
$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;

// inline paddings
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;
$desktop-padding-inline: 32px;

// colors
$accent: #f86800;
$secondary-accent: #476df4;
$primary: #0f0f11;
$secondary: #89939a;
$icons: #89939a;
$elements: #e2e6e9;
$hover-bg: #fafbfc;
$white: #fff;
$green: #27ae60;
$red: #eb5757;
