$c-primary: #313237;
$c-secondary: #89939a;
$c-elements: #e2e6e9;
$c-icons: #b4bdc3;
$c-green: #27ae60;
$c-background: #fafbfc;
$c-white: #fff;
$c-border: #c4c4c4;
$c-red: #eb5757;
$effect-duration: 0.3s;

$header-height: 64px;
$footer-height: 96px;
