// Colors

$c-primary: #313237;
$c-secondary: #89939A;
$c-icon: #B4BDC4;
$c-element: #E2E6E9;
$c-hover-bg: #FAFBFC;
$c-white: #FFF;
$c-green: #27AE60;
$c-red: #EB5757;

// Screen-widths

$width-tablet: 640px;
$width-laptop: 1200px;
$width-desktop: 1440px;
$f-main: Mont;
