$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$secondary: #75767f;
$icons: #4a4d58;
$elements: #3b3e4a;
$surface_2: #323542;
$surface_1: #161827;
$black: #0f1121;
$white: #f1f2f9;
$accent: #905BFF;
$green: #27ae60;
$red: #eb5757;
$product_beige: #fcdbc1;
$product_green: #5f7170;
$product_black: #000;
$product_white: #f0f0f0;
$product_purple: #a555cc;
$product_red: #ff3b30;
$product_yellow: #ffd60a;
$product_gold: #aa9f6c;
$product_spaceblack: #1d1d1f;
$product_blue: #00f;
$product_coral: #ff7f50;
$product_graphite: #4b4b4b;
$product_midnight: #191970;
$product_midnightgreen: #004953;
$product_pink: #ffc0cb;
$product_rosegold: #b76e79;
$product_sierrablue: #005acd;
$product_silver: #c0c0c0;
$product_spacegray: #8a8a8f;
$mobile-block-margin: 56px;
$tablet-block-margin: 64px;
$desktop-block-margin: 80px;
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;

