$primaryColor: #313237;
$secondaryColor: #89939a;
$whiteColor: #fff;
$greenColor: #27ae60;
$redColor: #eb5757;
$buttonDefaultColor: #e2e6e9;
$grayColor: #b4bdc3;
$lightGrayColor: #e2e6e9;

$buttonSize: 32px;

$content-width: 1136px;
