%h1 {
  font-family: MontBold, sans-serif;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

%h2 {
  font-family: MontBold, sans-serif;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

%h3 {
  font-family: MontBold, sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%uppercase {
  font-family: MontBold, sans-serif;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
}

%buttons {
  font-family: "MontSemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

%body-text {
  font-family: "MontRegular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

%small-text {
  font-family: "MontSemiBold", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}
