@font-face {
  font-family: "Mont";
  src: url("../../fonts/Mont-Regular.otf");
}

@font-face {
  font-family: "Mont";
  src: url("../../fonts/Mont-SemiBold.otf");
}

@font-face {
  font-family: "Mont";
  src: url("../../fonts/Mont-Bold.otf");
}
