@use 'vars' as vars;

@mixin on-tablet {
  @media (min-width: vars.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: vars.$desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} #{vars.$transition-time};

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12px;
  }

  @include on-desktop {
    --columns: 24px;
  }
}
