html {
  font-family: Montserrat, sans-serif;
  font-weight: $font-weight-bold;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}

div {
  margin: 0;
}
