h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  margin-top: 40px;
}

h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.text-uppercase {
  font-size: 12px;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.text-buttons {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.text-body {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.text-small {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.34px;
}

.text-small-thin {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.34px;
}
