$tablet-width: 640px;
$desktop-width: 1200px;
$color-accent: #4219D0;
$color-black: #0F0F11;
$color-background: #FAFBFC;
$color-text: #89939A;
$color-shadow: #E2E6E9;
$color-white: #fff;
$color-gray: #B4BDC3;
$color-gradient: linear-gradient(49deg, #891ce8 0%, #7560fa 47.05%, #e963ff 100%);
$scale-size: 1.1;
$effect-duration: 0.3s;
$content-padding-inline-mobile: 16px;
$content-padding-inline-tablet: 24px;
$content-padding-inline-desctop: 32px;
