@import './mixins';

$tablet-min-width: 640px;
$desktop-min-width: 1199px;
$colors-primary: #313237;
$colors-secondary: #89939A;
$colors-icons: #B4BDC3;
$colors-elements: #E2E6E9;
$colors-hover-bg: #FAFBFC;
$colors-white: #fff;
$colors-green: #27AE60;
$colors-red: #EB5757;

:root {
  --header-height: 64px;
}

@include onTablet {
  :root {
    --header-height: 48px;
  }
}
