
.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.price {
  line-height: 140%;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 0%;
  color: var(--color-primary);
}

.fullPrice {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-secondary);
  text-decoration: line-through;
}
