 .categories__container {
    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 50px;
      padding-top: 0px;
    }
  }
.categories__card {
    border-radius: 30px;
    border: 1px solid #f3f3f3;
    background-color: white;
   & img{
    width: 100%;

   } 
    
}


