@import '../../styles/utilsStyles/mixins';
@import '../../styles/utilsStyles/extends';
@import '../../styles/utilsStyles/variables';

.phones {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
