@import "/src/styles/utils/vars";
@import "/src/styles/utils/mixins";

.phones-page {
  @include contentPaddingInline;

  max-width: calc(320px * 4);

  &__header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__dropdowns {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}
