@import '../../../styles/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100%;
}

.header__top {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: var(--header-border);
  padding-left: 16px;

  @include on-desktop {
    height: 64px;
  }
}

.header__menu__mobile {
  display: block;

  @include on-tablet {
    display: none;
  }
}

.header__menu__tablet {
  display: none;

  @include on-tablet {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    height: 100%;
  }
}

.header__icons {
  display: none;

  @include on-tablet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
}

.header__icon__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;

  @include on-desktop {
    width: 64px;
  }
}

.header__icon__item--is-active {
  border-bottom: 2px solid var(--header-border-item-active);
}

.header__icon__item--storage {
  position: absolute;
  right: 10px;
  top: 10px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #EB5757;
  border-radius: 50%;
  border: 1px solid var(--header-icon-storage-border);
  display: flex;
  justify-content: center;
  align-items: center;

  @include on-desktop {
    right: 18px;
    top: 18px;
  }
}

.header__icon__item--text {
  font-weight: 700;
  font-size: 9px;
  line-height: 100%;
  text-align: center;
  color: var(--text-color);
}

.header__icon__item:first-child {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.header__mobile__icons {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (min-width: 640px) {
    display: none;
  }
}

.header__burger {
  display: flex;
  height: 100%;

  @media (min-width: 640px) {
    display: none;
  }
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include on-tablet {
    margin-right: 32px;
  }

  @include on-desktop {
    margin-right: 48px;
  }
}

.header__item--menu-border {
  border-left: var(--header-border);
  width: 48px;

  @include on-desktop {
    width: 64px;
  }
}

.header__item--menu-close {
  width: 48px;
  box-sizing: border-box;
  border-left: var(--header-border);
}

.header__button__mode {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.header__mode {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--border-color);
}
