.navbar {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  &__link {
    display: flex;
    align-items: center;
    height: min-content;

    &:hover > .navbar__item {
      color: $primary;
    }

    &--active > .navbar__item {
      color: $primary;

      &::after {
        position: absolute;
        top: 61px;
        left: 20px;
        right: 20px;
        content: "";
        height: 3px;
        background-color: $primary;
        pointer-events: none;
        z-index: 1;
      }

      &--icon::after {
        position: absolute;
        top: 61px;
        left: -1px;
        right: 0;
        content: "";
        height: 3px;
        background-color: $primary;
        pointer-events: none;
        z-index: 1;
      }
    }
  }

  &__item {
    padding: 28px 20px 24px;
    color: $secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 63px;
      padding: 0;
      position: relative;
      border-left: 1px solid $elements;

      &:hover {
        background-color: $hover;
      }
    }
  }

  &__quantity {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: $red;
    color: $white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
  }
}
