.nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background: $gray-white;
  box-shadow: 0px 1px 0px 0px #E2E6E9;

  &-buttom {
    display: flex;
    gap: 64px;
  }

  &__link {
    padding: 27px 0 26px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;

    color: $gray-secondary;
    
    &--active {
      position: relative;
      color: $gray-primary;
      border-bottom: 3px solid $gray-primary;
    }

    &:first-child {
      margin-left: 24px;
    }

    &:last-child {
      margin-right: 2px;
      ;
    }
  }
}