.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-surface-1);
  color: var(--color-white);
  font-weight: 600;
  border: 1px solid transparent;
  transition: border var(--transition-duration) ease;
  cursor: pointer;

  @include on-tablet {
    flex-direction: row;
  }

  @include hover {
    border: var(--border);
  }
}

.deleteItem {
  position: relative;

  &__button {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.2;

    @include square(16px);

    @include on-tablet {
      top: -10px;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      display: block;
      width: 16px;
      height: 3px;
      background: var(--color-icons);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;

      &::before,
      &::after {
        background: var(--color-red);
      }
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @include on-tablet {
    flex: 2 1 0;
    gap: 24px;
  }
}

.img {
  @include square(80px);

  @include on-tablet {
    @include square(90px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  width: 130px;
  font-size: 14px;
  line-height: 21px;

  @include on-tablet {
    width: 100%;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    display: flex;
    position: relative;
    width: 100%;
  }

  @include on-tablet {
    flex: 1 1 0;
  }
}

.box__button {
  position: absolute;
  border: var(--border);
  left: 0;
  display: flex;
}

.decrease__button {
  &::before {
    content: '';
    display: block;
    background-color: var(--color-icons);
    width: 12px;
    height: 2px;
    transition: background-color var(--transition-duration) ease;

    @include abs-center;
  }

  @include hover {
    &::before {
      background-color: var(--color-red);
    }
  }
}

.button {
  width: 32px;
  height: 32px;
  border: var(--border);
  background: transparent;
  cursor: pointer;
  padding: 0;
  z-index: 2;
  transition: border var(--transition-duration) ease;

  @include hover {
    border: 1px solid var(--color-secondary);
  }
}

.increase {
  left: 80px;

  @include hover {
    &::after,
    &::before {
      background-color: var(--color-green);
    }
  }
}

.increase::after,
.increase::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 9px;
  display: block;
  width: 13px;
  height: 2px;
  transition: all var(--transition-duration) ease;
  background-color: var(--color-icons);
}

.increase::after {
  transform: rotate(-90deg);
}

.quantity {
  display: block;
  position: relative;
  padding-top: 6px;
  padding-left: 53px;
}

.cart-price {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.price {
  font-weight: 800;

  @include on-tablet {
    font-size: 22px;
  }
}
