@use '../../../shared/styles/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  margin: 5.6rem 0;

  @include for-tablets {
    grid-area: about;

    margin: 6.4rem 0;
  }

  &__mainTitle {
    font-family: Mont, sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 100%;

    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid rgba(226, 230, 233, 1);

    @include for-tablets {
      font-size: 2.2rem;
      font-weight: 800;
    }
  }

  &__title {
    font-family: Mont, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;

    color: rgba(49, 50, 55, 1);

    margin: 3.2rem 0 1.6rem;

    @include for-tablets {
      font-size: 2.0rem;
    }
  }

  &__text {
    font-family: Mont, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;

    color: rgba(137, 147, 154, 1);
  }
}
