@use "../../../shared/styles/mixins" as *;
@use "../../../shared/styles/extends";

.Title {
  margin-bottom: -16px;

  @extend %h3;
  @include color-transition((color: var(--primary-text-color)));
}

.About {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-top: 56px;

  @include for-tablet {
    padding-top: 64px;
  }

  @include for-desktop {
    padding-top: 80px;
  }
}
