 @font-face {
  font-family: Mont-bold;
  src: url('../../../public/fonts/Mont-Bold.otf');
 }

 @import '../../utils/mixins';

.CartPage {
  font-family: Mont-bold, sans-serif;
  width: 440px;
  height: 700px;
  margin-left: 16px;

  @include on-tablet {
    width: 744px;
    grid-column: span 12;
  }

  @include on-desktop {
    width: 1156px;
  }

  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  margin-top: 50px;
  grid-column: 1 / 5;
  overflow: hidden;


  &__title {
    grid-column: 1 / 3;
    margin-left: 16px;

    @include on-tablet {
      font-size: 32px;
    }
  }

  div {
    width: 212px;

    @include on-tablet {
      width: 232px;
    }

    @include on-desktop {
      width: 272px;
    }
  }
  .slick-list {
    width: 320px;
  }
  .slick-track {
    gap: 16px;
  }

  .productcard {
    height: 500px;
    gap: 15px;
    &__image {
      margin: 0 40px;
      &--link {
      margin-top: 15px;
    }
  }
  &__buttons {
    margin-bottom: 10px;
  }
}
}

.slick {
  &-slider {
    @include on-tablet {
      width: 490px;
    }

    @include on-desktop {
      width: 1040px;
    }
  }
  &-arrow {
    width: 100px;
  }
  &-prev {
    position: relative;
    left: 195px;

    @include on-tablet {
      left: 500px;
      top: -41px;
    }

    @include on-desktop {
      left: 1042px;
    }

    bottom: 59px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: transparent;
    border: 1px solid black;
    padding: 0;
    background-color: white;

    background-image: url('../../img/arrow-left2.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease transform;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
  }

  &-next {
    position: relative;
    bottom: 599px;
    left: 240px;

    @include on-tablet {
      left: 545px;
      bottom: 582px;
    }

    @include on-desktop {
      left: 1089px;
      bottom: 482px;
    }

    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: transparent;
    background-color: white;
    border: 1px solid black;
    padding: 0;
    background-image: url('../../img/arrow-right2.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease transform;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
  }
  &-disabled {
    background-image: url('../../img/arrow-left-disabled2.svg');
    border: 1px solid #3132;
    &:hover {
      transform: scale(1);
    }
  }
}

.slick-disabled:not(.slick-prev) {
  transform: rotate(0.5turn);
  transition: 0s ease transform;
}
