@use '../../utils/variables/variables.scss' as *;
@use '../../utils/mixin/mixin.scss' as *;

.cartPage {
  padding-top: 24px;
  padding-bottom: 56px;

  @include on-tablet {
    padding-bottom: 64px;
  }

  @include on-desktop {
    padding-bottom: 80px;
  }
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 64px 16px;
}

.emptyImage {
  width: 280px;
  max-width: 100%;
  margin-bottom: 24px;
}

.emptyTitle {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.emptyText {
  text-align: center;

  font-size: 14px;
  color: var(--secondary-color);
}

.backButton {
  margin-bottom: 24px;

  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 0;

  border: none;
  background: none;
  cursor: pointer;

  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 700;

  &:hover {
    color: var(--primary-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 368px;
    align-items: start;
    gap: 16px;
  }
}

.title {
  margin: 0 0 32px;

  font-size: 32px;
  line-height: 41px;
  font-weight: 800;
  color: var(--primary-color);

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}
