@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CartPage {
  @include contentPaddingInline;
  @include maxWidth;

  margin-block: 40px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 16px;

  &__title {
    grid-row: 2;
    padding-bottom: 8px;
  }

  &__total {
    grid-column: 17/-1;
    grid-row: 3/span 2;
  }
}
