h1 {
  font-family: Mont, sans-serif;
  font-weight: 700;

  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  @include on-desktop {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-family: Mont, sans-serif;
  font-weight: 700;

  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;

  @include on-desktop {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

h3 {
  font-family: Mont, sans-serif;
  font-weight: 700;

  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;

  @include on-desktop {
    font-size: 22px;
    line-height: 31px;
  }
}

h4 {
  font-family: Mont, sans-serif;
  font-weight: 600;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-desktop {
    font-size: 20px;
    line-height: 26px;
  }
}
