@use '@constants/colors.scss' as cl;

.button {
  color: cl.$gray-primary;
  z-index: 11;

  outline: 1px solid cl.$elements;

  &__icon {
    background-color: cl.$gray-primary;
  }

  &:disabled {
    > :first-child {
      background-color: cl.$icons;
    }
  }

  &:hover:not(:disabled) {
    outline: 1px solid cl.$gray-primary;
    z-index: 20;
  }
}
