@use '@styles/variables/variables.scss' as vars;

.loader {
  height: 48px;
  width: 48px;

  border: 5px solid vars.$elements-color;
  border-radius: 50%;

  animation: spin 1s linear infinite;
  border-top-color: vars.$primary-color;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
