@import '../../../shared/styles/common/mixins';
@import '../../../shared/styles/vars/global';

.page {
  background-color: var(--main-bg);

  padding-top: #{$headerHightTablet + px};

  @media (min-width:$tablet) {
    padding-top: #{$headerHight + px};
  }
}