@import './../main';

.swiperContainer {
  grid-column: 1 / -1;
  margin-bottom: 40px;

  @include page-grid;

  @include on-tablet {
    grid-row: 2 / 3;
    margin-bottom: 0;
  }
}

.slider {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 16px;

  @include on-tablet {
    grid-column: 2 / 8;
    margin-bottom: 0;
  }

  @include on-desktop {
    grid-column: 3 / 13;
  }
}

.slide {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;

  &__image {
    object-fit: contain;
  }
}

.pagination {
  width: 100%;
  grid-column: 1 / -1;

  @include on-tablet {
    height: 500px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @include on-desktop {
    grid-column: 1 / 3;
  }

  &__item {
    object-fit: contain;
  }
}

.preview {
  border: 1px solid $icons-grey-color;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;

  &__image {
    object-fit: contain;
    aspect-ratio: 1 / 1;
  }

  @include on-tablet {
    flex-direction: column;
    justify-content: left;
  }
}
