.slider {
  width: 32px;
  border: 1px solid #b4bdc4;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &_small {
    height: 32px;
  }

  &_disabled {
    border-color: #e2e6e9;
  }

  &__arrow {
    background-image: url(../img/arrow-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
    height: 6px;
    display: block;

    &_right {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  
    &_disabled {
      background-image: url(../img/arrow-disabled.svg);
    }
  
    &_top {
      transform: rotate(90deg);
    }
  }
}
