.backBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--bg-main);
  border: none;
  font-size: $small-size;
  font-weight: 700;
  cursor: pointer;
  color: var(--text-secondary);

  &:hover {
    color: $light-text-main;
  }
}
