
@import "../../../mixins.scss";

.Pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  &__button {
    @include pagination-button;

    &--active {
      background-color: #313237;
      color: white;
    }

    &--arrow {
      margin: 0 12px;
    }

  }
}

