
@import "../../../mixins.scss";

.Pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  &__button {
    cursor: pointer;
    @include pagination-button;

    &--left {
      background-image: url(../../../imgs/Icons/ChevronArrowRightDark.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      transform: rotate(180deg);
      &:disabled {
        background-image: url(../../../imgs/Icons/ArrowRight.svg);
      }
    }

    &--right {
      background-image: url(../../../imgs/Icons/ChevronArrowRightDark.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      &:disabled {
        background-image: url(../../../imgs/Icons/ArrowRight.svg);
      }
    }

  }
}
