@import '../../styles/mixins.module';

@font-face {
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-family: Mont, sans-serif;
}

@import 'src/styles/vars';

.list {
  font-family: Mont, sans-serif;

  &__card{
    min-width: 212px;

    @include on-tablet {
      min-width: 237px;
    }

    @include on-big-screen {
      min-width: 272px;
    }

    height: 506px;
    color: $Primary;

    border: 1px solid $Elements;
    border-radius: 8px;

    display: flex;

    flex-direction: column;
    place-items: center;
  }

  &__image {
    box-sizing: border-box;
    width: 75%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $NoneBackground;
    margin-top: 32px;
    border: none;
    display: block;
    transition: transform $effectDuration ease-in-out;

    &:hover {
      transition: transform $effectDuration ease-in-out;
      transform: scale($scale);
    }
  }

  &__data {
    margin-top: 32px;
    margin-inline: 32px;
  }

  &__name {
    font-family: Mont, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 0;
  }

  &__price {
    font-family: Mont, sans-serif;
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
    line-height: 140%;
    margin-top: 8px;
  }

  &__deteils {
    width: 173px;
    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 100%;
  }

  &__gadget-parameters {
    color: $Secondary;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
  }

  &__gb {
    font-size: 12px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 8px;
  }
}
