@import './../../style/mixins';

.productsList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));

  column-gap: 10px;
  row-gap: 10px;
  margin-top: 24px;

  @include on-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 24px;
  }

  @include on-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @include on-big-desktop {
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 24px;
  }
}
