.favorites {
  position: relative;
  width: 64px;
  height: 64px;
  border-left: 1px solid $border-section-color;
  box-sizing: border-box;

  &__button {
    display: block;
    background-image: url("../../assets/img/favorite_default.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  &__indicator {
    position: absolute;
    top: 29%;
    left: 51%;
    width: 14px;
    height: 14px;
    background: #eb5757;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    color: white;
    text-align: center;
    z-index: 3;
  }
}
