@import "../../../styles/common";

.header {
  border-bottom: 1px solid $borders-gray-color;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    background: center/contain no-repeat url("https://i.gstatvb.com/c389a77ca305ee5d9f0ee6f87f74fcfb1688922827.rng.png");
    height: 24px;
    width: 40px;
    margin: 0 64px 0 26px;
  }

  &__container {
    display: flex;
  }

  &__link {
    height: 64px;
    width: 64px;
    border: 1px solid $borders-gray-color;
    position: relative;
    padding: 25px;

    &.selected {
      border-bottom: 3px solid $main-gray-color;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    @include bgr-img;

    &_favorites {
      background-image: url($icon-fav);
    }

    &_cart {
      background-image: url($icon-cart);
    }
  }

  &__count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
    text-align: center;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: $accent-red;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 9px;
    line-height: 9px;
    transform: translate(-50%,-50%);
  }
}

.nav {
  display: flex;

  &__item {
    cursor: pointer;
    padding: 24px 0;
    margin-right: 64px;
    height: 100%;
    @extend %uppercase;
    color: $second-gray-color;
    transition: color 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &.selected {
      color: $main-gray-color;
      border-bottom: 3px solid $main-gray-color;
    }

    &:hover {
      color: #000;
    }
  }
}
