.header {
  position: sticky;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  }

  .navbar-brand {
  /* padding: 20px; */
  text-transform: uppercase;
}

.logo {
  width: 89px;
  height: 32px;
}


.actions {
  display: flex;
  justify-content: space-between;
  /* gap: 0.5rem; */
  /* align-items: center; */
}

.icon {
  
}
