@use '../../styles/block/utils/_variables.scss' as *;
@import '../../styles/block/utils/_mixins.scss';

.header {
  // height: 100vh;
  @include transitionPage;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 11px;

    height: 64px;
    border-bottom: 1px solid $border-color;
  }

  &__leftNav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__logo {
    margin-left: 24px;
    height: 28px;
    width: 80px;
  }

  &__link {
    display: flex;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actionsImg {
    width: 16px;
    height: 16px;
  }

  &__actionsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 64px;
    width: 64px;
    border-left: 1px solid $border-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__topBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 64px;
    border-left: 1px solid $border-color;
  }

  &__bottom {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  &__content {
    margin-inline: 16px;
    max-width: 1136px;
    margin: 0 auto;
  }

  &__title {
    line-height: 56px;
    font-size: 48px;
    font-weight: 800;
    margin: 56px 0 56px;
  }

  &__slider {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 432px;
  }

  &__sliderButton {
    box-sizing: border-box;
    min-width: 32px;
    background-color: $button-color;
    border: 1px solid $border-color;
    cursor: pointer;
  }

  &__arrowIcon {
    width: 16px;
    height: 16px;
  }

  &__containerSmallBtn {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: -20px;
  }

  &__smallButton {
    height: 4px;
    width: 14px;
    border-radius: 0;
    background-color: $button-slider-color;
    border: none;
    position: relative;
    margin: 4px;
  }

  &__smallButton:not(:last-child) {
    margin: 4px;
  }

  &__smallButton:before {
    position: absolute;
    content: '';
    top: -15px;
    left: -5px;
    right: -5px;
    bottom: -15px;
    cursor: pointer;
  }

  &__activeButton {
    background-color: $button-active-slider-color;
  }
}

@include onTablet {
  .header {
    margin-bottom: 64px;
    &__top {
      height: 48px;
      margin-bottom: 32px;
    }

    &__leftNav {
      gap: 16px;
    }

    &__logo {
      margin-left: 16px;
      height: 22px;
      width: 64px;
      @include onScale;
    }
    &__actionsLink {
      height: 48px;
      width: 48px;
    }

    &__title {
      margin: 48px auto;
    }

    &__content {
      margin-inline: 24px;
    }
  }
}

@include onPhone {
  .header {
    margin-bottom: 56px;
    &__actions__link {
      height: 48px;
      width: 48px;
    }

    &__title {
      line-height: 41px;
      margin: 24px 16px;
      letter-spacing: -1%;
      font-size: 32px;
    }

    &__bottom {
      max-width: 100%;
    }

    &__content {
      margin: 0;
    }
  }
}
