.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid #E2E6E9;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.6s ease-in-out;
  margin-bottom: 1px;

  &__container--1,
  &__container--2 {
    display: flex;
    height: 48px;
  }

  &__burger_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 49px);
    width: 100vw;
    bottom: 0;
    overflow: auto;
    right: 0;
    z-index: 10;
    background-color: #FFF;
    transform: translateX(100%);
    border-bottom: 1px solid #E2E6E9;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 156px;
      width: 288px;
      margin-top: 32px;

      &__element {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 800;
        color: #89939A;
      }

    }

    &__footer {
      display: flex;
      height: 64px;
      width: 100%;

      &__fav {
        width: 50%;
        height: 64px;
        background-image: url(../../../public/img/svg/fav_icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #E2E6E9;
      }

      &__cart {
        width: 50%;
        height: 64px;
        background-image: url(../../../public/img/svg/Shopping_bag_Cart.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #E2E6E9;
      }

    }
  }

  &__nav {
    display: none;

    &__nav__list {
      display: flex;
      list-style: none;
      padding: 0;

      &__element {
        margin-right: 15px;
        font-family: 'Montserrat', sans-serif;
        color: #89939A;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: 2px;
      }
    }
  }

  &__fav,
  &__cart {
    display: none;
    width: 64px;
  }

  &__burger {
    display: flex;
    width: 48px;
    align-items: center;
    border: 1px solid #E2E6E9;

    &__img {
      margin: auto;
    }
  }
}
