@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  grid-area: header;
  max-width: $desctop-size;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-background;

  &__left,
  &__right {
    display: flex;
  }

  &__link {
    padding: 26px;
    display: flex;
    align-items: center;
    border: 1px solid $color-background;
    border-bottom: none;
    position: relative;

    &:last-child {
      padding-right: none;
    }

    @include hover(background-color, $color-background);
  }

  &__counter {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-danger;
    color: $color-white;
    font-size: 9px;
    position: absolute;
    top: 17px;
    left: 34px;
  }
}
