@import '../../styles/main';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 64px;
  border-bottom: 1px solid $color-elements;

  &__bar-left {
    margin: 20px 0 20px 24px;
  }

  &__bar-right {
    display: flex;
    flex-direction: row;

    &__search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 327px;
      box-sizing: border-box;
      padding-inline: 24px;
      border-left: 1px solid $color-elements;

      &__query {
        @extend %search;

        height: 100%;
        border: none;
        padding: 0;
        color: $color-primary;

        &::placeholder {
          color: $color-icons;
        }

        &:focus {
          outline: none;
        }
      }

      &--icon {
        width: 16px;
        transition: transform $effect-duration;
        cursor: pointer;

        &:hover {
          @include hover (transform, scale(1.1));
        }
      }

      &--button {
        background-color: inherit;
        border: none;
        padding: 0;

        display: flex;
        align-self: center;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      border-left: 1px solid $color-elements;

      position: relative;

      &__logo {
        width: 16px;
        height: 16px;
        padding: 24px;

        &__link {
          @include nav-link;

          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $color-primary;

            transition: transform $effect-duration;
            transform: scale(0);
            transform-origin: center;
          }

          &:hover::after {
            @include hover (transform, scale($scale));
          }

          &--active {
            color: $color-primary;

            &::after {
              content: "";
              height: 3px;
              width: 100%;
              bottom: 0;
              left: 0;
              position: absolute;
              background-color: $color-primary;
              transform: scale($scale);
            }
          }
        }
      }

      &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        width: 14px;
        height: 14px;
        background-color: $color-red;
        border-radius: 50%;
        font-size: 9px;
        font-weight: 600;
        line-height: 11.5px;
        position: absolute;
        top: 30%;
        right: 30%;
      }
    }
  }
}
