.nav {

  &__list {
    position: relative;
    display: flex;
  }

  &__item {
    margin-right: 64px;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.92;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    line-height: $header-height;
    color: $secondary-color;
    @include hover(color, $primary-color, 0.2);
  }
}


