.search {
  position: relative;
  display: flex;
  align-items: center;
  border-left: 1px solid $border-section-color;

  &__input {
    width: 327px;
    padding: 23px;
    height: 63px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: $primary-color;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus {
      background-color: $hover-bg-color;
    }
  }

  &__button {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 27px;
    top: 50%;
    border: 0;
    outline: 0;
    background-color: #fff;
    transform: translateY(-50%);
    background-image: url("../../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;

    &--clear {
      cursor: pointer;
      background-image: url("../../images/icons/clear.svg");
    }
  }
}
