@import "../style/main.scss";

.category {
  display: block;
  padding: 20px;
  margin: 0 auto;
  transition: transform 300ms;

  @include onTablet {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 0;
  }

  &__title {
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }

  &__box {
    display: block;
    width: 272px;
    height: max-content;
    margin: 0 auto 50px;
    &:hover {
    	opacity: 0.5;
      filter: alpha(opacity=50);
    }

    @include onTablet {
      display: flex;
      width: 33%;
      height: max-content;
      gap: 16px;
      margin: 0 auto 20px;
    }
  }

  &__container {
    width: 272px;
    height: 272px;
    margin: 0 0 24px;
    overflow: hidden;
    position: relative;

    @include onTablet {
      width: 100%;
      height: 292px;
    }

    @include onDesktop {
      height: 368px;
      max-width: 368px;
    }

    &--1 {
      background-color: #fcdbc1;
    }
    &--2 {
      background-color: rgba(141, 141, 146, 1);
    }
    &--3 {
      background-color: rgba(151, 61, 95, 1);
    }
  }
  &__img {
    display: block;
    height: 90%;
    width: 100%;
    object-fit: cover;
    margin: 30px 72px 0;
  }

  &__link {
    text-decoration: none;
    color: rgba(49, 50, 55, 1);
    font-size: 18px;
    font-weight: 600;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 500;
    color: rgba(137, 147, 154, 1);
  }

}

