@import "../../style/utils/mixins";

.burger-menu {
  display: none;

  @include onTablet {
    display: block;
  }

  &__logo {
    height: 24px;
    width: 40px;
    margin: 20px 24px;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  background: #fff;
  width: 100%;
  height: 100vh;

  transition: all 0.3s;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #e2e6e9;
  }
  &__close {
    padding: 0;
    border: none;
    background-color: #fff;

  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #89939a;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 5px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 5%;
      width: 100%;
      display: block;
      background: linear-gradient(90deg, #313237 0%, #e2e6e9 40%);
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
      width: 110%;
    }
  }

}
