@import "../../vars";

.noResults {
  &__btn-wrap {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__go-to-home {
    height: 15px;
    width: 15px;
    background-image: url("../../img/icon/home.svg");
    opacity: 0.6;

    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__arrow {
    background-image: url("../../img/icon/arrow_right.svg");
    opacity: 0.6;
    height: 10px;
    width: 6px;
  }

  &__btn-text {
    color: $secondary;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    transition: all 0.3s;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: $primary;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }
}
