@use '@shared/styles' as s;

@mixin shimmering-element {
  background-color: s.$c-elements;
  	background: linear-gradient(
		90deg,
		#EDEDED 30%,
		#DCDCDC 50%,
		#EDEDED 70%
	);
  animation: shimmer 1.5s infinite linear;
  background-size: 400%;
  border-radius: 6px;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: s.$c-card-width;
  height: s.$c-card-height;
  flex-shrink: 0;
  border: 1px solid s.$c-elements;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  gap: 8px;
}

.name {
  width: 100%;
  height: 20px;
  margin: 5px 0;

  @include shimmering-element
}

.price {
  width: 40%;
  height: 27px;

  @include shimmering-element
}

.spacer {
  width: 100%;
  height: 1px;
  background-color: s.$c-elements;
}

.descr {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 15px);
  row-gap: 8px;

  box-sizing: border-box;
  width: 100%;
  padding: 8px 0;

  @include s.t-small-text;

  &__type {
    color: s.$c-grey-secondary;
  }

  &__val {
    justify-self: end;
    width: 110px;

    @include shimmering-element;
  }
}

.image-wrapper {
  position: relative;
  height: 196px;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}

@keyframes shimmer {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}


$color1: #a5a7bb;
$color2: #a496a4;
$color3: #554d73;

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;

  &.one {
    stroke: $color3;
    animation: load 1.5s infinite;
  }

  &.two {
    stroke: $color2;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }

  &.three {
    stroke: $color1;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;

  &.one {
    fill: $color1;
    animation-delay: 0s;
  }

  &.two {
    fill: $color2;
    animation-delay: 0.1s;
  }

  &.three {
    fill: $color3;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
