.navbar-item {
  margin: 0 32px;
}

.has-background-grey-lighter {
  background-color: cornflowerblue;
}

.navbar-container {
  &.theme0 {
    background-color: aqua;
  }

  &.theme1 {
    background-color: rgb(0, 207, 138);
  }

  &.theme2 {
    background-color: rgb(186, 207, 0);
  }

  &.theme3 {
    background-color: rgb(255, 175, 27);
  }

  &.theme4 {
    background-color: rgb(180, 114, 255);
  }
}
