@import './utils';
@import './font';
@import './typography';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-bg-color;
  color: $main-color;
  min-width: 320px;
}

.frame {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: 32px;

  @include on-tablet {
    margin-inline: 24px;
  }

  @include on-mobile {
    margin-inline: 16px;
  }
}
