// width
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$big-desktop-min-width: 1200px;

// colors
$main-text-color: #313237;
$secondary-text-color: #89939a;
$border-color: #b4bdc3;
$main-accent-color: #eb5757;
$secondary-accent-color: #27ae60;
$shadow-color: #e2e6e9;
$main-bg-color: #fff;

// others
$fallback-fonts: Helvetica, sans-serif;
