.NavigationField {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 21px;

  line-height: 16px;

  margin-bottom: 40px;

  gap: 8px;

  color: $color-secondary;

  &__button {
    &--home {
      width: 16px;
      height: 16px;
    }

    &--arrow {
      padding-right: 8px;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
