$main-font-color: #313237;
$secondary-font-color: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$font-white: #fff;
$font-green: #27ae60;
$hover-bg: #fafbfc;
$red: #eb5757;

$font-size-nav: 12px;

$pageHeight: 80vh;

$font-regular: "Mont-Regular";
$font-semi-bold: "Mont-SemiBold";
$font-bold: "Mont-Bold";

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$product-width: 272px;
$product-gap: 16px;

$footer-height: 96px;
