.footer {
  border-top: 1px solid #{$gray-border};
  background-color: #{$white};
  margin-top: 80px;
  width: 100%;
  height: 96px;
  padding: 0;
  @include grid();
  align-items: center;
  &__logo {
    grid-column: 1 / 3;
  }
  &__links {
    grid-column: 9 / 17;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;

    &--item {
      text-transform: uppercase;
      text-decoration: none;
      color: #{$gray-secondary};
      font-family: "Mont-SemiBold", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 11px;
      letter-spacing: 0.48px;
    }
  }
  &__back {
    &--label {
      grid-column: 21 / 24;
      color: #{$gray-secondary};
      text-align: right;
      font-family: "Mont", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &--button {
      grid-column: span 1;
      transform: rotate(270deg);
      align-self: center;
      margin-top: -7px;
    }
  }
}
