@import '../styles/main';

.header {
  display: none;
  box-shadow: 0 1px 1px 0 #e2e6e9;

  @include on-tablet {
    display: block;
  }

  &_nav {
    height: 48px;
    align-content: center;

    @include on-desktop {
      height: 64px;
    }
  }

  &_list {
    margin-left: 32px;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 32px;
  }

  &_logo {
    width: 64px;
    height: 22px;

    @include on-desktop {
      width: 80px;
      height: 28px;
    }

    &__link {
      align-content: center;
    }
  }

  &_item {
    text-decoration: none;
  }

  &_link {
    font-family: Mont;
    font-size: 12px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-align: left;

    text-decoration: none;
    color: $secondary-text-color;
  }

  &_button__favorite {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../public/img/littleImages/Favourites-header.svg);
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
  }

  &_button__cart {
    margin-left: 16px;
    background-image: url(../../public/img/littleImages/Shopping-bag-header.svg);
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;

    @include on-desktop {
      margin-left: 24px;
    }
  }

  &_button__div {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &_div1 {
    align-content: center;
    width: 48px;
    height: 48px;
    box-shadow:
      -1px 0 1px #e2e6e9,
      1px 0 1px #e2e6e9;

    @include on-desktop {
      width: 64px;
      height: 64px;
    }
  }

  &_div2 {
    align-content: center;
    width: 24px;
    height: 48px;

    @include on-desktop {
      height: 64px;
      width: 32px;
    }
  }
}
