@import "../styles/variables";

header {
  box-shadow: 0 1px 0 0 #e2e6e9;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }

  .list {
    padding-left: 24px;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
  }

  .list__left {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      padding: 25px;
      border-left: 1px solid #e2e6e9;
    }
  }

  .link {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -23px;
      height: 3px;
      width: 100%;
      background-color: $grayPrimary;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  .list a {
    text-decoration: none;
    color: $graySecondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    &:hover {
      color: $grayPrimary;
    }
  }
}
