@import '../styles/variables.scss';

.product-in-cart {
  box-sizing: border-box;
  width: 752px;
  height: 128px;
  border: 1px solid $gray-elements;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 24px;
  transition: all $transition-time;

  &:hover {
    box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &__remove {
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/close-light.svg);
    cursor: pointer;
    transition: all $transition-time;

    &:hover {
      background-image: url(../img/icons/close.svg);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 31px;
    transition: all $transition-time;

    &:hover &__img {
      transform: scale(105%);
    }
  }

  &__img {
    width: 66px;
    height: 66px;
    object-fit: contain;
  }

  &__title {
    width: 295px;
    color: $gray-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  
  &__right {
    display: flex;
    align-items: center;
    gap: 43px;
  }

  &__quantity-box {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 32px;
    height: 32px;
    border: 1px solid $gray-icons;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: border-color $transition-time;

    &--desc {
      background-image: url(../img/icons/minus.svg);
    }

    &--inc {
      background-image: url(../img/icons/plus.svg);
    }

    &:hover {
      border-color: $gray-primary;
    }

    &--disable {
      cursor: default;
      border: 1px solid $gray-elements;
      pointer-events: none;

      &:hover {
        border-color: $gray-elements;
      }
    }
  }

  &__quantity {
    width: 32px;
    text-align: center;
    color: $gray-primary;
    font-size: 14px;
    font-weight: 500;
  }

  &__price {
    width: 61px;
    text-align: center;
    color: $gray-primary;
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
  }
}
