.shopBy {
  grid-column: 1/25;
  margin-top: 80px;

  @include grid;
  &__title {
    grid-column: 1/25;
  }
  &__container {
    grid-column: span 8;

    &--link {
      overflow: hidden;
      position: absolute;
      width: 368px;
      height: 368px;
      transition: transform ease-in-out 300ms;
      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
      &-phones {
        background-color: #{$phones};
      }
      &-tablets {
        background-color: #{$tablets};
      }
      &-accessories {
        background-color: #{$accessories};
      }
      &-image {
        &-phones {
          position: relative;
          left: 78px;
          top: 8px;
          width: 386px;
          height: 457px;
        }
        &-tablets {
          position: relative;
          left: 22px;
          top: 20px;
          width: 546px;
          height: 546px;
          object-fit: cover;
          object-position: left;
        }
        &-accessories {
          position: relative;
          left: 50px;
          top: 55px;
          height: 85%;
          object-fit: cover;
          object-position: left;
        }
      }
    }

    &--categoryTitle {
      margin-top: 400px;
    }
    &--description {
      color: #{$gray-secondary};
    }

  }
}
