@import '../../assets/global';

.favorite {
  box-sizing: border-box;
  padding-top: 80px;

  @include padding-inline;
}

.wrapper {

}

.navigation {
  display: flex;
  gap: 8px;
}

.navTitle {
  font-family: Mont-SemiBold, sans-serif;
  font-size: 12px;

  color: $light-gray-color;
}

.pageInfo {

}

.title {
  font-family: Mont-Bold, sans-serif;
  font-size: 32px;
  line-height: 41px;
  color: $light-color;

  padding-top: 24px;

  @include on-tablet {
    font-size: 48px;
    line-height: 51px;
  }
}

.description {
  font-family: Mont-Regular, sans-serif;
  font-size: 14px;
  line-height: 21px;

  color: $light-gray-color;

  padding-top: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  @include on-desctop {
    grid-template-columns: repeat(4, 1fr);
  }

  @include on-large-desctop {
    max-width: 1136px;
    margin: 0 auto;
  }
}
