@import '../../components/styles/mixins';
@import '../../components/styles/variables';

.button {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $elements;

  &--minus {
    background-image: url(../../../public/img/icons/minus.svg);
  }

  &--minus--active {
    cursor: pointer;
    background-image: url(../../../public/img/icons/minus-fat.svg);

  }

  &--plus {
    cursor: pointer;
    background-image: url(../../../public/img/icons/plus.svg);
  }
}

.cart {
  &__item {
    box-sizing: border-box;
    height: 160px;
    padding: 16px;
    background-color: $white;
    border: 1px solid $elements;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;

    @include on-tablet {
      height: 128px;
      padding: 24px;
      flex-direction: row;
      column-gap: 24px;
    }

    @include on-desktop {
      width: 752px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;

    @include on-tablet {
      column-gap: 24px;
    }
  }

  &__delete {
    width: 30px;
    height: 30px;
    background-image: url(../../../public/img/icons/close-light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: background-image ease-out 0.5s;

    &:hover {
      background-image: url(../../../public/img/icons/close.svg);
    }
  }

  &__photo {
    box-sizing: border-box;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 7px;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  &__name {
    @include body-text;

    font-weight: 600;
  }

  &__link {
    color: $primary;
  }

  &__count {
    display: flex;
  }

  &__quantity {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price {
    @include desktop-h3;

    @include on-tablet {
      width: 80px;
      text-align: right;
    }
  }

  &__summary {
    box-sizing: border-box;
    height: 190px;
    padding: 24px;
    border: 1px solid $elements;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include on-desktop {
      flex-shrink: 0;
      width: 368px;
    }
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__summary-price {
    @include desktop-h2;
  }

  &__summary-count {
    @include body-text;

    font-weight: 600;
  }

  &__divider {
    height: 0;
    border-top: 1px solid $elements;
  }

  &__checkout {
    @include buttons;

    height: 48px;
    padding: 0;
    font-weight: 700;
    color: $white;
    border: none;
    background: $primary;
    cursor: pointer;
  }
}
