@mixin on-smartphone {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-big-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin grid-page {
  display: grid;
  gap: 40px 16px;
  grid-template-columns: repeat(4, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 1fr);
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.8s;
  &:hover {
    #{$_property}: $_toValue;
  }
}
