@mixin on-mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-tablet-2 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  column-gap: 16px;

  @include on-mobile {
    grid-template-columns: repeat(4, 1fr);
  }

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 1fr);
  }
}

@mixin flex($type: flex, $align: false, $justify: false, $direction: false) {
  display: $type;

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $direction {
    flex-direction: $direction;
  }
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin hover-effect {
  transform: scale(110%);
}

@mixin h1-desktop-tablet {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@mixin h2-desktop-tablet {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin h3-desktop-tablet {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

@mixin h4-desktop-tablet {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin uppercase-desktop-tablet {
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
}

@mixin buttons-desktop-tablet {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin body-text-desktop-tablet {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin small-text-desktop-tablet {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

@mixin h1-mobile {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin h2-mobile {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

@mixin h3-mobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin h4-mobile {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
