.black { background-color: #000; }

.green { background-color: #AEE1CD; }

.yellow { background-color: #FFE681; }

.white { background-color: #FBF7F4; }

.purple { background-color: #B8AFE6; }

.red { background-color:  #E23636; }

.spacegray { background-color: #25282A; }

.midnightgreen { background-color: #4E5851; }

.gold { background-color: #F9E5C9; }

.silver { background-color: #EBEBE3; }

.rosegold { background-color: #E6C7C2; }

.coral { background-color: #EE7762; }

.midnight { background-color: #171E27; }

.spaceblack { background-color: #1D1D1F; }

.blue { background-color: #215E7C; }

.pink { background-color: #FAE0D8; }

.sierrablue { background-color: #9BB5CE; }

.graphite { background-color: #5C5B57; }

.skyblue { background-color: #87CEEB; }

.starlight { background-color: #F9F3EE; }
