@mixin navigation-on-tablet {
  @media
    (min-width: 640px) {
      @content;
  }

}

@mixin navigation-on-desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin grid-for-phone {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  gap: 16px;
}
