$tablet-min-width: 690px;
$desktop-min-width: 1000px;
$white-color-text: #F1F2F9;
$grey-color-text: #75767F;
$grey-color-icons: #4A4D58;
$element-color: #3B3E4A;
$dark-grey: #323542;
$background-light-color: #161827;
$background-color: #0F1121;
$button-color: #905BFF;
$hover-button-color: #A378FF;
$button-light-color: #4219D0;
$effectDuration: 0.3s;
$footer-height: 96px;
