$tablet-min-width: 639px;
$desktop-min-width: 1199px;
$max-width: 1200px;
$effect-duration: 0.2s;
$active-menu-color: #313237;
$menu-background-color: #FFF;
$header-background-color: #FFF;
$footer-background-color: #FFF;
$menu-color: #89939A;
$header-border-color: #E2E6E9;
$footer-border-color: #E2E6E9;
$primary-color: #0F0F11;


  @font-face {
    font-family: Monte, sans-serif;
    src: url('/fonts/Mont.otf') format('opentype');
  }
