@use '../../../styles/' as *;

.favouriteButton {
  background-color: var(--white-bg-color);
  border: 1px solid var(--icons-color);
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  transition: border-color 0.3s ease;

  &:hover {
    border: 1px solid var(--primary-color);
  }

  &__img {
    height: 16px;
    width: 16px;
    display: block;
    margin: 12px;
  }
}
