@import "../../styles/variables.scss";

.gallery {
  display: flex;
  align-items: center;
  gap: 16px;

  &List {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &Item {
    width: 80px;
    height: 80px;
    object-fit: contain;

    padding: 7px;
    border: 1px solid $Elements;
    cursor: pointer;

    @media (max-width: 425px) {
      width: 60px;
      height: 60px;
    }
  }

  &Large {
    width: 462px;
    height: 462px;
    object-fit: contain;

    @media (max-width: 1024px) {
      width: 362px;
      height: 362px;
    }

    @media (max-width: 425px) {
      width: 232px;
      height: 232px;
    }
  }
}

.active {
  border-color: $Primary;
}
