@import '../../styles/mixins.module';

@font-face {
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-family: 'Mont';
}

@import 'src/styles/_vars.scss';

.swiper-slide {
  height: auto;
}

.swiper-wrapper {
  width: 10%;
  margin-right: 16px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.list {
  margin: 0 auto;
  font-family: 'Mont';
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  @include contentMarginInline();

  @include onBigScren {
    width: 1136px;
    margin: auto;
  }

  justify-content: center;
  gap: 40px 16px;
  --column-count: 1;

  @include onTablet {
    --column-count: 2;
  }

  @include onMiddleScreen {
    --column-count: 3;
  }

  @include onBigScren {
    --column-count: 4;
  }
}