@import '../../styles/utils';

.burger {
  background-color: $white-color;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &--dark-theme {
    background-color: $dark-bg-color;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $elements-color;
  }

  &__logo {
    display: flex;
    padding: 13px 0 13px 16px;
  }

  &__logo-image {
    width: 64px;
    height: 22px;
  }

  &__actions {
    display: flex;
  }

  &__close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    background-color: $white-color;
    border-left: 1px solid $elements-color;
    font-size: 16px;

    &--dark-theme {
      background-color: $dark-bg-color;
    }

    &:hover {
      &::before {
        color: $second-text-color;
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: stretch;
    border-top: 1px solid $elements-color;
  }

  &__favorites {
    justify-self: center;
    padding-block: 24px;
    flex: 1 1 auto;
  }

  &__selected {
    justify-self: center;
    padding-block: 24px;
    flex: 1 1 auto;
  }
}

.icon-close {
  &--dark-theme {
    color: $bg-color;
  }
}
