@import '/src/styles/vars';
@import '/src/styles/mixins';

.button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 48px;
  font-weight: 500;
  color: $white;
  text-align: center;
  transition: all 0.3s ease;

  @include hover(box-shadow, 0 3px 13px 0 #17203166);

  &--primary {
    background-color: $accent;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--outline {
    border-color: $accent;
    color: $accent;
    background-color: transparent;
  }
}
