@import '../../styles/mixins.module';

@font-face {
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-family: 'Mont';
}

.product-page {
  text-transform: capitalize;
  margin-inline: 16px;
  font-family: "Mont";
  display: flex;
  flex-direction: column;
  font-family: 'Mont';
  color: #0f0f11;

  @include contentMarginInline();

  // @include onTablet {
  //   margin-inline: 24px;
  // }

  @include onBigScren {
    width: 1136px;
    margin: auto;
  }

  &__path-of-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    margin-bottom: 24px;
    margin-top: 78px;
    gap: 8px;
  }

  &__go-home {
    background-image: url('./public/img/home.svg');
    display: block;
    background-position: center;
    // margin-right: 8px;
    width: 16px;
    height: 16px;
  }

  &__direction {
    background-image: url('./public/img/chevron-arrow-right.svg');
    background-position: center;
    display: block;
    width: 16px;
    height: 16px;
    // margin-right: 8px;
  }

  &__previous-page {
    color: #0f0f11;
  }

  &__current-page {
    text-decoration: none;
    color: #89939a;
  }

  &__return {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    margin-top: 24xp;
    margin-bottom: 16px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__arrow {
    background-image: url('public/img/chevron-arrow_left.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }

  &__back {
    color: #89939a;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 32px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__technical-specifications {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 16px;
    }

    @include onBigScren {
      grid-template-columns: repeat(24, 1fr);
    }
  }

  &__photos {
    // position: relative;
    display: flex;
    flex-direction: column-reverse;

    @include onTablet {
      grid-column: 1 / 7;
      flex-direction: row;
    }

    @include onBigScren {
      grid-column: 1 / 13;
    }
  }

  &__photos-list {
    display: flex;
    flex-direction: row;
    margin: auto;

    @include onTablet {
      margin-right: 16px;
      margin-left: 0;
      flex-direction: column;
    }
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #c4c4c4;
    border-radius: 8px;

    &--active {
      border: 1px solid #0f0f11;
      border-radius: 8px;
    }
  }

  &__chosen-photo {
    width: 288px;
    height: 288px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    // position: absolute;

    @include onTablet {
      width: 287px;
      height: 287px;

      margin-left: 0;
      margin-right: 16px;
    }

    @include onBigScren {
      width: 464px;
      height: 464px;
      margin-right: 64px;
    }
  }

  &__tachnical-info {
    grid-column: 7 / 13;

    @include onBigScren {
      grid-column: 13 / 21;
    }
  }

  &__colors {
    color: #89939a;
  }

  &__wrapper-colors {
    display: flex;
    gap: 9px;
    margin-top: 9px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__some-color-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e2e6e9;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: #b4bdc3;
    }

    &--active {
      border-color: #0f0f11;
    }
  }

  &__some-color {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    // margin: 6px 6px 6px 6px;
    // margin: auto;
  }

  &__capacity {
    color: #89939a;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__memory-buttons {
    display: flex;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__capacity-button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #b4bdc3;
    width: 63px;
    height: 32px;

    &--active {
      color: #fff;
      background-color: #0f0f11;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 16px;

    &-discount {
      color: #0f0f11;
      font-weight: 800;
      font-size: 32px;
      line-height: 41px;
    }

    &-regular {
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
      text-decoration: line-through;
    }
  }

  &__button-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__button-add {
    width: 100%;
    background-color: #f86800;
    border-radius: 8px;
    border: none;
    color: #fff;
  }

  &__button-favorites {
    background-image: url('public/img/add-to-favourites.svg');
    background-size: cover;
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    transition: transform ease-in-out 0.2s;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;

    &:hover {
      transform: scale(1.1);
      transition: transform ease-in-out 0.2s;
    }
  }

  &__tech-info {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0;
  }

  &__tech-type {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--advanced {
      font-size: 14px;
      line-height: 21px;
      font-weight: 800;
      color: #89939a;
    }
  }

  &__tech-meanings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    color: #0f0f11;
  }

  &__tech-meaning {
    // width: fit-content;
    display: flex;
    flex-direction: row-reverse;

    &--advanced {
      font-size: 14px;
      line-height: 21px;
      font-weight: 800;
    }
  }

  &__text-data {
    @include onBigScren {
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      gap: 16px;
    }
  }

  &__block-about {
    text-decoration: none;
    margin-bottom: 56px;
    grid-column: 1 / 13;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__about-title {
    font-weight: 700;
    font-style: SemiBold;
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;
    margin-bottom: 32px;
  }

  &__describe-title {
    margin-bottom: 16px;
    color: #0f0f11;
  }

  &__describe {
    text-decoration: none;
    margin-top: 32px;
    color: #89939a;
  }

  &__tech-specs {
    grid-column: 13 / -1
  }

  &__tech-specs-title {
    padding-bottom: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e2e6e9;

    @include onTablet {
      margin-bottom: 25px;
    }
  }
}