@use '../../../../styles/utils/mixins' as *;
@import '../../../../styles/variables/variables.scss';

.banner-carousel-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: $button-size--sm 1fr $button-size--sm;
}


.banner-carousel {
  width: 100%;
}

.banner-carousel__btn-prev {
  display: block;
}

.banner-carousel__btn-next {
  display: block;
}

.banner-carousel__pagination {
  display: flex;
  justify-content: center;
}
