.icon {
  position: relative;
  width: 16px;
  height: 16px;
  fill: currentColor;

  &__counter {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 50%;
    left: 50%;

    font-family: Mont, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    vertical-align: text;
    text-align: center;
    color: var(--bg);

    border: 1px solid currentColor;
    background: var(--accent-secondary);
    border-radius: 50%;
  }
}
