@use '../../styles/mixins' as *;

.container {
  @include grid-layout;

  grid-column: 1/-1;
}

.title {
  @include grid-layout;
  
  grid-column: 1/-1;
  margin-bottom: 24px;

  &__text {
    @include heading-h2;

    grid-column: 1/4;

    @include on-tablet {
      grid-column: 1/9;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    grid-column: 4;

    @include on-tablet {
      grid-column: -3/-1;
    }
  }
}

.wrap {
  grid-column: 1/-1;
  height: 439px;
  margin-right: -16px;
  overflow: auto hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  @include on-tablet {
    height: 512px;
    margin-right: -24px;
  }

  @include on-full-screen {
    height: 506px;
    margin-right: 0;
  }
}

.product_list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
