@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/vars.scss';

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;

  &__logoNavContainer {
    display: flex;
  }

  &__nav {
    display: none;
    @include on-tablet {
      display: block;
      padding-left: 16px;
    }
    @include on-desktop {
      display: block;
      padding-left: 24px;
    }
  }

  &__favCart {
    display: none;
    @include on-tablet {
      display: flex;
    }
  }

  &__burger {
    display: flex;
    @include on-tablet {
      display: none;
    }
  }
}
