@use '../../../../styles/globals.scss' as *;

.favorite {
  @extend %flex-center;
  
  width: 40px;
  height: 40px;
  background-color: $color-surface2;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-icons;
  }
}
