@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.category-list {
  display: flex;
  flex-direction: column;
}

.category-list-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 32px;

  @include respond-to('tablet') {
    flex-direction: row;
    gap: 16px;
  }
}

.category-list-product {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  padding: 0;
}

.category-list-product__link {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: ease-in 100ms;

  &--phone-color {
    background-color: #6d6474;
  }

  &--tablets-color {
    background-color: #8d8d92;
  }

  &--acc-color {
    background-color: #d53c51;
  }

  &:hover {
    transform: scale(1.01);
  }
}

.category-list-product__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  top: 54px;
  left: 54px;
}

.category-list-product-info {
  &__name {
    color: $headLine-text-color;
    margin-bottom: 8px;

    @include weigh-size-line-height-text-align(700, 20px, 25.56px, left);
  }

  &__amount {
    color: $second-text-color;

    @include weigh-size-line-height-text-align(600, 14px, 21px, left);
  }
}
