@use '../../../style' as *;

.active {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: rem(3);
    border-radius: rem(5);

    background: var(--gray-primary);
  }
}

.cartIcon {
  position: relative;
}

.badge {
  position: absolute;

  display: none;
  align-items: center;
  justify-content: center;

  width: rem(14);
  height: rem(14);
  border-radius: 50%;

  font-size: rem(9);
  font-weight: 700;
  color: white;

  background-color: #eb5757;

  @media (min-width: $tablet) {
    top: rem(9);
    right: rem(9);
    display: flex;
  }

  @media (min-width: $desktop) {
    top: rem(17);
    right: rem(17);
  }
}
