@use '../../../../styles/mixins' as *;

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;

  @include on-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    & > * {
      width: 272px;
    }
  }
}

