@import '/src/components/colors.scss';

.shoping {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_h1 {
    font-family: 'Mont-Bold';
    font-size: 48px;
    color: $HOVER_BUTTON_COLOR;

    display: flex;
    margin: 30px 10vh;

    @media screen and (max-width: 1199px) {
      margin: 5% 3%;
    }
  }

  &_container {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 100%;
    margin-bottom: 20px;
    flex: 1;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      margin: 1% 2%;
      justify-content: start;
      max-height: 100%;
    }
  }

  &_name {
    display: flex;
    align-items: center;
    gap: 25px;

    @media screen and (max-width: 639px) {
      margin-top: 20px;
    }
  }

  &_cart {
    display: flex;
    height: 120px;
    min-width: 752px;
    flex-shrink: 0;
    border: 1px solid $BORDER_COLOR;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 auto;

    @media screen and (max-width: 1199px) {
      min-width: 100%;
    }

    @media screen and (max-width: 639px) {
      height: 100%;
      flex-direction: column;
      align-items: normal;
    }

    &_icon {
      height: 66px;
      width: 66px;

      object-fit: contain;
    }

    &_button {
      cursor: pointer;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-left: 30px;

      &_container {
        width: 100%;
      }
    }

    &_bottom {
      display: flex;
      align-items: center;
    }
  }

  &_price {
    font-family: 'Mont-Bold';
    font-size: 22px;
  }
}

.buttons {
  display: flex;
  align-items: center;

  &_counter {
    background-color: inherit;
    height: 32px;
    width: 32px;
    border: 1px solid $BORDER_COLOR;
    margin: 15px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $BORDER_COLOR;

    &:hover {
      color: $HOVER_BUTTON_COLOR;

    }

    &_mini {
      fill: $BORDER_COLOR;
    }
  }
}

.checkout {
  width: 100%;
  height: 100%;
  max-height: 206px;
  max-width: 368px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }

  border: 1px solid $BORDER_COLOR;

  &_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid $BORDER_COLOR;
    width: 90%;
    height: 120px;

    &_cash {
      color: $HOVER_BUTTON_COLOR;

      font-family: 'Mont-Bold';
      font-size: 32px;
    }

    &_total {
      color: $BUTTOM_TEXT_COLOR;
      font-size: 14px;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 20px;

    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }

  &_buttom {
    height: 48px;
    width: 35vh;

    border: 0;

    font-family: 'Mont';

    color: $BORDER_COLOR;
    background-color: $HOVER_BUTTON_COLOR;
  }
}