.catalog {
  display: flex;
  flex-direction: column;
  &__container {
    display: grid;
    /* Це ключовий рядок для адаптиву */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 16px; /* Відступи між картками */
    row-gap: 40px;
    width: 100%;

    &--hasPagination {
      margin-bottom: 40px;
    }

    &--noPagination {
      margin-bottom: 80px;
    }
  }

  &__modelsCount {
    font-size: $body-size;
    color: $light-text-secondary;
    margin-bottom: 40px;
  }

  &__controls {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px;

    p {
      color: $light-text-secondary;
      font-size: $h3-size;
    }

    button {
      padding: 10px 20px;
      background: $light-text-main;
      color: $color-text-white;
      border: none;
      cursor: pointer;
      font-size: $button-size;

      &:hover {
        box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
      }
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    font-size: $h3-size;
    color: $light-text-secondary;
  }
}
