:root {
  --background-color: #fff;
  --text-color: #313237;
  --text-nav-color: #89939a;
  --border-color: #e2e6e9;
  --button-color: #ffffff;
  --button-slider-color: #e2e6e9;
  --button-active-slider-color: #313237;
  --text-phone-card-color: #89939a;
  --background-color-button-cart: #313237;
  --background-color-button-fav: #ffffff;
  --background-color-phoneCard: #ffffff;
  --background-color-phoneCardHover: #313237;
  --background-color-button-cart: #313237;

}

.page {
  --button-active-slider-color: #f1f2f9;
  --background-color: #0f1121;
  --text-color: #f1f2f9;
  --text-nav-color: #75767f;
  --border-color: #323542;
  --button-color: #323542;
  --button-slider-color: #3b3e4a;
  --text-phone-card-color: #75767f;
  --background-color-button-cart: #905bff;
  --background-color-button-fav: #323542;
  --background-color-phoneCard: #161827;
  --background-color-phoneCardHover: #a378ff;
  background-color: var(--background-color);
  color: var(--text-color);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Mont;
  font-size: 12px;
  font-weight: 800;
  
}
