$primary-color: rgba(49, 50, 55, 1);
$secondary-color: rgba(137, 147, 154, 1);
$border-color: rgba(226, 230, 233, 1);
$mobile-product-card-width: 21.2rem;
$tablet-product-card-width: 23.7rem;
$desktop-product-card-width: 27.2rem;
$mobile-product-card-gap: 1.6rem;

