@use '@styles/vars' as *;
@use '@styles/mixins' as *;

// main styles
@use '@styles/reset' as *;
@use '@styles/fonts' as *;
@use '@styles/typography' as *;

.hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.page {
  overflow-x: hidden;
  scroll-behavior: smooth;

  --primary-color: #313237;
  --secondary-color: #89939a;
  --icons-color: #b4bdc3;
  --elements-color: #e2e6e9;
  --hover-bg-color: #fafbfc;
  --white-color: #fff;
  --green-color: #27ae60;
  --red-color: #eb5757;

  background-color: var(--white-color);

  // grid columns count
  --columns: #{$columns-p};

  @include on-tablet {
    --columns: #{$columns-t};
  }

  @include on-desktop {
    --columns: #{$columns-d};
  }

  &--dark {
    --primary-color: #f1f2f9;
    --secondary-color: #75767f;
    --icons-color: #4a4d58;
    --elements-color: #3b3e4a;
    --hover-bg-color: #fafbfc;
    --white-color: #0f1121;
    --green-color: #27ae60;
    --red-color: #eb5757;
  }
}
