@import '../../../Scss-variables/Variables.scss';


.sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;

  &__container {
    margin-right: 16px;
    &__label {
      display: block;
      font-family: $mont-regular-font;
      font-weight: 700;
      font-size: 12px;
      color: #75767F;
      margin-bottom: 4px;
    }

    &__select {
      height: 40px;

    }

    &__select--by{
      background-color: #323542;
      color: $active-link-color;
      width: 176px;
      border: none;
      padding: 10px 0 10px 12px;

    }
    
    &__select--number{
      width: 128px;
      background-color: #323542;
      color: $active-link-color;
      border: none;
      padding: 10px 0 10px 12px;

    }
  }
}
