@import '../../styles/main.scss';

.homePage {
  &__title {
    @include content-padding-inline();

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
    }

    & {
      margin-block: 32px;
      font-family: 'Mont-Bold', sans-serif;
      color: $color-gray-primary;
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }
}
