@use '../../utils/vars' as *;
@import '../../utils/mixins' ;

.homePage {
  &__content {
      display: flex;
      flex-direction: column;
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__up {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0;

    @include on-tablet {
      height: 176px;
      margin: auto 0;
    }

    @include on-desktop {
      height: 168px;
    }

  }

  &__title-welcome {
    margin: auto 0;

    @include on-tablet {
      width: 500px;
      display: block;
    }

    @include on-desktop {
      width: 1040px;

      margin: auto 0;
    }
  }

  &__dots {
    width: 100%;
    display: flex;
    align-items: center;

    padding-top: 8px;
    margin: auto;

    img {
      width: 80px;
      height: 24px;
    }

  }


      &__button {
        width: 32px;
        height: 100%;

        display: none;

        @include on-tablet {
          display: block;
        }


        @include on-desktop {
          height: 400px;
        }

     }

     &__button-slider-left {

        @include on-tablet {
            object-fit: cover;
            display: block;
            width: 32px;
            height:100%;
        }
     }

       &__down {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 16px;
       }

  &__banner {
  background-image: url('../../img/header-bg.png');
  background-position: center;
  background-size: contain;
  background-color: $primary-color;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;

  @include on-tablet {
    background-image: url('/img/header-bg-tablet-2x.png');

     //width: 490px;
     height: 189px;
  }

  @include on-desktop {
    background-image: url('/img/header-bg-desktop-2x.png');
    // width: 1040px;
     height: 400px;
  }
}

}
