@import '../../style/extends';
@import '../../style/fonts';

.homePage {
  &__title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  &__title {
    @extend %h2;

    margin: 24px 16px;

    @include content-padding-inline;

    @include on-tablet {
      margin: 32px 0;
    }

    @include on-desktop {
      margin-block: 56px;
    }
  }

  &__breake {
    @include on-desktop {
      display: none;
    }
  }
}
