.product-info__buttons {
  display: flex;
  gap: 8px;
  width: 100%;
}

.product-info__button--add-to-cart {
  cursor: pointer;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  font-family: 'Mont', sans-serif;

  height: 40px;
  border-radius: 10px;

  color: white;
  text-decoration: none;

  background-color: #313237;
}

.product-info__button--add-to-cart.active {
  border: 1px solid #e2e6e9;
  color: green;
  background-color: white;
}

.product-info__button--icon {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid #e2e6e9;
  border-radius: 5px;
  padding: 8px;
}

