@use '../shared/styles/mixins' as *;
@use '../shared/styles/variables' as *;

.not_found_product {
  @include margins;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_found_product__title {
  margin-bottom: 24px;
}

.not_found_product__link {
  color: $black;
}

.not_found_product__img {
  height: 300px;
  width: 350px;
  margin-top: 24px;
}
