@use "../../../shared/styles/mixins" as *;
@use "../../../shared/styles/extends";

.Image {
  flex-grow: 1;
  border-radius: 10px;

  @include color-transition((background-color: var(--loading-color)));
}

.Title {
  padding-top: 16px;
  height: 1lh;
  border-radius: 10px;

  @include color-transition((background-color: var(--loading-color)));
  @extend %body-text;
}

.Prices {
  height: 1lh;
  width: 60%;
  border-radius: 10px;

  @extend %h3;
  @include color-transition((background-color: var(--loading-color)));
}

.Line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;

    @include color-transition((background-color: var(--element-color)));
  }
}

.Parameters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
}

.Parameter {
  display: flex;
  justify-content: space-between;
}

.ParameterName {
  height: 1lh;
  width: 40%;
  border-radius: 10px;

  @extend %small-text;
  @include color-transition((background-color: var(--loading-color)));
}

.ParameterValue {
  height: 1lh;
  width: 25%;
  border-radius: 10px;

  @extend %small-text;
  @include color-transition((background-color: var(--loading-color)));
}

.Buttons {
  position: relative;
  display: flex;
  gap: 8px;
}

.ButtonLabel {
  @include visually-hidden-focusable;
}

.AddToCartButton {
  flex-grow: 1;
  border: none;
  padding: 0;

  @include color-transition((background-color: var(--loading-color)));
}

.FavouriteButton {
  height: 40px;
  aspect-ratio: 1;
  border: none;
  padding: 0;

  @include color-transition((background-color: var(--loading-color)));
}

.ProductCardSkeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;

  box-sizing: border-box;
  padding: 31px;
  border: 1px solid;

  @include color-transition((
    background-color: var(--product-card-color),
    border-color: var(--product-card-border-color)
  ));

  &_loading {
    .Image, .Title, .Prices, .ParameterName, .ParameterValue, .AddToCartButton, .FavouriteButton {
      @include loading;
    }
  }
}
