@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.footer {
  grid-column: 1/-1;
  width: 100%;
  background-color: #FFF;
  border-top: 1px solid #E2E6E9;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}
.footer .footer-container {
  display: grid;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  grid-template-columns: repeat(24, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 640px) and (max-width: 1199px) {
  .footer .footer-container {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 16px;
    max-width: 1199px;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
    max-width: 639px;
  }
}
.footer .footer-container .footer-left {
  grid-column: 1/5;
  display: flex;
  align-items: center;
}
@media (min-width: 640px) and (max-width: 1199px) {
  .footer .footer-container .footer-left {
    grid-column: 1/3;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer .footer-container .footer-left {
    width: auto;
  }
}
.footer .footer-container .footer-left .footer-logo {
  width: 89px;
  height: auto;
  display: block;
}
.footer .footer-container .footer-center {
  grid-column: 7/19;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (min-width: 640px) and (max-width: 1199px) {
  .footer .footer-container .footer-center {
    grid-column: 4/10;
    gap: 16px;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer .footer-container .footer-center {
    flex-direction: column;
    gap: 16px;
  }
}
.footer .footer-container .footer-center a {
  text-decoration: none;
  text-transform: uppercase;
  color: #89939A;
  font-size: 12px;
  font-weight: 800;
  transition: color 0.3s;
  white-space: nowrap;
}
.footer .footer-container .footer-center a:hover {
  color: #313237;
}
.footer .footer-container .footer-right {
  grid-column: 21/25;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
@media (min-width: 640px) and (max-width: 1199px) {
  .footer .footer-container .footer-right {
    grid-column: 10/13;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer .footer-container .footer-right {
    width: 100%;
    justify-content: center;
  }
}
.footer .footer-container .footer-right .back-to-top-text {
  color: #89939A;
  font-size: 12px;
  white-space: nowrap;
}
.footer .footer-container .footer-right .back-to-top-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border: 1px solid #B4BDC3;
  cursor: pointer;
  transition: border-color 0.3s;
}
.footer .footer-container .footer-right .back-to-top-button img {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}
.footer .footer-container .footer-right .back-to-top-button:hover {
  border-color: #313237;
}/*# sourceMappingURL=Footer.css.map */