@import '../../styles/common';

.footer {
  @include page-grid;

  background-color: $c-main-theme;
  justify-content: space-between;
  border-top: 1px solid $dark-grey-color;
  padding: 32px $padding-mobile;

  @include on-tablet {
    padding: 32px;
  }

  &__logo {
    width: 89px;
    margin-bottom: $margin-bottom-mobile;

    grid-column: 1 / span 2;

    @include on-tablet {
      margin-left: 12px;
      margin-bottom: 0;
      grid-column: 1 / span 3;
    }

    @include hover(transform, scale(1.1));
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: $margin-bottom-mobile;

    grid-column: 1 / span 2;

    @include on-tablet {
      grid-column: 5 / span 4;
      flex-direction: row;
      align-items: center;
      gap: 13.5px;
      margin-bottom: 0;
    }

    &--link {
      color: $main-white-color;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.04em;

      @include hover(transform, scale(1.1));
    }
  }

  &__back {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 16px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 10 / span 3;
    }

    &--text {
      color: $light-grey-color;
      font-size: 12px;
      font-weight: 600;
      line-height: 15.34px;
    }

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 32px;
      height: 32px;
      background-color: $button-grey-color;

      @include hover(background-color, $icon-grey-color);
    }
  }
}

