@use '../../styles/mixin.scss' as *;
@use '../../styles/variables.scss' as *;

.container {
  @include container;
}

.logo {
  height: $footer-logo-height;
  width: $footer-logo-width;
}

.footer {
  display: grid;
  align-items: center;
  height: $footer-height;
  grid-template-columns: repeat(3, 1fr);
  border: $border $elements solid;
  box-sizing: border-box;

  @include on-mobile {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: $footer-padding-block;
  }

  &__link {
    padding-inline: $footer-link-padding-inline;
    color: $secondary;
    text-transform: uppercase;

    @include flex-centered;
    @include use-font(700);

    @include on-mobile {
      padding-inline: $footer-link-padding-inline-mobile;
    }
  }

  &__front {
    grid-column: 1 / 2;
    justify-self: start;

    padding-left: 0; // to fix the left padding in logo
  }

  &__list {
    @include flex-centered;

    grid-column: 2 / 3;
    justify-self: center;
    justify-content: space-between;
    width: 100%;

    @include on-mobile {
      display: flex;
      flex-direction: column;
      gap: $footer-list-gap-mobile;
      align-items: flex-start;
    }
  }

  &__back {
    @include use-font(600);

    display: flex;
    align-items: center;
    gap: $footer-back-gap;

    justify-self: end;
    grid-column: 3 / 4;

    color: $secondary;

    @include on-mobile {
      align-self: center;
    }
  }

  &__item {
    @include flex-centered;
  }
}
