@use '../../../scss/main.scss' as *;

.slider-button {
  display: none;
  padding: 0;
  border: 1px solid $border-color;

  &:hover {
    border-color: $border-color-hover;
  }

  @include on-tablet {
    display: block;
  }

  &--left {
    background: url('img/assets/icons/arrow_left.svg') no-repeat center center;
  }

  &--right {
    background: url('img/assets/icons/arrow_right.svg') no-repeat center center;
  }
}

.slider-container {
  @include page-grid;

  flex-direction: column;
  height: 352px;
  background-color: #fff;

  @include on-tablet {
    margin-inline: 0;
    height: 221px;
  }
}

.slider {
  grid-column: 1 / -1;
  grid-row: 1;

  height: 320px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: auto;
  font-weight: bold;

  @include on-tablet {
    grid-column: 2 / -2;
    height: 189px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  scroll-snap-align: center;

  @include on-tablet {
    flex-direction: row;
    &__top {
      margin: 7px;
      flex-grow: 1;
      flex-basis: 224px;
      background-color: #222;
      border-radius: 9px;
    }

    &__bottom {
      flex-grow: 1;
      flex-basis: 260px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    height: 42px;
    font-size: 22px;
    line-height: 100%;
    background-image: linear-gradient(to right, #6f47de, #d15df3);
    text-align: center;
    color: transparent;
    background-clip: text;

    @include on-tablet {
      margin-top: 24px;
      padding-left: 11%;
      text-align: left;
    }
  }

  &__title {
    margin-top: 48px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;

    transform: scaleX(0.95);

    @include on-tablet {
      margin-top: 22px;
    }
  }

  &__description {
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    color: #9b9b9b;
    transform: scaleX(0.95);

    @include on-tablet {
      margin-top: 8px;
    }
  }

  &__photo {
    height: 136px;
    color: #fff;
    background: center bottom / contain no-repeat;
  }
}

.dots {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 8px;

  &__dot {
    width: 14px;
    height: 4px;
    margin: 10px 5px;
    background-color: transparent;

    &--active {
      background-color: #000;
    }
  }
}
