.favourites {
  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    transition: width 0.5s ease-in;
    padding: 0 0 20px;
  }

  &__item {
    &-exit {
      opacity: 1;
      &-active {
        opacity: 0;
        transition: all 500ms ease-out;
      }
    }
  }
}
