.slider {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 56px;
  margin-bottom: 80px;
  justify-content: space-between;

  @include on-tablet {
    margin-top: 32px;
    margin-bottom: 64px;
    justify-content: center;
  }

  @include on-mobile {
    margin-top: 24px;
    margin-bottom: 56px;
    justify-content: center;

    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
}

.arrow {
  height: 400px;
  width: 32px;
  background-color: initial;
  border-radius: 20px;
  border: 1px #B4BDC3 solid;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border-color: #0F0F11;
    background-color: #FAFAFA;
  }

  @include on-tablet {
    height: 189px;
  }

  @include on-mobile {
    display: none;
  }
}

.viewport {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;

  height: 400px;
  margin: 0 16px;

  @include on-tablet {
    height: 189px;
    width: 490px;
    margin: 0 19px;
    flex: none;
  }

  @include on-mobile {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;

    margin: 0;
    border-radius: 0;
    flex: none;
  }
}

.track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.slide {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include on-mobile {
      object-fit: cover;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 14px;
  margin-top: 18px;
}

.dot {
  all: unset;
  height: 4px;
  width: 14px;
  cursor: pointer;

  background-color: #E2E6E9;
  transition: background-color 0.3s ease;

  &Active {
    background-color: black;
  }
}
