@import '../../../styles/mixins';

.category {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  justify-content: center;
  width: 100%;

  @include on-tablet {
    flex-direction: row;
    gap: 16px;
  }
}

.category__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.category__item {
  background-color: #6D6474;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}

.category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.category__img--mobile {
  transform: scale(1.5) translate(25%, 30%);
  transition: transform 0.3s ease;

    &:hover {
    transform: scale(1.4) translate(15%, 20%);
  }
}

.category__img--tablets {
  transform: scale(1.5) translate(28%, 25%);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.4) translate(20%, 15%);
  }
}

.category__img--accessories {
  object-fit: contain;
  transform: scale(2) translate(35%, 8%);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(2.1) translate(31%, 5%);
  }
}

.category__title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #F1F2F9;
  margin-bottom: 4px;
}

.category__info {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #75767F;
  margin-bottom: 32px;
}
