.cart-item {
  background-color: var(--c-surface-1);
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @include on-tablet {
    padding: 24px;

    flex-direction: row;
    gap: 24px;
  }

  @include on-desktop {
    &:hover {
      .cart-item__img-link {
        transform: scale(1.1);
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__delete-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    @include on-desktop {
      transition: background-color 0.5s;

      &:hover {
        background-color: var(--c-icons);
      }
    }
  }

  &__img-link {
    display: flex;
    min-width: 80px;
    height: 80px;
    align-self: center;

    @include on-desktop {
      transition: transform 0.5s;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    text-decoration: none;
    color: inherit;

    @include on-desktop {
      transition: color 0.5s;
      &:hover {
        color: var(--c-secondary);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__counter-btn {
    cursor: pointer;
    background-color: var(--c-surface-2);
    border: 1px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    &:disabled {
      border-color: var(--c-elements);
      background-color: transparent;

      .icon {
        fill: var(--c-elements);
      }
    }

    @include on-desktop {
      transition: background-color 0.5s;

      &:hover {
        background-color: var(--c-icons);
      }
    }
  }

  &__counter-value {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--c-white);

    font-size: 14px;
    line-height: 150%;
    text-align: center;
    width: 32px;
    height: 32px;
    z-index: 1;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
  }
}
