/* stylelint-disable */
/* stylelint-enable */
@import '@/styles/variables';
@import '@/styles/mixins';

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px;
  border: 1px solid $color-elements;
  justify-content: flex-end;

  @include animation-transition;

  &:hover {
    border-color: transparent;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    height: 230px;
    margin: auto;
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    @include animation-transition;

    &:hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }

  &__title {
    font-size: 14px;
    font-weight: $font-weight-semi;
    line-height: 21px;
    margin-top: 30px;
  }

  &__price-container {
    margin-top: 8px;

    @include discount-price;

    &::after {
      content: '';
      display: block;
      width: 100%;
      margin: 10px 0 8px;
      border: 1px $color-elements solid;
    }
  }

  &__full-price {
    @include full-price;
  }

  &__specs-item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    color: $color-primary;
    font-size: 12px;
    font-weight: $font-weight-semi;
  }

  &__specs-label {
    color: $color-secondary;
  }

  &__add-favorite {
    height: 40px;
  }
}
