.product_list {
  width: 100%;
  max-height: 526px;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 56px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.title {
  font-family: Mont, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  max-width: 136px;
}

.buttons_group {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.buttons_controls {
  width: 32px;
  height: 32px;
  gap: 16px;
  background-color: #fff;
  border: 1px solid gray;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.buttons_controls:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.link_product {
  text-decoration: none;
  color: inherit;
  display: block;
}


@media screen and (min-width: 640px){
  .product_list {
    max-width: 1199px;
    width: 100%;
    max-height: 744px;
    height: 100%;
    margin-top: 96px;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 592px;
  }

  .title {
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    white-space: nowrap;
  }

  .buttons_group {
    display: flex;
    margin-left: auto;
    gap: 16px;
  }

  .buttons_controls {
    width: 32px;
    height: 32px;
    gap: 16px;
    background-color: #fff;
    border: 1px solid gray;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
  }

  .buttons_controls:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .product_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 100%;
  }

  .link_product {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}


@media screen and (min-width: 1200px){
  .product_list {
    padding: 20px;
    max-width: 1199px;
    height: 577px;
    margin-bottom: 80px;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    text-align: left;
  }

  .buttons_group {
    display: flex;
    gap: 16px;
  }

  .buttons_controls {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid gray;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
  }

  .buttons_controls:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .product_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 20px;
  }

  .link_product {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}


