@import '../../utils/mediaQuery';

.action {
    display: flex;

    &__favourites, &__shopping-bag{
        display: block;
        position: relative;
        padding: 24px;
        box-shadow: -1px -1px 0 #323542;
        line-height: 0;

        &::after {
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                width: 0;
                background-color: #F1F2F9;
                bottom: 0;
                left: 0;
                transition: width 100ms ease-in;
        
            }

        @include tablet{
            padding: 16px;
        }

        @include mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                width: 50%;
                height: 64px;
        }

        &:hover{
            &::after {
                    width: 100%;
                    transition: width 1s ease-out;
                }
        }

        &--active{
            &::after {
                    width: 100%;
                }
        }
    }

    &__counter{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 9px;
        font-weight: 700;
        color: aliceblue;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #EB5757;
        top: -4px;
        right: -8px
    }

    &__icon {
        position: relative;
        width: 16px;
        height: 16px;


        &--like{
            background-image: url("/img/icons/Favourites.png");
        }

        &--bag{
            background-image: url("/img/icons/Shopping_bag.png");
        }
        
    }

}