@import "../../helpers/variables.scss";

.prices {
  display: flex;
  align-items: center;

  &__price--with-discount {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $primaryColor;

    margin-right: 8px;
  }

  &__price--full {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: $secondaryColor;
  }
}
