.box {
  height: 482px;

  @media (min-width: 640px) {
    height: 397px;
  }

  @media (min-width: 1200px) {
    height: 600px;
  }

  .title {
    padding: 24px 14px 24px 14px;

    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;

    @media (min-width: 640px) {
      padding: 32px 24px 32px 24px;

      font-size: 48px;
      line-height: 56px;
    }

    @media (min-width: 1200px) {
      padding: 56px 32px 56px 32px;
    }
  }
}
