@import '../../styles/main';

.categories {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.categoryContainer {
  display: flex;
  align-self: center;
  justify-content: space-between;

  @include on-tablet {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    gap: 15px;
  }

  @include on-desktop {
    width: 1155px;
    gap: 15px;
    padding: 0;
  }

}

.title {
  justify-self: center;

  @extend %h2-mobile;

  @include on-tablet {
  font-family: Mont, sans-serif;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: var(--color-primary);
  padding: 30px 10px;
  width: 100vw;
  }

  @include on-desktop {
    width: 1155px;
    padding-left: 96px;
  }
}

.category {
/*   grid-column: 1 / -1; */
  @include on-tablet {
/*     grid-column: span 4; */
    align-self: center;
  }

  @include on-desktop {
    grid-column: span 8;
  }
}

.link {
  display: block;
  text-decoration: none;
  transition: transform $transition-duration ease;
}

.image {
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px lightgrey solid;

  &:hover {
    transform: scale(1.05);
  }

  @include on-tablet {
    width: calc((100vw - 90px) / 3);
  }

  @include on-desktop {
    width: 373px;
  }
}

.category__title {
  @extend %h4-tablet;
}

.category__subtitle {
  @extend %body-text;

  color: var(--color-secondary);
}
