@import '../../styles/mixins.module';

.icon {
  width: 16px;
  height: 16px;
  display: block;

  // @include onTablet {
  //   padding: 16px;
  // }
}

.icon--menu {
  background-image: url("/img/burger-menu.svg");
  // background-repeat: no-repeat;
  background-size: cover;
  margin: 16px;
  border: none;
  background-color: transparent;

  @include onTablet {
    display: none;
  }
}

.icon--active {
  @include onTablet {
    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      // right: 49px;
      // top: 2.5px;
      background-color: #0f0f11;
      height: 3px;
      width: 100%;
      transition: transform 0.3s;
      transform: scale(1);
      transform-origin: left;
    }
  }
}

.icon--close {
  background-image: url("public/img/icon-close.png");
  background-size: cover;
  margin: 16px;
}

.icon--heart {
  // display: none;
  width: 0;
  height: 0;

  @include onTablet {
    background-image: url("public/img/favourites-(heart-like).svg");
    width: 16px;
    height: 16px;
    background-size: cover;

    &__wrapper {
      border-right: 1px solid #e2e6e9;
      position: relative;
    }

    &__content {
      padding: 16px;
    }
  }

  @include onBigScren {
    &__content {
      padding: 24px;
    }
  }
}

.icon--bag {
  // display: none;
  width: 0;
  height: 0;

  @include onTablet {
    background-image: url("public/img/shopping-bag-cart.svg");
    width: 16px;
    height: 16px;
    // display: inline-block;
    background-size: cover;
    // margin: 16px;

    &__wrapper {
      position: relative;
    }

    &__content {
      padding: 16px;
    }
  }

  @include onBigScren {
    &__content {
      padding: 24px;
    }
  }
}

.badge {
  display: none;

  @include onTablet {
    position: absolute;
    top: 13px;
    right: 10px;
    background: #3b6ef6; // або ваш колір
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
  }
}
