@use '@styles/mixins' as *;

.capacity {
  height: 32px;
  width: fit-content;
  padding-inline: 8px;
  box-sizing: border-box;
  border: 1px solid var(--color-elements);

  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;

  @include body-text;

  &:hover {
    border: 1px solid var(--color-icons);
  }

  &--dark {
    border: 1px solid var(--color-surface1);
    background-color: var(--color-surface1);

    &:hover {
      border: 1px solid var(--color-elements);
      background-color: var(--color-elements);
    }
  }

  &--active {
    pointer-events: none;
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
  }

  &--dark.capacity--active {
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
  }
}
