@use 'styles/vars';

.product-specs {
  padding: 8px 0;

  display: flex;
  gap: 8px;
  flex-direction: column;

  &__entry {
    display: flex;
    justify-content: space-between;

    &-name {
      color: vars.$color-secondary;
    }
  }
}
