@import '../../styles/styles';

.notFound {
  margin: 64px auto;
  max-width: 80%;
  min-width: 300px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include on-tablet {
    min-width: 600px;
  }

  &__button {
    flex-grow: 1;
    border-style: none;
    background: $accent;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px;

    @include on-hover(
      (
        background-color: $accent-hover,
      )
    );

    &--active {
      background: $surface-2;

      @include on-hover(
        (
          background-color: $icons,
        )
      );
    }
  }

  &__image {
    aspect-ratio: 1;
    min-width: 300px;
    width: 60%;
  }
}
