@use '/src/styles';

.backToTop {
  display: flex;
  gap: 16px;
  align-items: center;

  &__text {
    color: styles.get-color(secondary);

    @include styles.typography(small);
  }

  &__button {
    width: 32px;
    height: 32px;
  }
}
