.page {
  &__header {
    border-bottom: 1px solid $light-grey;
  }

  &__main {
    min-height: calc(100vh - 96px - 64px - 40px);
  }

  &__section {
    margin-bottom: 80px;
  }

  &__section-title {
    @extend %h1;
    color: $primary-dark;
    margin-bottom: 24px;
  }
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 20px;
  @include onDesktop {
    padding: 0;
  }
}
