@use './../../style/main' as *;


.header {
  // display: none !important; // important
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 1px 1px $surface-2;
  width: 100%;
  height: 48px;
  background-color: $black;

  @include on-desktop {
    height: 64px;
  }
}

.nav {
  &__wrapper {
    font-family: Mont, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 16px;

  }

}
