@import '../../Utills/variables';




.product__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray_elements;
  gap: 20px;
  transition: transform 0.3s ease;
  padding: 16px;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;

  @media(min-width: $mobile_width) {
    padding: 32px;
  }




}


.img__container {
  width: 100%;
  height: 130px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;


  @media (min-width: $mobile_width) {
    height: 196px;
  }


  

  &:hover{
    transform: scale(1.1);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;


}


.price__container{
  display: flex;
  width: 100%;
  text-align: left;
  gap: 5px;



}


.discount{
  margin: 0;
  color: $gray_primary;
}

.regular__price{
  margin: 0;
  font-family: MontRegular,sans-serif;
  color: $gray_secondary;
   display: inline-block;
   text-decoration: line-through;

}






.product__name{
  text-decoration: none;
  color: $gray_primary;
}

.info__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid $gray_elements;
  padding-top: 20px;

}


.item{
  display: flex;
  justify-content: space-between;


  :nth-child(1){
    color: $gray_secondary;
    font-weight: 700;
    font-size: 12px;


  }

  :nth-child(2){
    margin: 0;
    color: $gray_primary;
    font-size: 12px;
    font-weight: 700;
  }
}
