@use '../../../../utils/mixins';

.container {
  @include mixins.page-grid;

  .col {
    grid-column: span 4;

    @media (min-width: 500px) {
      grid-column: span 2;
    }

    @include mixins.on-tablet {
      grid-column: span 6;
    }

    @media (min-width: 768px) {
      grid-column: span 4;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }
  }
}

.movie--isloading {
  height: 252px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
}

.movie--isloading .loading-image {
  height: 190px;
  background-image: linear-gradient(90deg, #ececec 0, #f4f4f4 40px, #ececec 80px);
  background-size: 250px;
  animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #f7f7f7;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: linear-gradient(90deg, #ececec 0, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 10px;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: linear-gradient(90deg, #ececec 0, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 10px;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec;
  background-image: linear-gradient(90deg, #ececec 0, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 3px;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.avatar {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  margin-top: 40px;
  background-image: linear-gradient(90deg, #ececec 0, #ddd 40px, #ececec 80px);
  background-size: 250px;
  animation: shine-loading-container-items 2s infinite ease-out;
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}
