@import "../../styles/utils";

.filters {
  margin: 40px 0 24px;

  width: 20%;

  display: flex;

  &__box {
    &:first-child {
      margin-right: 16px;
    }
  }

  &__type-filter {
    margin-bottom: 4px;

    display: inline-block;

    @extend %small-text;

    color: $secondary;
  }

  &__filter {
    width: 176px;
    height: 40px;

    border: 1px solid $icons;

    @extend %body-text;

    color: $primary;

    background: $white;
  }
}

@media screen and (max-width: 420px) {
  .filters {
    &__filter {
      width: 150px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .filters {
    margin-top: 16px;
  }
}
