@import '../../../../../../../../../../App';

$gradient-trans-dur: 1000ms;
$default-gradient: linear-gradient(to right, #fff, #fff, #fff);

.button-wrapper {
  // #region variables

  --button-width: 100px;
  --button-height: 32px;
  --button-border-radius: 18px;

  @include on-small-desktop {
    --button-width: 130px;
    --button-height: 40px;
    --button-border-radius: 21px;
  }

  @include on-desktop {
    --button-width: 200px;
    --button-height: 60px;
    --button-border-radius: 34px;
  }

  // #endregion

  height: calc(var(--button-height) + 2px);
  width: calc(var(--button-width) + 2px);
  border-radius: var(--button-border-radius);
  background-color: $border-grey-color;
  overflow: hidden;

  @include flex-center-center;

  @include on-desktop {
    height: calc(var(--button-height) + 3.3px);
    width: calc(var(--button-width) + 3.3px);
  }

  .gradient {
    opacity: 0;
    box-shadow:
      20px 0 20px #e963ff,
      20px 0 20px #e963ff,
      20px 0 20px #e963ff,
      20px 0 20px #e963ff,
      20px 0 20px #e963ff;
    width: 100%;
    height: 100%;
    background: $hover-gradient;
    transform: translateX(-120%);

    @include on-desktop {
      transition:
        transform $gradient-trans-dur,
        opacity $gradient-trans-dur * 2;
    }
  }

  &:hover,
  &:active {
    .gradient {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .button {
    font-family: Mont-Regular, sans-serif;
    font-size: 9px;
    position: absolute;
    border: none;
    padding: 0;
    height: var(--button-height);
    width: var(--button-width);
    text-transform: uppercase;
    background-color: $darkgrey-color;
    border-radius: var(--button-border-radius);
    display: flex;
    align-items: center;
    justify-content: start;

    @include on-small-desktop {
      font-size: 11px;
    }

    @include on-desktop {
      font-size: 15px;
    }

    &-gradient {
      background-clip: text;
      min-width: var(--button-width);

      @include on-desktop {
        transition: min-width $gradient-trans-dur;
      }
    }

    &:hover .button-gradient,
    &:active .button-gradient {
      min-width: 600px;

      @include on-desktop {
        min-width: 1300px;
      }
    }

    &-text {
      width: var(--button-width);
      color: transparent;
    }
  }
}
