.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);

  &__title {
    font-size: 72px;
  }

  &__subtitle {
    font-size: 32px;
  }
}
