@import '/src/styles/media.scss';

$slider-button-hover-bg: #89939a63;
$dot-active-color: #89939a;

.new-brands {
  &__swiper {
    margin-bottom: 80px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

.slider-cards {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

 
  &__track {
    display: flex;
    column-gap: 12px;
    transition: transform 0.5s ease-in-out;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__item {
    display: flex;
    flex: 0 0 calc(25% - 12px);
    max-width: calc(25% - 12px);


    @media(max-width: 1199px) {
    flex: 0 0 calc((100% /3 ) - 12px);
    max-width: calc((100% /3 ) - 12px);
    }

    @media(max-width: 850px) {
      flex: 0 0 calc(40% - 12px);
      max-width: calc(40% - 12px);
    }

    &:first-child {
      margin-left: 4px;
    }

    &:last-child {
      margin-right: 4px;
    }
  }
}

.slider-cards {
  &__box {
    margin: 0 auto;
    overflow: hidden;
    padding-block: 7px;
    width: 100%;
  }

  &__button {
    border: 1px solid $dot-active-color;
    padding: 13px 19px;
    margin-inline: 10px;
    right: 0;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      background-color: $slider-button-hover-bg;
    }
  }
}

.swiper-button--disabled {
  opacity: 0.5;
  cursor: default;

  &:hover {
    background-color: transparent;
  }
}
