@use '@shared/styles' as s;

.return-button {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  height: 16px;
  align-items: center;
  gap: 4px;
  color: s.$c-grey-secondary;
  margin-bottom: 16px;

  @include s.t-button-text
}

.h1 {
  @include s.t-h1;

  margin-bottom: 32px;
}
