@use '@shared/styles' as s;

.container {
  @include s.page-layout;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;

  > :first-child {
    margin-bottom: 24px;
  }
}

.return-button {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  height: 16px;
  align-items: center;
  gap: 4px;
  color: s.$c-grey-secondary;
  margin-bottom: 16px;

  @include s.t-button-text
}

.h1 {
  @include s.t-h1;

  margin-bottom: 32px;
}

