@use '@shared/styles' as s;

.container {
  @include s.page-layout;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;


  > :first-child {
    margin-bottom: 24px;
  }
}

