.header {
  height: $header-height;

  position: sticky;
  top: 0;

  flex-shrink: 0;

  background-color: $back-ground-color-white;
  z-index: 1;

  @include on-desctop {
    height: $header-height-desctop
  }

  &__container {
    height: 100%;

    display: flex;
    gap: 15px;

    position: relative;

    box-shadow: 0 1px 0 $border-color-light-gray;

    @include on-desctop {
      gap: 24px;
    }
  }

  &__nav {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 30px;
    }

    @include on-desctop {
      gap: 64px;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;

    position: relative;

    &.active {
      color: $text-black-color;
    }

    &.active::after {
      content: "";

      height: 3px;
      width: 100%;

      position: absolute;
      bottom: 0;

      background-color: $text-black-color;
      border-radius: 3px;
    }
  }

  &__navbar-icons {
    height: 100%;

    display: flex;

    position: relative;
    overflow: hidden;
  }

  &__navbar-added-to {
    display: none;

    @include on-tablet {
      display: flex;

      position: relative;

      &.active {
        &::after {
          content: "";

          height: 3px;
          width: 100%;

          position: absolute;
          bottom: 0;

          background-color: $text-black-color;
          border-radius: 3px;
        }
      }
    }
  }

  &__navbar-added {
    height: 14px;
    width: 14px;

    position: absolute;

    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eb5757;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    line-height: 100%;

    @include on-desctop {
      top: 18px;
      right: 18px;
    }
  }

  &__search {
    height: 100%;
    margin-left: auto;

    display: flex;
    align-items: center;

    direction: rtl;
  }

  &__switch-theme {
    height: 20px;
    width: 30px;

    margin-block: auto;
    padding: 5px;

    border-radius: 20px;
    background-color: $text-black-color;

    cursor: pointer;

    @include on-desctop {
      height: 30px;
      width: 50px;
    }
  }

  &__switcher {
    height: 100%;
    width: 50%;

    border-radius: 50%;
    background-color: #fff;
  }

  &__navbar-menu {
    border: none;
    background-color: $back-ground-color-white;

    box-sizing: content-box;
    border-left: solid 1px $border-color-light-gray;
    cursor: pointer;

    @include on-tablet {
      display: none;
    }
  }

  &__navbar-close {
    position: absolute;

    z-index: 1;
    border: none;
    background-color: $back-ground-color-white;
    cursor: pointer;

    @include on-tablet {
      display: none;
    }
  }

  &__logo-link {
    height: 100%;

    padding-inline: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include on-desctop {
      padding-inline: 24px;
    }
  }

  &__logo {
    height: 22px;

    @include on-desctop {
      height: 28px;
    }
  }
}
