@import '../../utils/mixins.scss';

.footer {
  max-width: 100vw;
  margin: auto;
  border-top: 1px solid rgba(226, 230, 233, 1);

  &__mobi {
    display: flex;
    justify-content: space-around;

    &__button {
      color: black;
      padding: 5px;
      text-transform: uppercase;
      text-decoration: none;
      align-items: center;
      display: flex;
      color: rgba(137, 147, 154, 1);
    }

    @include onTablet {
      display: none;
    }

    @include onPc {
      display: none;
    }
  }

  &__logo {
    margin-left: 15px;

    @include buttonTransitionZoom;
  }

  &__container {
    margin: auto;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 293px;
    text-transform: uppercase;
  }

  &__menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(137, 147, 154, 1);
  }

  &__goTop {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: rgba(137, 147, 154, 1);
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  &__button_top {
    margin-left: 15px;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(180, 189, 195, 1);
    color: rgba(180, 189, 195, 1);
    background-color: white;
    cursor: pointer;

    @include buttonTransitionWhite;
  }

  &__button {
    @include buttonTransitionTextFooter;
  }
}
