@import '../src/styles/variables';

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;

  &__home {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    color: #4a4d58;
  }

  &__link {
    text-decoration: none;
    color: $text-color;

    font-weight: 700;
    font-size: 12px;
    transition: color 0.2s ease;

    &:hover {
      color: #007bff;
    }

    &--active {
      color: $grey-secondary-color;
      pointer-events: none;
    }
  }
}
