@use './../../scss/main.scss' as *;

.footer {
  display: flex;
  flex-grow: 1;
  align-items: end;

  &__content {
    @include page-grid;

    margin-top: 64px;
    padding-block: 32px;
    color: $secondary-color;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;

    grid-row-gap: 32px;

    @include on-tablet {
      margin-top: 80px;
    }
  }

  &__left {
    height: 32px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__menu {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;

    @include on-tablet {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 13.5px;
      grid-column: span 8;
    }

    @include on-desktop {
      grid-column: span 14;
    }
  }

  &__right {
    width: max-content;
    height: 32px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    place-self: center center;

    @include on-tablet {
      justify-self: end;
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__logo {
    display: flex;
    justify-content: stretch;
    height: 32px;
  }

  &__lang {
    display: flex;
    justify-content: stretch;
    color: $primary-color;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
  }

  &__langOption {
    color: $secondary-color;
    background-color: red;

    &_checked {
      color: $primary-color;
      background-color: green;
    }
  }

  &__topButton {
    width: 32px;
  }
}
