@import '../../styles/index';

.footer {
  background-color: $white-color;
  border-top: 1px solid $elements-color;

  &__wrapper {
    @include container;
    @include flex;

    align-items: center;
    padding: 32px 0;
  }

  &__links {
    @include flex;

    gap: 100px;

    @media (max-width: 991px) {
      gap: 45px;
    }

    @media (max-width: 767px) {
      gap: 30px;
    }
  }

  &__linksItem {
    color: $secondary-text-color;

    @include hover(
      (color, $main-text-color),
      (border-bottom, 1px solid $main-text-color)
    );
  }

  &__logo {
    @media (max-width: 991px) {
      width: 64px;
    }
  }

  &__back {
    @include flex;

    align-items: center;
    gap: 16px;
    color: $secondary-text-color;
  }

  &__backBtn {
    @include button;
    @include slider-button;
    @include hover((border-color, $main-text-color));

    svg {
      rotate: 90deg;
    }
  }
}
