.pagination {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

margin-top: 40px;
margin-bottom: 80px;



  &__list {
    display: flex;
    gap: 8px;
    padding: 0;
    list-style: none;
  }


  &__link {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 1px solid #E2E6E9;
    border-radius: 50%;

    color: #0F0F11;
    text-decoration: none;


    &--active {
  border-color: #E2E6E9;
      color: #FFF;
      background-color: #0F0F11;

    }



    &:hover {
      border-color: #0F0F11;
    }

  }

  &__button {
    border-color: #B4BDC3;
    &_left--disabled {
      cursor: not-allowed;
    border-color: #E2E6E9;
    &:hover {
      border-color: #E2E6E9;

    }
        }
    &_right--disabled {
      cursor: not-allowed;
    border-color: #E2E6E9;
    &:hover {
      border-color: #E2E6E9;

    }
        }
  }



  }



