@use '../../utils/variables.scss' as *;
@use '../../utils/mixins.scss' as *;

@font-face {
  font-family: Mont-Regular;
  src: url('fonts/Mont-Regular.otf');
}

@font-face {
  font-family: Mont-Bold;
  src: url('fonts/Mont-Bold.otf');
}


.category_path_container {
  width: 288px;
  height: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  @include on-tablet {
    width: 592px;
    margin-bottom: 40px;
  }

  @include columns-3-grid {
    width: 722px;
  }

  @include on-desktop {
    width: 1136px;
  }
}

.category_header_icon {
  width: 16px;
  height: 16px;
}

.category_path {
  font-family: Mont-Regular, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--text-color-secondary);
  text-transform: capitalize;
}

.category_header {
  font-family: Mont-Bold, sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: var(--text-color-main);
  width: 288px;
  height: 42px;
  margin: 0 0 8px;
  text-transform: capitalize;

  @include on-tablet {
    width: 592px;
    font-size: 48px;
    line-height: 56px;
    height: 56px;
  }

  @include columns-3-grid {
    width: 722px;
  }

  @include on-desktop {
    width: 1136px;
  }
}

.category_models_count {
  font-family: Mont-Regular, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color-secondary);
  width: 288px;
  height: 21px;
  margin: 0 0 32px;

  @include on-tablet {
    width: 592px;
    margin: 0 0 40px;
  }

  @include columns-3-grid {
    width: 722px;
  }

  @include on-desktop {
    width: 1136px;
  }
}

.loader {
  width: 100vw;
  @include flex-centered;
}