.burger-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin-top: auto;
  padding: 0;
  border-top: 1px solid #e2e6e9;
}

.burger-footer--heart {
  border-right: 1px solid #e2e6e9;
}

.burger-footer--basket,
.burger-footer--heart {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 64px;
}

.burger-footer--heart::after,
.burger-footer--basket::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  opacity: 0;
  background-color: black;

  transition: opacity 0.2s ease;
}

.burger-footer--heart:hover::after,
.burger-footer--basket:hover::after {
  opacity: 1;
}

.burger-footer__icon--heart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 0;

  background-color: white;
  background-image: url('../../../../public/img/icons/icon--heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.burger-footer__icon--basket {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 0;

  background-color: white;
  background-image: url('../../../../public/img/icons/icon--basket.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.burger-footer__icon--badge {
  position: absolute;
  top: 24%;
  right: 40%;

  width: auto;
  height: 12px;
  padding: 2px 6px;
  border-radius: 50%;

  font-size: 8px;
  font-weight: bold;
  line-height: 13px;
  color: white;
  text-align: center;

  background-color: #f08080;

  @media (min-width: 640px) {
    right: 46%;
  }
}
