 @use '../../../shared/styles/mixins' as *;

 .slider {
    position: relative;
    z-index: 800;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;

    @include for-tablets {
      display: grid;
      /* stylelint-disable declaration-block-no-redundant-longhand-properties */
      grid-template-columns: max-content 1fr max-content;
      grid-template-rows: 18.9rem auto;
      grid-template-areas:
        "prev image next"
        "dash dash dash";

      aspect-ratio: initial;
      overflow: visible;

      height: auto;
      gap: 1.6rem;
    }
  }

  .slider .desktopOnly {
    display: none;

    @include for-tablets {
      display: flex;

      &:first-child {
        grid-area: prev;
        height: auto;
      }

      &:last-child {
        grid-area: next;
        height: auto;
      }
    }
  }






