@import '../../../shared/utils-scss/mixins';
@import '../../../shared/utils-scss/variables';
@import '../../../shared/utils-scss/font';

.product {
  margin-bottom: 80px;

  &__title {
    @extend %mont-700;

    font-weight: 800;
    line-height: 40.9px;
    font-size: 22px;
    width: 136px;

    @include on-tablet {
      font-size: 32px;
      line-height: 41px;
      width: auto;
    }
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__cart {
    display: flex;
    gap: 16px;
    transition: all 0.8s;
    padding-bottom: 1px;
  }

  &__phone {
    width: 212px;
    height: 439px;

    @include on-tablet {
      width: 237px;
      height: 512px;
    }

    @include on-desktop {
      min-width: 272px;
      height: 506px;
    }
  }
}

.region {
  overflow: hidden;
}