@import "../../helpers/styles/mixins";

.TabletsPage {
  padding-top: 25px;
  padding-bottom: 80px;

  &__path {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__path-folder {
    @include smallText;
  }

  &__title {
    @include sectionTitle_H1;
  }

  &__amount {
    @include bodyText;
    margin-bottom: 40px;

    color: $secondary-color;
  }
}
