@use "../../utils/mixins" as mix;
@use "../../utils/vars" as vars;

.pc {
  &__product_card {
    box-sizing: border-box;
    width: 100%;
    padding: 32px;
    display: flex;
    gap: 8px;
    align-items: stretch;
    flex-flow: column wrap;
    justify-content: space-between;
    border: 1px solid vars.$c-grayIconsPlaceHolders;
  }

  &__image_container {
    width: 100%;
    border: 1px solid vars.$c-green;
    aspect-ratio: 1 / 1;
    padding: 2px;

    @include mix.photo-container;
  }

  &__image {
    @include mix.photo;

    transition: transform vars.$transitionDuration;

    &:hover {
      transform: scale(vars.$hoverScaleSize);
    }
  }

  &__name {
    display: flex;
    align-items: stretch;
    font-weight: 600;
    height: 60px;
    padding-top: 16px;
  }

  &__link {
    text-decoration: none;
    color: vars.$c-grayPrimary;
  }

  &__price {
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;

    &--full {
      color: vars.$c-graySecondary;
      text-decoration: line-through;
    }
  }

  &__screen,
  &__capacity,
  &__ram {
    display: flex;
    color: vars.$c-graySecondary;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__bottom_container{
    display: flex;
    gap: 8px;
  }

  &__button {
    width: 100%;
    background-color: vars.$c-grayPrimary;
    color: vars.$c-white;
    font-weight: 700;
    text-align: center;
    height: 40px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid vars.$c-grayIconsPlaceHolders;

    &:hover {
      border-color: vars.$c-grayPrimary;
    }

    &:active {
      border-color: vars.$c-grayElements;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: vars.$c-grayElements;
  }
}



