
* {
  margin: 0;
  padding: 0;
}

.nav-menu-header {
  display: grid;
  grid-template-columns: 70px 70px 1fr;
  width: 100%;
  height: 50px;
  background:#343a40
}

.nav-menu-header__item {
  justify-content: center;
  text-align: center;
  color: #6c757d;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
}

.nav-menu-header__item:hover {
  color: #d7d7db;
}

.active {
  color: white;
}

.listOfPhones {
}

.listOfPhones__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30px 80px;
  grid-row-gap: 10px;
  border: 1px solid grey;
  margin: 10px;
}

.listOfPhones__item-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100px;
  height: 100px;
  padding: 15px 4px 4px 4px;
}

.listOfPhones__item-link {
  color: #337AB7;
  text-decoration: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 15px 4px 0 20px;
}

.listOfPhones__item-link:hover {
  text-decoration: underline;
}

.listOfPhones__item-snippet {
  padding-left: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
}

.currentPhone__top-block {
  display: grid;
  grid-template-columns: 344px 1fr;
  grid-column-gap: 100px;
  grid-template-rows: 40px 1fr 100px;
  grid-row-gap: 15px;
  padding: 20px;
}

.currentPhone__top-block-current-img {
  padding: 24px;
  width: 344px;
  height: 344px;
  margin: 0 42px 28px 0;
}

.currentPhone__top-block-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  border-bottom: 1px solid grey;
}

.currentPhone__top-block-snippet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.currentPhone__top-block-all-imgs {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.currentPhone__top-block-all-imgs-item {
  width: 72px;
  height: 72px;
  padding: 14px;
  margin: 0 15px;
  border: 1px solid black;
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
  width:50px; height:50px;
  border:5px solid #6c757d;
  border-bottom-color:#343a40;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius:100%;
  animation: load_cyrcle 800ms infinite linear;
}

@keyframes load_cyrcle{
100%{transform:rotate(360deg);}
}
