
@font-face {
  font-family: Mont;
  src: url(fonts/Mont-Bold.otf);
  font-weight: bold;
  // font-display: swap;
}

@font-face {
  font-family: Mont;
  src: url(fonts/Mont-Regular.otf);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Mont;
}

// #root {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }
