@font-face {
  font-family: Mont, sans-serif;
  src: url(../public/fonts/Mont-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url(../public/fonts/Mont-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url(../public/fonts/Mont-SemiBold.otf);
  font-weight: 500;
}
