@font-face {
  font-family: Mont-Bold;
  src: url('./../public/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: Mont-Regular;
  src: url('./../public/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Mont-Semibold;
  src: url('./../public/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 700;
}