@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-Bold.otf");
  font-weight: 600;
}
