// @use './shared/styles/utils/reset';

@use './shared/styles/base' as *;
@use './shared/styles' as *;

.page {
  scroll-behavior: smooth;
  font-family: Mont, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg);
  min-width: 320px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: color-mix(in srgb, var(--text), transparent 70%);
}

body::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--h), var(--line-and-border) 30%);

  border-radius: 5px;
}
