@import './styles/fonts';
@import './styles/vars';
@import './styles/mixins';

html {
  font-family: Mont, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: $primary-color;

  background-color: $white-color;
  scroll-behavior: smooth;

  &:has(.menu-active) {
    overflow: hidden;
  }
}

body {
  margin: 0;
  min-width: 320px;
}

.menu-active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
