/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable color-hex-case */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable indentation */
/* stylelint-disable string-quotes */
/* stylelint-disable max-line-length */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

iframe {
  display: none;
}

@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-Regular.otf");
}

@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont-Bold.otf");
  font-weight: 700;
}
