.phons {
  display: flex;
  justify-content: space-between;

  &__container {
    padding-top: 80px;
    padding-bottom: 24px;
  }

  &__title {
    font-family: "Mont-Bold", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__slider {
    display: flex;
    justify-content: space-between;

    &--left {
      transform: rotate(180deg);
    }
  }

  &__box {
    padding: 10px 13px;
    border: 1px solid $c-icons;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      border-color: $c-primary;
    }

    &:first-child {
      margin-right: 15px;
    }
  }

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &-bg {
      position: relative;
      overflow: hidden;
      height: 368px;
      width: 368px;

      &--mobile {
        background-color: #fcdbc1;
      }

      &--tablets {
        background-color: #8d8d92;
      }

      &--accessories {
        background-color: #973d5f;
      }
    }

    &-img {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    &-title {
      display: block;
      margin-top: 25px;
      margin-bottom: 5px;

      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: $c-primary;
    }

    &-subtitle {
      font-weight: 500;
      line-height: 21px;
      color: $c-secondary;
    }
  }

  &__outer {
    display: flex;
    align-items: center;
    padding: 24px 0 40px;

    &-arrow {
      margin-left: 15px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: $c-secondary;

      &:before {
        content: ">";
        margin-right: 15px;
        width: 9px;
      }
    }
  }

  &__sort {
    display: flex;

    &-item {
      margin-top: 40px;
      margin-right: 15px;
    }

    &-title {
      display: block;
      padding-bottom: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: $c-secondary;
    }

    &-select {
      padding: 10px 12px;
      margin-bottom: 24px;
      width: 150px;
      border: 1px solid $c-icons;

      &:focus {
        border-color: $c-primary;
      }
    }
  }
}

