button {
  cursor: pointer;
}

.cart-btn {
  box-sizing: border-box;

  width: 200px;
  height: 30px;

  position: absolute;
  bottom: 20px;
  left: 20px;

  background: linear-gradient(0deg, #047CC7 0%, #049dfc 50%, #047CC7 100%);
  border: 1px solid #acadaede;
  border-radius: 5px;

  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}

.cart-btn:hover,
.cart-btn:active {
  border: 2px solid #047CC7;
  background: #e9eceede;
}

.return-and-add-btn {
  width: 220px;
  height: 40px;

  position: initial;
  margin-left: 20px;

  font-size: 14px;
  line-height: 28px;
}

.params-toggle-btn {
  position: initial;

  width: 100%;
  height: 40px;

  margin-bottom: 30px;
}

.quantity-btn {
  box-sizing: border-box;

  width: 30px;
  height: 30px;

  position: absolute;
}

.phone-card {
  &__quantity-btns {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 30px;

    position: absolute;
    bottom: 20px;
    left: 20px;

    background: #fff;
    box-shadow: 0 0 6px #fff;
    border-radius: 10px;
  }

  &__quantity-btns-btn {
    padding: 0;
    position: initial;

    width: 30px;
    height: 30px;
  }
}

.quantity-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    box-sizing: border-box;
    display: inline-block;

    width: 40px;
    height: 40px;

    position: inherit;
  }
}

.basket-page {
  &__change-quantity-btns-btn {
    position: initial;
  }

  &__shopping-list-remove-btn {
    margin-left: 9px;
    width: 200px;

    left: 0;
  }
}
