@import "./utils/_variables";
@import "./utils/mixins";

.slider {
  display: flex;
  gap: 16px;
  overflow: hidden;
  
  &__list {
    display: flex;
    overflow: hidden;
    gap: 16px;
  }

  &__item {
    & img {
      min-width: 1040px;
      max-width: 1040px;
      max-height: 400px;
      min-height: 400px;

      @include onTab {
        max-width: 600px;
        min-width: 600px;
        min-height: 350px;
        max-height: 350px;
        gap: 20px;
      }
    }
  }

  &__range {
    display: flex;
    gap: 16px;
    width: fit-content;
    padding: 0;
    margin: 20px auto 70px;

    &--item {
      width: 14px;
      height: 4px;
      background-color: $border-color-gray;
    }
  }
}
