$header-max-width: 1440px;
$body-min-width: 320px;
$error-background-color: #b87e7e80;
$border-color-hover: #313237;
$border-color: #b4bdc4;
$primary-color: #313237;
$secondary-color: #89939a;
$secondary-color-inverted: #766c65;
$icon-color: #b4bdc3;
$background-color: #fafbfc;
$body-background-color: #fff;
$red-color: #eb5757;
$grid-column-desktop: 32px;
$grid-gap-mobile: 16px;
$grid-gap-desktop: 16px;
$grid-column-mobile: 68px;
$mobile-max-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;
$desktop-padding-inline: 32px;
