.slide {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  &__img {
    margin: 0;

    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}