/* SCSS variables */
$main: #313237;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover: #fafbfc;
$white: #fff;
$green: #27ae60;
$red: #eb5757;
$transition: 0.2s ease-in;

%hover-transition {
  transition: $transition;

  &:hover {
    transition: $transition;
  }
}

%container {
  padding: 0 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 0 24px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

%page-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1%;
  color: $main;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 41px;
  }
}
