@import "../../../styles/utils/utils";

.my-back-link {
  @extend %small-text;

  color: $color-secondary;
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: url(../../../../public/img/icons/chevron-left.svg);
    position: relative;
    top: 2px;
  }
}
