.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
  padding-inline: 16px;
  margin-top: 24px;
   @media (min-width: 640px) {
    margin-bottom: 80px;
    padding-inline: 24px;
    margin-top: 24px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 80px;
    padding-inline: 152px;
    margin-top: 24px;
  }
};

.catalog__top--icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-decoration: none;
};

.catalog__icon--home {
   width: 16px;
  height: 16px;
  background-image: url('../../../public/img/icons/icon--home.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.catalog__icon--slider--right--gray {
 background-image: url('/public/img/icons/icon--slider--right--gray.png');

  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
};

.catalog__top--text {
  color: #b4bdc3;
  font-weight: 600;
font-size: 12px;
margin: 0;
};

.catalog__models--counter {
  font-weight: 600;
font-size: 14px;
line-height: 150%;
color: #e2e6e9;
};

.catalog__sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
};

.catalog__sorts {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  @media (min-width: 640px) {
    justify-content: flex-start;
  }
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.catalog__sort {
  font-family: sans-serif;
};

.catalog__sort--1 {
  width: 50%;
    @media (min-width: 640px) {
    width: 187px;
  }
  @media (min-width: 1200px) {
    width: 187px;
  }
}

.catalog__sort--2 {
  width: 50%;
    @media (min-width: 640px) {
    width: 128px;
  }
  @media (min-width: 1200px) {
    width: 128px;
  }
}

.catalog__title--sort {
  color: #e2e6e9;
};

.catalog__sort label {
  display: block;
  margin-bottom: 6px;
  color: #e2e6e9;
  font-size: 14px;
};

.catalog__slider--left--icon,
.catalog__slider--right--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;

  border: 1px solid #e2e6e9;
  background-color: white;
  cursor: pointer;
};

.catalog__slider--left--icon {
  background-image: url('../../../public/img/icons/icon--slider--left.png');
};
.catalog__slider--left--icon:hover {
  border: 1px solid black;
};

.catalog__slider--right--icon {
  background-image: url('../../../public/img/icons/icon--slider--right.png');
};

.catalog__slider--right--icon:hover {
  border: 1px solid black;
};

.catalog__slider--number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid #e2e6e9;
  width: 32px;
  height: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 150%;
text-decoration: none;
cursor: pointer;
};

.catalog__slider--number:hover {
  border: 1px solid black;
};

.catalog__slider--number--active {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.catalog__select {
  position: relative;
  width: 100%;
  font-size: 18px;
  border: 1px solid #e2e6e9;
  background-color: white;
  appearance: none;
  cursor: pointer;
  @media (min-width: 640px) {
    width: 187px;
  }
  @media (min-width: 1200px) {
    width: 187px;
  }
}
