@import '../../../../../shared/styles/common/mixins';

.productPageForm {
  display: flex;
  flex-direction: column;
  row-gap: rem(24);

  &>* {
    height: max-content;
  }

  @media (min-width:$mobile) {
    row-gap: rem(32);
  }
}

.formItem {
  width: 100%;
  padding-bottom: rem(23);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(1);
    width: 100%;
    background-color: var(--secondary-elements);
  }
}

.pricePrimary {
  font-weight: 800;
  font-size: rem(32);
  line-height: 128%;
  letter-spacing: -0.01em;
  color: var(--primary-color);
}

.priceSecondary {
  font-weight: 600;
  font-size: 22px;
  text-decoration: line-through;
  color: var(--secondary-color);
}