@use '../../styles/mixins.scss';

.main {
    margin: 24px 0 56px;

    @include mixins.on-tablet {
        margin: 40px 0 64px;
    }

    @include mixins.on-desktop {
        margin-bottom: 80px;
    }
}

.back {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
    padding-inline: 16px;

    @include mixins.on-tablet {
        padding-inline: 24px;
    }

    @include mixins.on-desktop {
        padding-inline: 32px;
    }
}

.backButton {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(137, 147, 154, 1);
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.title {
    margin: 0;
    margin-bottom: 32px;
    padding-inline: 16px;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    color: rgba(49, 50, 55, 1);

    @include mixins.on-tablet {
        padding-inline: 24px;
    }

    @include mixins.on-desktop {
        padding-inline: 32px;
    }
}

.empty {
    margin: 0;
    padding-inline: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: rgba(137, 147, 154, 1);

    @include mixins.on-tablet {
        padding-inline: 24px;
    }

    @include mixins.on-desktop {
        padding-inline: 32px;
    }
    
}

.cartContent {
    display: block;
    padding-inline: 16px;

    @include mixins.on-tablet {
        padding-inline: 24px;
    }

    @include mixins.on-desktop {
        display: flex;
        gap: 16px;
        padding-inline: 32px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

    @include mixins.on-desktop {
        margin-bottom: 0;
    }
}

.summary {
    border: 1px solid rgba(226, 230, 233, 1);

    @include mixins.on-desktop {
        height: 206px;
        flex: 1;
    }
}

.summaryContent {
    margin-bottom: 16px;
    padding: 24px 24px 0;
}

.summaryPrice {
    margin: 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    text-align: center;
    color: rgba(49, 50, 55, 1);
}

.summaryText {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(137, 147, 154, 1);

    border-bottom: 1px solid rgb(226, 230, 233);
    padding-bottom: 16px;
}

.summaryAction {
    padding: 0 24px 24px;
}

.checkoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    padding: 0;
    border: none;

    background-color: rgba(49, 50, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    cursor: pointer;
}