.item {
  @include flex-items-center;

  justify-content: space-between;
  position: relative;
  column-gap: var(--size-24);
  padding: var(--size-24);
  border: var(--border-element);

  .wrapper {
    @include flex-items-center;

    column-gap: var(--size-24);

    .delete {
      display: flex;
      padding: 0;

      svg {
        color: var(--icons);

        @include hover {
          color: var(--primary);
        }
      }
    }

    a:first-of-type {
      color: var(--primary);
    }

    p:last-child {
      font-weight: var(--fw-800);
      font-size: var(--size-22);
      line-height: 1.4;
      text-align: end;
      width: var(--size-80);
    }

    .image {
      @include flex-center;
      @include size(var(--size-80), var(--size-80));

      transition-duration: var(--transition-duration);

      img {
        height: 66px;
        object-fit: contain;
      }

      @include hover {
        scale: 1.1;
      }
    }

    .title {
      color: var(--primary);
      width: 336px;
      text-wrap: balance;

      @include hover {
        text-shadow: var(--text-shadow);
      }
    }
  }

  @include large {
    padding: var(--size-24);
    justify-content: space-evenly;

    .wrapper .title {
      width: 176px;
    }
  }

  @include mobile {
    padding: var(--size-16);
    row-gap: var(--size-16);
    flex-direction: column;

    .wrapper {
      justify-content: space-around;
      column-gap: var(--size-16);
      width: 100%;

      .title {
        width: 176px;
      }
    }
  }
}
