@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.content {
  flex-grow: 1;

  padding-top: 24px;
  padding-bottom: 56px;

  @include on-tablet {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  @include on-desktop {
    padding-top: 56px;
    padding-bottom: 80px;
  }
}
