@use '/src/utils' as *;

.HomePage {
  &__title {
    padding-block: 24px;

    @include centered;

    @include on-tablet {
      padding-block: 32px;
    }

    @include on-desktop {
      font-size: 48px;

      padding-block: 56px;
    }
  }
}
