@import "../../_utils";

.home-page {
  padding: 0 25px;
  margin: 20px auto 0;

  @include onTablet {
    max-width: 700px;
    padding: 0;
  }

  @include onDesktop {
    max-width: 900px;
    margin-top: 40px;
  }

  @media (min-width: 1440px) {
    max-width: 1136px;
  }

  &__section {
    margin-bottom: 80px;
    animation: $initialAnimation;
  }
}
