@import '../../utils/mixins';

.homePage {
  &__title {
    padding-block: 24px;

    @include on-tablet {
      padding-block: 32px;
    }

    @include on-desktop {
      padding-block: 56px;
    }

    &--hidden {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: -1px !important;
      border: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
    }
  }

  &__section {
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 80px;
    }
  }
}
