@import 'Styles/utils';

.error {
  @include flex-center;

  flex-direction: column;
  height: 100%;
  gap: 20px;

  @include h1-desktop-tablet;

  @media (max-width: $mobile-breakpoint) {
    @include h1-mobile;
  }
}

.reloadButton {
  @include buttons-text-desktop-tablet;
  @include primary-button;

  width: 200px;
  height: 50px;
}

.notFoundProducts {
  @include flex-center;

  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.notFoundMessage {
  @include h1-desktop-tablet;

  @media (max-width: $mobile-breakpoint) {
    @include h1-mobile;
  }
}

.notFoundProductsImage {
  width: 300px;
  height: 300px;
}

.back {
  @include flex-center;

  gap: 8px;
}

.catalogPage {
  display: flex;
  flex-direction: column;
  padding: 32px;

  @media (max-width: $tablet-breakpoint) {
    padding: 24px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 16px;
  }
}

.categoryTitle {
  @include h1-desktop-tablet;

  @media (max-width: $mobile-breakpoint) {
    @include h1-mobile;
  }
}

.numOfProducts {
  @include body-text-desktop-tablet;

  color: $color-secondary;
}

.breadcrumbs {
  @include small-text-desktop-tablet;
}

.productsList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  gap: 40px 16px;
}

// .sortOptions {

// }

// .sortBy{}

// .perPage{}



// .pagination{}
