@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;
@use '../../styles/utils' as *;

.goBack {
  @include small-text;

  cursor: pointer;

  display: flex;
  grid-column: 1 / -1;
  align-items: center;

  width: 66px;
  height: 16px;
  border: none;

  font-weight: 600;
  color: color(secondary);

  background-color: inherit;

  transition: color $duration-default $easing-default;

  &:hover {
    color: color(primary);
  }
}

.goBackIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 4px;

  fill: color(primary);
}

.goBackLabel {
  margin-top: 2px;
}
