@use '../../styles/index' as *;

.footer {
  padding-block: 32px;
  box-shadow: 0px -1px 0px 0px var(--elements);

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: start;

    row-gap: 16px;

    @include on-tablet {
      flex-direction: row;
      align-items: stretch;

      column-gap: 100px;
    }
  }

  &__scrollTop {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @extend %small-text;
    color: var(--secondary);

    @include on-tablet {
      justify-content: start;
    }

    @include hover(color, var(--primary));
  }
}
