@use "../../styles/mixins" as *;
@use "../../styles/vars" as *;

.Icon {
  display: block;
  margin: auto;
  color: var(--icon-color);
  transition: transform $transition-duration, color $transition-duration;
}

.MenuLink {
  display: block;
  box-sizing: border-box;
  padding-top: $active-underline-width;
  border-bottom: $active-underline-width solid;
  align-content: center;

  @include square(48px);
  @include color-transition((border-color: transparent));
  
  @include for-desktop {
    @include square(64px);
  }

  &_active {
    border-color: var(--active-color);
  }

  &_device {
    &_mobile {
      display: none;

      @include for-mobile {
        display: block;
      }
    }

    &_notMobile {
      @include for-mobile {
        display: none;
      }
    }
  }

  &:hover > .Icon {
    transform: $hover-scale;
  }
}
