@import '../../styles/utils';

.product-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__button {
    height: 40px;
    width: max-content;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-inline: 10px;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $color-icons;
    border: none;
    color: $color-white;

    &-icon {
      font-weight: 800;
      padding-inline: 5px 15px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $color-white;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 300px;
  }

  &__image {
    max-height: 400px;
    object-fit: contain;
  }
}
