.pagination {
  display: flex;
  flex-direction: column;
  color: #89939a;
  font-size: 12px;
  font-weight: 600;

  &__select {
    width: 128px;
    height: 40px;
    padding: 10px 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: rgba(49, 50, 55, 1);
    border: 1px solid #b4bdc3;
  }
}
