@import '../../styles/global';

.cartItem {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  background-color: #161827;
  transition: opacity 0.5s ease-in-out;

  &.removing {
    opacity: 0;
  }

  @include on-phone {
    width: 100%;
  }

  @include on-tablet {
    width: 100%;
  }

  @include on-desktop {
    width: 752px;
  }
}

.cartItemDetails {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  @include on-phone {
    flex-direction: column;
  }

  @include on-tablet {
    flex-direction: row;
  }

  @include on-desktop {
    flex-direction: row;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.cartItemDetails img {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: 66px;
  height: 66px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}

.cartItemName {
  font-family: $font-primary;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: $gray-white;
}

.cartItemPrice {
  font-family: $font-primary;
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  color: $gray-white;
  text-align: right;
  margin: 0;
  width: 80px;
}

.cartItemControlButton {
  background-color: #323542;
  color: white;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #4a4d58;
  }
}

.cartItemQuantity {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}

.cartItemControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.totalFor {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: $gray-secondary;

  &::after {
    content: '';
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    position: absolute;
    height: 1px;
    background: #3b3e4a;
    width: 100%;
  }
}

.cartItemRemove {
  border: none;
  cursor: pointer;
  background: none;
  margin-right: 8px;
  padding: 0;

  svg {
    transition: all 0.3s ease-in-out;

    color: #4a4d58;
    width: 16px;
    height: 16px;
  }

  &:hover {
    svg {
      color: $gray-white;
    }
  }
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include on-phone {
    width: 100%;
    justify-content: flex-start;
  }
}

.priceQuantityWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include on-phone {
    width: 100%;
    justify-content: space-between;
  }
}
