@import "../../styleUtils/_variables.scss";

.banner {
  &__wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }

  &__slider {
    overflow: hidden;
    width: 1040px;
    height: 400px;
  }

  &__image {
    width: 1040px;
    height: 400px;
    object-fit: cover;
  }

  &__button {
    background-color: white;
    transition: border 0.5s;
    border: 1px solid $icons;
    width: 32px;
    height: 400px;
    cursor: pointer;

    &:hover {
      border: 1px solid $primary-text;
    }
  }

  &__indicator-container {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__indicator {
    width: 14px;
    height: 4px;
    background-color: $elements;

    &--active {
      background-color: $primary-text;
    }
  }
}
