@use '../../../styles/variables' as *;
@use '../../../styles/mixins.scss' as *;

.counter {
  display: flex;

  &__block {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    @include grey-button;

    svg {
      path {
        fill: $text;
      }
    }

    &:disabled {
      svg {
        path {
          fill: $icons;
        }
      }
    }
  }
}