.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;

  &__button {
    height: 100%;
    width: 32px;
    border: 1px solid #b4bdc4;
    background: #fff;
    outline: none;

    cursor: pointer;
  }

  &__arrow {
    &--left {
      transform: rotate(-90deg);
    }

    &--right {
      transform: rotate(90deg);
    }
  }

  &__main-0 {
    width: calc(100% - 96px);
    height: 100%;
    background: url("../../assets/slider-0.png") center no-repeat;
    background-size: cover;

    position: relative;
  }

  &__main-1 {
    width: calc(100% - 96px);
    height: 100%;
    background: url("../../assets/slider-1.png") center no-repeat;
    background-size: cover;

    position: relative;
  }

  &__main-2 {
    width: calc(100% - 96px);
    height: 100%;
    background: url("../../assets/slider-2.png") center no-repeat;
    background-size: cover;

    position: relative;
  }

  &__main-img {
    height: 100%;
  }

  &__dots {
    position: absolute;
    content: "";
    bottom: -18px;
    right: 50%;
    transform: translateX(50%);
    height: 4px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dot {
    height: 100%;
    width: 14px;

    background: #e2e6e9;

    &--active {
      background: #313237;
    }
  }
}
