@font-face {
  font-family: "Mont";
  src: url(../../fonts/Mont-Regular.otf);
  font-style: normal;
  font-weight: $medium-weight;
}

@font-face {
  font-family: "Mont";
  src: url(../../fonts/Mont-SemiBold.otf);
  font-style: normal;
  font-weight: $semi-bold-weight;
}

@font-face {
  font-family: "Mont";
  src: url(../../fonts/Mont-Bold.otf);
  font-style: normal;
  font-weight: $bold-weight;
}
