.icon {
  padding: 0;
  background: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    padding: 16px;
    position: relative;
  }

  &__img-scale {
    @include hover(transform, scale(1.1));
  }

  &__favourite {
    transition: all $effect-duration ease;
    &:hover {
      border-color: $primary-color;
    }
  }

  &-active {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
    }
  }

  &__count {
    height: 13px;
    width: 13px;
    background-color: $red-color;
    border-radius: 50%;
    border: 1px solid $white-color;
    position: absolute;
    top: 40%;
    right: 25%;
    transform: translateY(-60%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__count-number {
    font-size: 7px;
    line-height: 11px;
    color: $white-color;
  }
}
