.not-found {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  &__image {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
  }
}
