@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.back-to-top {
  height: 32px;
  cursor: pointer;

  gap: $column-gap-p;
  display: flex;
  align-items: center;

  &__label {
    @include small-text;
  }
}
