.productsList {
  display: flex;
  flex-wrap: wrap; /* Элементы будут переноситься на новую строку */
  gap: 40px 16px; /* Расстояние между элементами: 40px между строками, 16px между колонками */
  margin-top: 24px;
}

// .productPage__item {
//   flex: 0 1 calc(25% - 16px); /* 4 карточки в ряду с учетом отступов между ними */
// }
