@use '/src/styles';

.categories {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include styles.media(tablet) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__image {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__infoTitle {
    color: styles.get-color(primary);

    @include styles.typography(h4);
  }

  &__infoText {
    color: styles.get-color(secondary);

    @include styles.typography(body);
  }
}
