@import '../../styles/fonts';
@import '../../styles/variables';

.btnBack {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-decoration: none;
  color: $secondary-color;
  gap: 4px;
  img {
    height: 16px;
    width: 16px;
  }
  p {
    @include font-small-text-bold;
  }
}
